

<div class="ui-mini-list u-margin-bottom">
  <h4 class="heading-quaternary">Similar Items</h4>

  <div class="ui-mini-list__content">
    <ul>
      <li>
        <div class="ui-mini-list__item">
          <div class="ui-mini-list__item--image-outer">
            <img src="https://s3.amazonaws.com/img.onpicks.com/p-similar-1.jpg" alt="">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path d="M16.26,6a2.67,2.67,0,0,1,1.42.42,2.88,2.88,0,0,1,.49.41,3,3,0,0,1,0,4.16l-.91.95L16.21,13l0,.05,0,0,0,0L12,17.39,7.89,13.14l0,0,0,0,0-.05-1-1.08L5.83,11a3,3,0,0,1,0-4.16,2.88,2.88,0,0,1,.49-.41A2.67,2.67,0,0,1,7.74,6a2.62,2.62,0,0,1,1.91.83l.3.31.52.54a2.16,2.16,0,0,0,3.09,0l.49-.5.3-.31A2.62,2.62,0,0,1,16.26,6m0-2a4.65,4.65,0,0,0-3.35,1.44l-.3.31-.49.5a.15.15,0,0,1-.24,0l-.49-.5-.3-.31a4.63,4.63,0,0,0-6.7,0,5,5,0,0,0,0,6.94l.91.94,1,1.09,0,0,5.19,5.37s0,0,0,0a.6.6,0,0,0,.84,0s0,0,0,0l5.19-5.37,0,0,1.05-1.09.91-.94a5,5,0,0,0,0-6.94A4.67,4.67,0,0,0,16.26,4Z"/>
            </svg>
          </div>
          <div class="ui-mini-list__item--name-outer">
            <p class="ui-mini-list__item--name-outer-brand">Larabar</p>
            <span class="ui-mini-list__item--name-outer-name">
              Larabar Fruit and Nut Bar - Cashew Cookie 16ct, 1.7oz
            </span>
          </div>
          <ui-star-rating></ui-star-rating><span class="ui-mini-list__item--reviews-count">30</span>
          <br>
          <span class="ui-mini-list__item--discount">50%</span>
          <span class="ui-mini-list__item--price">$25</span>
          <span class="ui-mini-list__item--MSRP">MSRP</span>
          <span class="ui-mini-list__item--MSRP-discount">$50</span>
        </div>
      </li>
      <li>
        <div class="ui-mini-list__item">
          <div class="ui-mini-list__item--image-outer">
            <img src="https://s3.amazonaws.com/img.onpicks.com/p-similar-2.jpg" alt="">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path d="M16.26,6a2.67,2.67,0,0,1,1.42.42,2.88,2.88,0,0,1,.49.41,3,3,0,0,1,0,4.16l-.91.95L16.21,13l0,.05,0,0,0,0L12,17.39,7.89,13.14l0,0,0,0,0-.05-1-1.08L5.83,11a3,3,0,0,1,0-4.16,2.88,2.88,0,0,1,.49-.41A2.67,2.67,0,0,1,7.74,6a2.62,2.62,0,0,1,1.91.83l.3.31.52.54a2.16,2.16,0,0,0,3.09,0l.49-.5.3-.31A2.62,2.62,0,0,1,16.26,6m0-2a4.65,4.65,0,0,0-3.35,1.44l-.3.31-.49.5a.15.15,0,0,1-.24,0l-.49-.5-.3-.31a4.63,4.63,0,0,0-6.7,0,5,5,0,0,0,0,6.94l.91.94,1,1.09,0,0,5.19,5.37s0,0,0,0a.6.6,0,0,0,.84,0s0,0,0,0l5.19-5.37,0,0,1.05-1.09.91-.94a5,5,0,0,0,0-6.94A4.67,4.67,0,0,0,16.26,4Z"/>
            </svg>
          </div>
          <div class="ui-mini-list__item--name-outer">
            <p class="ui-mini-list__item--name-outer-brand">Endangered Species Chocolate</p>
            <span class="ui-mini-list__item--name-outer-name">
              ONE Protein Bar, Birthday Cake, 2.12 oz. (12 Pack), Gluten-Free Protein Bar with High Protein (20g) and Low Sugar (1g), Guilt Free…
            </span>
          </div>
          <ui-star-rating></ui-star-rating><span class="ui-mini-list__item--reviews-count">30</span>
          <br>
          <span class="ui-mini-list__item--discount">50%</span>
          <span class="ui-mini-list__item--price">$25</span>
          <span class="ui-mini-list__item--MSRP">MSRP</span>
          <span class="ui-mini-list__item--MSRP-discount">$50</span>
        </div>
      </li>
      <li>
        <div class="ui-mini-list__item">
          <div class="ui-mini-list__item--image-outer">
            <img src="https://s3.amazonaws.com/img.onpicks.com/p-similar-3.jpg" alt="">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path d="M16.26,6a2.67,2.67,0,0,1,1.42.42,2.88,2.88,0,0,1,.49.41,3,3,0,0,1,0,4.16l-.91.95L16.21,13l0,.05,0,0,0,0L12,17.39,7.89,13.14l0,0,0,0,0-.05-1-1.08L5.83,11a3,3,0,0,1,0-4.16,2.88,2.88,0,0,1,.49-.41A2.67,2.67,0,0,1,7.74,6a2.62,2.62,0,0,1,1.91.83l.3.31.52.54a2.16,2.16,0,0,0,3.09,0l.49-.5.3-.31A2.62,2.62,0,0,1,16.26,6m0-2a4.65,4.65,0,0,0-3.35,1.44l-.3.31-.49.5a.15.15,0,0,1-.24,0l-.49-.5-.3-.31a4.63,4.63,0,0,0-6.7,0,5,5,0,0,0,0,6.94l.91.94,1,1.09,0,0,5.19,5.37s0,0,0,0a.6.6,0,0,0,.84,0s0,0,0,0l5.19-5.37,0,0,1.05-1.09.91-.94a5,5,0,0,0,0-6.94A4.67,4.67,0,0,0,16.26,4Z"/>
            </svg>
          </div>
          <div class="ui-mini-list__item--name-outer">
            <p class="ui-mini-list__item--name-outer-brand">Rxbar</p>
            <span class="ui-mini-list__item--name-outer-name">
              RXBAR Whole Food Protein Bar, Chocolate Sea Salt, 1.83 Ounce (Pack of 12)
            </span>
          </div>
          <ui-star-rating></ui-star-rating><span class="ui-mini-list__item--reviews-count">30</span>
          <br>
          <span class="ui-mini-list__item--discount">50%</span>
          <span class="ui-mini-list__item--price">$25</span>
          <span class="ui-mini-list__item--MSRP">MSRP</span>
          <span class="ui-mini-list__item--MSRP-discount">$50</span>
        </div>
      </li>
      <li>
        <div class="ui-mini-list__item">
          <div class="ui-mini-list__item--image-outer">
            <img src="https://s3.amazonaws.com/img.onpicks.com/p-similar-4.jpg" alt="">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path d="M16.26,6a2.67,2.67,0,0,1,1.42.42,2.88,2.88,0,0,1,.49.41,3,3,0,0,1,0,4.16l-.91.95L16.21,13l0,.05,0,0,0,0L12,17.39,7.89,13.14l0,0,0,0,0-.05-1-1.08L5.83,11a3,3,0,0,1,0-4.16,2.88,2.88,0,0,1,.49-.41A2.67,2.67,0,0,1,7.74,6a2.62,2.62,0,0,1,1.91.83l.3.31.52.54a2.16,2.16,0,0,0,3.09,0l.49-.5.3-.31A2.62,2.62,0,0,1,16.26,6m0-2a4.65,4.65,0,0,0-3.35,1.44l-.3.31-.49.5a.15.15,0,0,1-.24,0l-.49-.5-.3-.31a4.63,4.63,0,0,0-6.7,0,5,5,0,0,0,0,6.94l.91.94,1,1.09,0,0,5.19,5.37s0,0,0,0a.6.6,0,0,0,.84,0s0,0,0,0l5.19-5.37,0,0,1.05-1.09.91-.94a5,5,0,0,0,0-6.94A4.67,4.67,0,0,0,16.26,4Z"/>
            </svg>
          </div>
          <div class="ui-mini-list__item--name-outer">
            <p class="ui-mini-list__item--name-outer-brand">Shanti Bar</p>
            <span class="ui-mini-list__item--name-outer-name">
              Shanti Stainless Steel Flat Speed Bar Bottle Openet
            </span>
          </div>
          <ui-star-rating></ui-star-rating><span class="ui-mini-list__item--reviews-count">30</span>
          <br>
          <span class="ui-mini-list__item--discount">50%</span>
          <span class="ui-mini-list__item--price">$25</span>
          <span class="ui-mini-list__item--MSRP">MSRP</span>
          <span class="ui-mini-list__item--MSRP-discount">$50</span>
        </div>
      </li>
    </ul>
  </div>
</div>

