<span class="cart__free-table--delivery-info-image subtitle-1-bold"
      [ngClass]=
        "[
                      (locationMap[itemForFree.location.code].nickname === 'la')  ? 'icon-small-la' : '',
                      (locationMap[itemForFree.location.code].nickname === 'new')  ? 'icon-small-new' : '',
                      (locationMap[itemForFree.location.code].nickname === 'osaka')  ? 'icon-small-osaka' : '',
                      (locationMap[itemForFree.location.code].nickname === 'gorgia')  ? 'icon-small-gorgia' : '',
                      (locationMap[itemForFree.location.code].nickname === 'hong')  ? 'icon-small-hong' : ''
                    ]">
                </span>
