@import "~src/assets/scss/abstracts/variables";

.popular-brand {
  width: inherit;;
  margin-bottom:5.6rem;


  &__content {

    white-space: nowrap;
    overflow: hidden;
    &--outer {
      position:relative;
    }
  }

  &__ul {

    transition: transform .5s ease 0s;
  }

  &__title {
    margin-bottom : 2.4rem;
  }

  &__image--outer {
    width: 100%;
    height:16.8rem;
    margin-bottom : 2.4rem;


    @include respond(fb){
      height: 100%;
    }

    img {
      width:100%;
      height:100%;
      border-radius : 50%;
    }
  }

  &__item {
    float : none !important;
    display:inline-block;
    img {
      user-select: none;
    }
    &--name {
      text-align: center;
      width:9rem;
      margin : 0 auto;
      display:block;
    }
  }
}
