label {
  cursor: pointer;
}



//svg {

  //& polygon {
  //  fill : grey;
  //}-
//}

.star{
   &--10 {
     display:inline-block;
     width: 1rem;
     height: 1rem;
     margin-right: 0.1rem;
   }

  &--14 {
    display:inline-block;
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.2rem;
  }

  &--28 {
    position : relative;
    input[id^="star28"] {
      display : none;
    }
    //input[id $="--half"] {
    //  &:checked ~ svg use {
    //    fill : url(#grad) !important;
    //  }
    //}
    //input[id $="--full"] {
    //  &:checked ~ svg use {
    //    fill : #292929 !important;
    //  }
    //}


    svg {
      width : 100%;
      height : 100%;
    }

    label {
      position : absolute;
      left : 0;
      display:inline-block;
      width : 100%;
      height :100%;
      &[for $= '--half'] {
        width : 50%;
        backgorund-color : blue;

      }
      //& {
      //  background-color : blue;
      //}


    }

    display:inline-block;
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 0.4rem;
  }
}

input[name="star"] {
  display: inline-block;
  width: 0;
  opacity: 0;
  margin-left: -0.2rem;
}

/* hide source svg */

.star-source {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* set direction to row-reverse so 5th star is at the end and ~ can be used to fill all sibling stars that precede last starred element*/

.star-container {
  display: inline-block;
}
.star-source {
  display: inline-block;
}
