

<div class="available-reviews">
  <ng-template #loading>
    <onpicks-loading-icon></onpicks-loading-icon>
  </ng-template>
  <ng-container *ngIf="orderData$ | async as data; else loading">
    <h1 class="h1-bold">작성 가능한 리뷰</h1>
    <ng-container *ngIf="data?.results?.length === 0;">
      <div
        class="available-reviews__empty-title subtitle-1-regular u-color-dark-grey">
        작성 가능한 리뷰가 없습니다. 다양한 아이템을 최적의 가격으로 쇼핑하여 리뷰를 남겨주세요!
      </div>

      <ui-mini-list
        [mobileType]="'full'"
        [carouselLength]="3"
        [infoList]="weeklyBest$ | async"
        [setTitle]="'추천상품'">
      </ui-mini-list>
    </ng-container>

    <ng-container  *ngIf="data?.results?.length !== 0; ">
      <emitter-adhere-table
        (viewModal)="viewModal($event)"
        [data]="data"
        [type]="'available'">
      </emitter-adhere-table>

      <onpicks-write-review
        [writeReview]="writeReview"
        (exit)="writeReview.isShow = false"
        [isShow]="writeReview.isShow">
      </onpicks-write-review>
    </ng-container>
  </ng-container>



  <!--<div>작성 가능한 리뷰가 없습니다. 다양한 아이템을 최적의 가격으로 쇼핑하여 리뷰를 남겨주세요!</div>-->
  <!--<ui-mini-list [setTitle]="'추천상품'"></ui-mini-list>-->
</div>
