$red : #FF0000;
$color-grey: #b3b3b3;
$color-black: #3a3a3a;
$color-dark-black : #000000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 112.8rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2.4rem;
$gutter-horizontal: 2.4rem;
