.forgot-password {
  width: 36rem;
  padding : 2.4rem;
  margin : 3rem auto 4rem auto;
  border : solid 1px #e5e5e5;

  &__title {
    margin-bottom : 2.4rem;
  }

  &__description {
    margin-bottom : 1.6rem;
  }

  &__input {
    padding : 1rem 1.6rem;
    width : 100%;
    margin-bottom : 2.4rem;
    &::placeholder {
      color : #b3b3b3;
    }
  }

  &__btn {
    display:block;
    // height : 4.6rem;
    // border-radius: 4px;
    margin-bottom : 2.4rem;
  }


  hr {
    border : 0px;
    border-bottom : solid 1px #e5e5e5;
    margin-bottom : 2.4rem;
  }

  &__back-to-login {

  }

}
