@import '../../../../../../assets/scss/abstracts/variables';


.checkout-right {
  &__menu {
    will-change: transform;
    background: white;
    position: relative;
    @include respond(tb){
      display:none;
    }

    border : 1px solid $color-light-grey;
    padding : 2.4rem;

    &--title {
      margin-bottom : 18px;
    }

    &--checkout {
      border-top : 1px solid $color-light-grey;
      padding-top : 2.4rem;
      &-button {
        width: 50.4rem;
        height : 4.6rem;
      }
    }

    &--price {
      padding-top : 2.2rem;
      border-top : 1px solid $color-light-grey;
      border-bottom : 1px solid $color-light-grey;
      &-productall {
        margin-bottom : 4px;
        &-tag {

        }
        &-value {
          float : right;
        }
      }

      &-delivery {
        margin-bottom : 4px;
        &-tag {

        }
        &-value {
          float : right;
        }
      }
      &-discount {
        margin-bottom : 1.6rem;

        &-value {
          falot : right;
        }
      }

      &-all {
        margin-bottom : 2.5rem;
        &-value {
          float : right;
        }
      }
    }

    &--item {
      &-outer{
        overflow-y: scroll;
        max-height: 50vh;
      }

      border-top : 1px solid $color-light-grey;
      position : relative;
      padding : 2.4rem 0;

      &-image {

        display: inline-block;
        width: 11.2rem;
        height: 11.2rem;
        img {
          @include imageAspactRatio;
        }
      }

      &-info {
        vertical-align: top;
        margin-left : 2.4rem;
        display : inline-block;
        width : calc(100% - 13.6rem);
        &-brand {
          margin-bottom : 4px;
        }

        &-name {
          margin-bottom : 4px;
        }

        &-option {
          margin-bottom : 4px;
        }

        &-price {

        }
      }
    }
  }
}
