<div class="adhere-table" *ngFor="let results of data?.results">

  <div class="adhere-table__sub-title-box">
    <div class="subtitle-2-regular">
      <span>주문일자</span>
      <span>
        <strong>{{results.created | date : 'longDate'}}</strong>
      </span>
      <span>주문번호</span>
      <span>
        <strong>{{results.code}}</strong>
      </span>
      <span>
         <button
           routerLink="/account/my-shopping/orders-detail/{{results.code}}" class="subtitle-2-bold u-color-green">상세보기 >
         </button>
      </span>
    </div>
  </div>

  <div class="adhere-table__item" *ngFor="let item of results.items">
    <div class="adhere-table__item--image">
      <img src="{{item.thumbnail}}" alt="">
    </div>

    <div class="adhere-table__item-info">
      <div class="adhere-table__item-info--title subtitle-2-bold">{{item.brand}}</div>
      <div class="adhere-table__item-info--name body-3-regular">{{item.title}}</div>
      <div class="adhere-table__item-info--option subtitle-3-regular u-color-grey">카카오 다크 초콜릿</div>
      <div class="adhere-table__item-info--price subtitle-2-bold">{{item.sale_price | onpicksCurrency : 'KRW' }}</div>
    </div>

    <!--<div class="adhere-table__item-state">-->
      <!---->
    <!--</div>-->

    <div class="adhere-table__item-state">
      <div class="adhere-table__item-state--title subtitle-2-bold">{{item.status_display}}</div>
      <div
        *ngIf="results.deposit_until !== ''"
        class="adhere-table__item-state--date subtitle-3-regular">입금기한 {{results.deposit_until | date : 'longDate'}}
      </div>
      <div class="adhere-table__item-state--btn subtitle-2-regular">

        <onpicks-button
          *ngIf="item.status === 'completed' && items?.review_published === false"
          [type]="'green'"
          (click)="viewModal('write_review', item, results.code)"
          [width]="'8.8rem'">리뷰 쓰기
        </onpicks-button>

        <onpicks-button
          *ngIf="item.status === 'pending' || item.status === 'paid'"
          [type]="'white'"
          [width]="'8.8rem'">주문 취소
        </onpicks-button>

        <onpicks-button
          *ngIf="item.status === 'fulfilled'"
          [type]="'white'"
          [width]="'8.8rem'">배송 추적
        </onpicks-button>

        <onpicks-button
          *ngIf="item.status === 'delivered'"
          [type]="'white'"
          [width]="'8.8rem'">구매 확정
        </onpicks-button>

        <onpicks-button
          *ngIf="item.status === 'delivered'"
          [type]="'white'"
          [marginLeft]="'0.8rem'"
          [width]="'8.8rem'">반품 요청
        </onpicks-button>
      </div>
    </div>

  </div>
</div>

