<div class="row my-shopping-index">
  <div class="col-3-of-12 my-shopping-navigator">
    <div>
      <button class="my-shopping-navigator__item subtitle-2-bold u-color-grey"
              routerLink="orders"
              routerLinkActive="u-color-black"
      >
        주문·배송조회
      </button>
    </div>
    <div>
      <button class="my-shopping-navigator__item subtitle-2-bold u-color-grey"
              routerLink="credits"
              routerLinkActive="u-color-black"
      >
        포인트·쿠폰
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>


