@import '../../../../assets/scss/abstracts/variables';

.header {

  .active {
    color: $color-dark-black;
  }

  hr {
    margin : 0;
  }

  & > .row {
    margin-bottom : 0;
  }

  &__miscell {
    height : 3.8rem;

    & span {
      position:relative;
      top:25%;
    }
    & div {
      position:relative;
      top:25%;
    }
    &--zip-code {
      margin-right: 1.6rem;
      font-size : 1.4rem;
      letter-spacing: 0.03rem;
      color: $color-dark-grey;
    }

    &--nation {
      text-transform: uppercase;
      margin-right : 3.2rem;
      font-size : 1.4rem;
      letter-spacing: 0.03rem;
      color: $color-dark-black;
    }

    &--currency {
      text-transform: uppercase;
      margin-right : 3.2rem;
      font-size : 1.4rem;
      letter-spacing: 0.03rem;
      color: $color-dark-black;
    }

    &--language {
      text-transform: uppercase;
      font-size : 1.4rem;
      letter-spacing: 0.03rem;
      color: $color-dark-black;
    }

    &--login {
      margin-right : 1.6rem;
      font-size : 1.4rem;
      color : $color-dark-black;
      letter-spacing:0.03rem;
    }

    &--slash {
      margin-right : 1.6rem;
      font-size : 1.4rem;
      color : $color-grey;
      font-weight:500;
      letter-spacing:0.03rem;
    }

    &--signup{
      margin-right : 2.4rem;
      font-size : 1.4rem;
      color : $color-dark-black;
      letter-spacing:0.03rem;
    }

    &--favorites {
      margin-right : 2.4rem;
      svg {
        vertical-align: middle;
        //position:relative;
        //top : 20px;
      }
    }

    &--shopping-bag {
      margin-right : 2.4rem;
      svg {
        vertical-align: middle;
        //position:relative;
        //top : 20px;
      }
    }
  }

  &__main-nav {
    height : 7rem;
    position: relative;

    &--outer {
      position:relative;
      top : 25%;
      display:table;
    }

    &--search {
      right : 8rem;
      @include verticalCenter;
      border-radius : 2px;
      border : solid 1px #dddddd;
      width : 46.4rem;
      height: 4rem;

      &-input {
        border : 0;
        width:15.4rem;
        @include verticalCenter;
        left:5.4rem;
        font-size:1.4rem;
        font-weight: 500;
        letter-spacing: 0.03rem;
        color: $color-dark-black;

        &::placeholder {
          color:$color-dark-grey;
        }
      }

      svg {
        @include verticalCenter;
        left : 1.4rem;

      }
    }


    //&__search-reviews {
    //  position:relative;
    //  top: -1rem;
    //  width : 20rem;
    //  height: 4rem;
    //  float:right;
    //  display:inline-block;
    //  border-radius : 2px;
    //  border : solid 1px #dddddd;
    //  line-height: 4rem;
    //  &--input {
    //    margin-left: 5.6rem;
    //    border : 0;
    //    width : 10.6rem;
    //    height : 1.6rem;
    //    font-size:1.4rem;
    //    font-weight : 500;
    //    letter-spacing : 0.03rem;
    //    &::placeholder {
    //      color : #767676;
    //    }
    //  }
    //
    //  &--search-icon {
    //    @include verticalCenter;
    //    left : 1.6rem;
    //  }
    //}

    svg {
      margin-right : 6.4rem;
    }

    nav {
      display : table-cell;
      vertical-align:middle;
      li {

        display : inline-block;
        text-transform : uppercase;
        list-style : none;
        font-size : 1.8rem;
        font-weight : 700;

        margin-right : 4rem;

        &:first-child {
          color : $color-dark-black;
        }
        &:not(:first-child){
          color : $color-grey;
        }
      }
    }
  }

  &__category-nav {
    background-color : $color-dark-black;
    height : 6rem;
    position: relative;
    nav{
      @include verticalCenter;
      top: 49%;
      ul {
        li {
          font-size:1.4rem;
          font-weight:700;
          letter-spacing : 0.03rem;
          color : $color-white;
          list-style : none;
          display:inline-block;

          &:not(:last-child) {
            margin-right: 4rem;
          }
        }
      }
    }
  }

}
