<div class="current-nav">
  <div class="row">
    Health & Beauty
    <span>/</span>
    Health Care
    <span>/</span>
    Fitness & Nutrition
    <span>/</span>
    Nutrition Bars
    <span>/</span>
    Nutrition Bars
    <hr>
  </div>
</div>


<section class="showcases">

  <div class="row showcases__grid--row">
    <!--<div class="showcases__grid&#45;&#45;column col-4-of-12">-->
    <div class="col-4-of-12 showcases__grid--column">
      <div class="lazyLoadOuter">
        <img drLazyLoad class="showcases__grid--contents-image" src="https://picsum.photos/360/360?image=100" alt="">
      </div>

      <div class="showcases__grid--contents-category">
        Beauty
      </div>
      <div class="showcases__grid--contents-title">
        Have You Discovered Lancome?
      </div>
    </div>
    <div class="col-4-of-12 showcases__grid--column">
      <div class="lazyLoadOuter">
        <img drLazyLoad class="showcases__grid--contents-image" src="https://picsum.photos/360/360?image=200" alt="">
      </div>
      <div class="showcases__grid--contents-category">
        Beauty
      </div>
      <div class="showcases__grid--contents-title">
        You Won’t Believe That These Brands are Vegan
      </div>
    </div>
    <div class="col-4-of-12 showcases__grid--column">
      <div class="lazyLoadOuter">
        <img drLazyLoad class="showcases__grid--contents-image" src="https://picsum.photos/360/360?image=300" alt="">
      </div>
      <div class="showcases__grid--contents-category">
        Electronics
      </div>
      <div class="showcases__grid--contents-title">
        The New Galaxy
      </div>
    </div>
    <!--<img src="https://picsum.photos/360/360?image=0" alt="">-->
    <!--</div>-->
    <!--<div class="showcases__grid&#45;&#45;column col-4-of-12">-->
      <!--<img src="https://picsum.photos/360/360?image=100" alt="">-->

    <!--</div>-->
    <!--<div class="showcases__grid&#45;&#45;column col-4-of-12">-->
      <!--<img src="https://picsum.photos/360/360?image=200" alt="">-->
    <!--</div>-->
  </div>


  <div class="showcases__grid--row row">
    <div class="col-4-of-12 showcases__grid--column">
      <div class="lazyLoadOuter">
        <img drLazyLoad class="showcases__grid--contents-image" src="https://picsum.photos/360/360?image=400" alt="">
      </div>
      <div class="showcases__grid--contents-category">
        Beauty
      </div>
      <div class="showcases__grid--contents-title">
        Match Your Scent to Your Mood
      </div>
    </div>
    <div class="col-4-of-12 showcases__grid--column">
      <div class="lazyLoadOuter">
        <img drLazyLoad class="showcases__grid--contents-image"src="https://picsum.photos/360/360?image=500" alt="">
      </div>
      <div class="showcases__grid--contents-category">
        Fashion
      </div>
      <div class="showcases__grid--contents-title">
        Rolex - Timeless Luxury Watches
      </div>
    </div>
    <div class="col-4-of-12 showcases__grid--column">
      <div class="lazyLoadOuter">
        <img drLazyLoad class="showcases__grid--contents-image" src="https://picsum.photos/360/360?image=600" alt="">
      </div>
      <div class="showcases__grid--contents-category">
        Pantry & Household
      </div>
      <div class="showcases__grid--contents-title">
        Whole Food Protein Bars with Real Ingredients
      </div>
    </div>
    <!--<div class="showcases__grid&#45;&#45;column col-4-of-12">-->
     <!--<img src="https://picsum.photos/360/360?image=300" alt="">-->

    <!--</div>-->
    <!--<div class="showcases__grid&#45;&#45;column col-4-of-12">-->
      <!--<img src="https://picsum.photos/360/360?image=400" alt="">-->

    <!--</div>-->
    <!--<div class="showcases__grid&#45;&#45;column col-4-of-12">-->
      <!--<img src="https://picsum.photos/360/360?image=500" alt="">-->
    <!--</div>-->
  </div>
</section>
