<div class="current-nav">
  <div class="row">
    Health & Beauty
    <span>/</span>
    Health Care
    <span>/</span>
    Fitness & Nutrition
    <span>/</span>
    Nutrition Bars
    <span>/</span>
    Nutrition Bars
    <hr>
  </div>
</div>


<div class="row">
  <div (drop)="dropFiles($event)" (dragover)="onDragOver($event)" class="drag-and-drop">

  </div>
  <img [src]="imgSrc | safeHtml" alt="">
</div>

<!--각 줄마다 row로 하지 않은것은, 좀더 iterate을 쉽게 하기 위해서, row. col조합에 대한 딱히 이점을 느끼지 못해서-->
<section class="showcases">
  <div class="row showcases__grid--row">
    <div class="showcases__grid--column" *ngFor="let item of showcasesDataList">
      <div class="lazyLoadOuter">
        <img drLazyLoad class="showcases__grid--contents-image" src="{{item.imgSrc}}" alt="">
      </div>

      <div class="showcases__grid--contents-category">
        {{item.category}}
      </div>
      <div class="showcases__grid--contents-title">
        {{item.title}}
      </div>
    </div>
  </div>
</section>
