<div class="ui-dynamic-carousel">
  <div class="ui-dynamic-carousel__content--outer">
    <div class="ui-dynamic-carousel__content">
      <ul
        class="ui-dynamic-carousel__content--ul"
        #container>
        <li
          *ngFor="let item of imagesLargeList; index as i"
          #imageLargeOuter
          class="ui-dynamic-carousel__content--item">
          <span>
            <img [src]="item" alt="">
          </span>

        </li>
      </ul>
      <button
        *ngIf="!(imagesLargeList.length === 1)"
        class="ui-dynamic-carousel__content-prev-button"
        (click)="prevButton()">
        <svg width="15" height="26" viewBox="0 0 15 26">
          <path fill="none" fill-rule="evenodd" stroke="#E5E5E5" stroke-width="2" d="M14 1L2 13.098 14 25"/>
        </svg>
      </button>
      <button
        *ngIf="!(imagesLargeList.length === 1)"
        class="ui-dynamic-carousel__content-next-button"
        (click)="nextButton()">
        <svg width="15" height="26" viewBox="0 0 15 26">
          <path fill="none" fill-rule="evenodd" stroke="#E5E5E5" stroke-width="2" d="M1 25l12-12.098L1 1"/>
        </svg>
      </button>
    </div>
  </div>
  <div #imagesSmallOuter class="ui-dynamic-carousel__content--small">
    <div #imageSmallOuter
         (click)="clickImageSmall(imageSmallOuter)"
         *ngFor="let item of imagesSmallList; index as i;"
         [attr.data-index]="(i + 1)"
         [ngClass]="{'ui-dynamic-carousel__content--small-border' : (i + 1) == this.imageIndex }" >
      {{index}}
      <img drLazyLoad [src]="item">
    </div>
  </div>
  <div
    class="ui-dynamic-carousel__content--small-mobile">
    <span
      *ngFor="let item of imagesSmallList; index as i;"
      [ngClass]="{'ui-dynamic-carousel__content--small-mobile--circle--active' : (i + 1) == this.imageIndex }"
      class="ui-dynamic-carousel__content--small-mobile--circle">

    </span>
  </div>

</div>



