@import '~src/assets/scss/abstracts/variables';

.onpicks-select-box {
  position:relative;
  display:inherit;
  width : inherit;
  height:100%;
  background-color: $color-white !important;

  &__select-box {

    -webkit-appearance: none;
    background : transparent;
    border : 0;
    width: 100%;
    padding : 1.1rem 1.6rem;
    &--outer {
      display:inline-block;
      width : 8.3rem;
      background:url(https://img.onpicks.com/assets/misc/arrow_for_select.png) no-repeat right;
      background-size : 18px 10px;
      background-position : 80%;
      border-radius : 2px;
      border : 1px solid $color-light-grey;
    }
  }

  &__fore-button {
    transition-property: border, box-shadow;
    transition-duration: 200ms;
    transition-timing-function: ease;
    border-radius: 2px;
    border : solid 1px $color-light-grey;
    display:inherit;
    color: #292929;
    width : inherit;
    height:100%;
    padding: 10px 16px 10px 16px;
    text-align: left;
    background-color: transparent;

    svg {
      pointer-events: none;
      float : right;
      margin-top : 3px;

    }
  }

  &__dropdown {
    display:none;
    left:0;
    top : 39px;
    width:100%;
    position:absolute;

    &--shape {
      position:relative;
      background-color:white;
      z-index: 5;
      border-radius: 2px;
      border : solid 1px #e5e5e5;
      box-shadow: 0 6px 12px 0 rgba(227, 227, 227, 0.5);
    }

    &--element {
      position:relative;
      z-index : 10;
      transition: background-color .2s;
      &:not(:last-child) {
        border-bottom:  solid 1px $color-light-grey;
      }

      &:hover {
        background-color: #e5e5e5;
      }
      &-outer {
        display: block;
        height:100%;
        width:100%;
      }

      &-label {
        cursor:pointer;
        width:100%;
        display:block;
        // top right bottom left
        padding: 10px 16px 10px 16px;
        input {
          display : none;
        }
      }

      &-text {
        white-space : nowrap;

      }
    }
  }
}

.error-shadow {

  &:focus {
    box-shadow: $color-red 0px 0px 6px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: $color-red;
    border-image: initial;
    outline: none;
  }

}
