<div class="p-description">
  <h1 class="h1-bold">
    상품설명
  </h1>

  <!--<div class="p-description__banner">-->
    <!--<img *ngIf="location != 'HKG'" style="width:100%" src="https://img.onpicks.com/assets/detail-america-banner.jpg" alt="">-->
    <!--<img *ngIf="location == 'HKG'" style="width:100%" src="https://img.onpicks.com/assets/detail-hongkong-banner.jpg" alt="">-->
  <!--</div>-->

  <!--<ui-banner [bannerInfo]="shopsBannerImage"></ui-banner>-->
  <p [innerHtml]="description" class="body-1-regular"></p>
</div>


