<div class="p-description u-margin-bottom">
  <h1 class="h1-bold">
    상품설명
  </h1>
  <p class="body-1-regular">
    RXBARs are whole food protein bars made with egg whites, dates, nuts and natural ingredients like 100 percent cacao or blueberries to provide added taste and texture.
    No added sugar, no gluten, no soy, no dairy, no GMO, no B.S. 12g of egg white protein, ~4g of fiber, 200-210 calories,
    Perfect as a breakfast bar on-the-go, pre- and post-workout fuel, or a convenient and healthy snack mid day.

    Each Variety Pack contains 12 RXBAR protein bars: 2 Chocolate Sea Salt, 2 Blueberry, 2 Coconut Chocolate, 2 Peanut Butter Chocolate, 2 Mixed Berry and 2 Peanut Butter.
  </p>
</div>
