
<!--가장 마지막에 로딩하는것을 loading으로 잡아줌.-->
<!--여기서는 댓글이 가장 마지막에 다시 로딩함. 그래서 댓글 기준으로 loading바를 받음-->
<ng-template class="hello" #loading>
  Loading stuff...
</ng-template>

<ng-template class="hello" #imaegLoading>
  Loading stuff...
</ng-template>

<!--<ng-template class="hello" #loading>-->
  <!--Loading stuff...-->
<!--</ng-template>-->


<ng-container *ngIf="{ review : (currentData$ | async)?.list[reviewsId], results : (currentData$ | async)?.results, pictures : (currentData$ | async)?.list[reviewsId]?.pictures } as data; else loading">

<!--async 쓰고싶은데, 동적으로 현재 데이터가 있는지 없는지 판단해서, 넣고 안놓고는 어떻게하지? async유지하면서? -->

<!--nested 한 값은, ?을 연속으로 넣어서 null체크해줌-->
<!--1056px로 넣은 이유는 가독성을 위해 dumb값을 넣은것임.-->
<div
  #communicateBox

  [ngStyle]="{ width : data.pictures?.length === 0 || (data.pictures ? data.pictures[0] : '1056px') === '' ? '660px' : '1056px'}"
  class="communicate-box">
  <!--[ngStyle]="{ width : data.review['pictures'].length === 0 ? ''}"-->
    <div *ngIf="isViewImage && data.pictures as asPictures;"
         class="communicate-box__image">
      <img
        [drLazyLoad]="{ method : 'pure-transition'}" src="{{data.pictures[0]}}" alt="">
    </div>
    <div
      #communicateBoxOnly
      [ngStyle]="{ width : data.pictures?.length === 0 || (data.pictures ? data.pictures[0] : '1056px') === ''  ? '660px' : '408px'}"
      class="communicate-box-only">
      <div class="communicate-box-only__inner">

        <div class="communicate-box-only__figure">
          <figure>
          <span class="communicate-box-only__figure--image-outer">
            <img drLazyLoad src="{{data.review?.author?.avatar}}" alt="Person on a tour" class="story__img">
          </span>
            <figcaption class="communicate-box-only__caption subtitle-1-bold">{{data.review?.author?.nickname}}</figcaption>

            <ui-star-rating [star-point]="data.review?.rating"></ui-star-rating>
            <span>{{data.review?.modified | timeAgo}}</span>
          </figure>
          <div class="communicate-box-only__figure--option subtitle-1-regular u-color-grey">맛: 믹스베이 세트 : 1번세츠 ( 12팩 )</div>
        </div>
        <div #scrollOuter class="communicate-box-only__reviews">
          <div class="communicate-box-only__reviews--my-reviews body-1-regular">
            {{data.review?.text}}
          </div>
          <div class="communicate-box-only__reviews--other-reviews">

            <!--TODO : 해당 로직은, 이미 로딩한것은 로딩 안해도 되도록 변경해야함.-->
            <div *ngIf="data.review?.comments?.results as asComments; else loading">
              <div *ngFor="let item of asComments" class="communicate-box-only__reviews--other-reviews-item">
                <span class="subtitle-1-bold">{{item.author.nickname}}</span>
                <span class="body-1-regular">{{item.text}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="communicate-box-only__feature">
          <a>
            <img src="http://img.onpicks.com/thumbs-up-icon.jpg" alt="">
            <span class="communicate-box-only__feature--item action-1-medium"
                  (click)="prevButton()">추천하기</span>
          </a>
          <a>
            <img src="http://img.onpicks.com/share-icon.jpg" alt="">
            <span class="communicate-box-only__feature--item action-1-medium"
                  (click)="shareReview()">공유하기</span>
          </a>
          <a>
            <span class="communicate-box-only__feature--report action-1-medium-grey">신고하기</span>
          </a>
        </div>
        <div class="communicate-box-only__input-reviews">
          <input type="text" (keypress)="commentTyping($event, f)" value="" #f placeholder="댓글 달기">
        </div>
      </div>
    </div>

    <button class="communicate-box__prev-button"
            *ngIf="(data.results ? data.results[0] : '') != reviewsId"
            (click)="prevButton(data.results[currentReviewIndex - 1])">
      <svg width="15" height="26" viewBox="0 0 15 26">
        <path fill="none" fill-rule="evenodd" stroke="#E5E5E5" stroke-width="2" d="M14 1L2 13.098 14 25"/>
      </svg>


      <!--<svg width="9" height="14" viewBox="0 0 9 14">-->
      <!--<defs>-->
      <!--<path id="a" d="M24 14l-6 6.05L24 26"/>-->
      <!--</defs>-->
      <!--<use fill="none" fill-rule="evenodd" stroke="#000" stroke-width="2" transform="translate(-16 -13)" xlink:href="#a"/>-->
      <!--</svg>-->
    </button>
    <!--*ngIf=''-->
  <!--*ngIf="parentData.results[parentData.results.length - 1] == reviewsId"-->

    <button
      *ngIf="(data.results ? data.results[data.results?.length - 1] : '') != reviewsId"
      class="communicate-box__next-button"
            (click)="nextButton(data.results[currentReviewIndex + 1])">
      <svg width="15" height="26" viewBox="0 0 15 26">
        <path fill="none" fill-rule="evenodd" stroke="#E5E5E5" stroke-width="2" d="M1 25l12-12.098L1 1"/>
      </svg>
    </button>
</div>
</ng-container>
<div class="communicate-box__outer">

</div>

