
<ng-template #loading>
  <onpicks-loading-icon></onpicks-loading-icon>
</ng-template>

<ng-container *ngLet="(currency| async) as currencyAsync">
  <div
    class="row-list-scroll"
    *ngIf="infoList !== null || infoList?.length !== 0;
    else loading">
    <div
      [ngClass]=
        "[ mobileType === 'half' ? 'ui-mini-list-halfM' : 'ui-mini-list-fullM']"
      class="u-margin-bottom">

      <h1
        #insertTitle
        [ngClass]=
          "[ mobileType === 'half' ? 'ui-mini-list-halfM__title' : 'ui-mini-list-fullM__title']"
        class="h1-bold">{{setTitle}}</h1>
      <div
        [ngClass]="[
            mobileType === 'half' ?
            'ui-mini-list-halfM__content--outer' :
            'ui-mini-list-fullM__content--outer'
          ]">
          <onpicks-circle-n-button
            *ngIf="imageIndex  < (infoList?.length - carouselLength) "
            [top]="'12.6rem'"
            [right]="'-2.2rem'"
            (click)="nextButton()" >
          </onpicks-circle-n-button>
          <onpicks-circle-p-button
            *ngIf="imageIndex !== 0"
            [top]="'12.6rem'"
            [left]="'-2rem'"
            (click)="prevButton()">
          </onpicks-circle-p-button>
        <div
          [ngClass]="[
            mobileType === 'half' ?
            'ui-mini-list-halfM__content' :
            'ui-mini-list-fullM__content'
          ]">
          <ul
            class="ui-mini-list-halfM__content-ul"
            #container>
            <ng-container *ngFor="let item of infoList; index as i">
              <li #itemList
                [ngClass]="[
                    mobileType === 'half' ?
                    'ui-mini-list-halfM__content-li' :
                    'ui-mini-list-fullM__content-li'
                  ]"
                *ngIf="pressedPrev ? i < imageIndex + 7 : i < imageIndex + carouselLength">
                <div
                  [ngClass]="[
                    mobileType === 'half' ?
                    'ui-mini-list-halfM__item' :
                    'ui-mini-list-fullM__item'
                  ]">
                  <div
                    [ngClass]="[
                        mobileType === 'half' ?
                        'ui-mini-list-halfM__item--image' :
                        'ui-mini-list-fullM__item--image'
                      ]">
                    <div
                      [ngClass]="[
                        mobileType === 'half' ?
                        'ui-mini-list-halfM__item--image-outer' :
                        'ui-mini-list-fullM__item--image-outer'
                      ]">
                      <a [routerLink]="'/shops/p/' + item.slug">
                        <div *ngIf="item.in_stock === true && item.stock_quantity <= 10 && item.stock_quantity !== 0" [ngClass]="[
                          mobileType === 'half' ?
                          'ui-mini-list-halfM__item--stock' :
                          'ui-mini-list-fullM__item--stock']">
                          <span
                            *ngIf="locale === 'ko'"
                            [ngClass]="[
                              mobileType === 'half' ?
                              'ui-mini-list-halfM__item--stock--inner' :
                              'ui-mini-list-fullM__item--stock--inner']"
                            class="u-color-white">
                            품절임박 {{item.stock_quantity}}개
                          </span>
                          <span *ngIf="locale === 'en'"
                                [ngClass]="[
                                mobileType === 'half' ?
                                'ui-mini-list-halfM__item--stock--inner' :
                                'ui-mini-list-fullM__item--stock--inner']"
                                class="u-color-white">
                            Only {{item.stock_quantity}} Left
                          </span>
                        </div>
                        <div *ngIf="item.in_stock === false || item.in_stock === true && item.stock_quantity === 0" [ngClass]="[
                          mobileType === 'half' ?
                          'ui-mini-list-halfM__item--stock-empty' :
                          'ui-mini-list-fullM__item--stock-empty']">
                          <span
                            i18n="@@word__sold-out"
                            [ngClass]="[
                          mobileType === 'half' ?
                          'ui-mini-list-halfM__item--stock--inner' :
                          'ui-mini-list-fullM__item--stock--inner']"
                            class="u-color-white">
                            품절
                          </span>
                        </div>
                        <div
                          [ngClass]="[
                          mobileType === 'half' ?
                          'ui-mini-list-halfM__item--image-inner' :
                          'ui-mini-list-fullM__item--image-inner'
                        ]">
                            <img drLazyLoad [relativeOption]="false" src="{{item.thumbnail}}" alt="{{item.title}}">
                        </div>
                      </a>
                    </div>
                    <onpicks-list-active-button
                      *ngIf="!(item.in_stock === false || item.in_stock === true && item.stock_quantity === 0)"
                      [amount]="cartStore?.cartList[item.slug] === undefined ? 0 : cartStore?.cartList[item.slug]?.quantity"
                      (addEvent)="addToCart($event, item, item.individual_shipping ? 'free' : locationMap[item.location.code].sequence)"
                      (subtractEvent)="subtractFromCart($event, item.slug, item.individual_shipping ? 'free' : locationMap[item.location.code].sequence)">
                    </onpicks-list-active-button>
                  </div>
                  <div
                    [ngClass]="[
                      mobileType === 'half' ?
                      'ui-mini-list-halfM__item--name-outer' :
                      'ui-mini-list-fullM__item--name-outer'
                    ]">
                    <h1
                      [ngClass]="[
                        mobileType === 'half' ?
                        'ui-mini-list-halfM__item--name-outer-brand' :
                        'ui-mini-list-fullM__item--name-outer-brand'
                      ]"
                      class="subtitle-2-bold">
                      <a (click)="goBrandFilter(item?.brand?.slug)">
                        {{item.brand.name}}
                      </a>
                    </h1>

                    <a [routerLink]="'/shops/p/' + item.slug">
                      <span
                        [ngClass]="[
                          mobileType === 'half' ?
                          'ui-mini-list-halfM__item--name-outer-name' :
                          'ui-mini-list-fullM__item--name-outer-name'
                        ]"
                        class="body-2-regular">
                        {{item.title}}
                      </span>
                    </a>
                  </div>

                  <ui-star-rating
                    [star-point]="item.review_avg_rating"
                    [size]="10">
                  </ui-star-rating>
                  <span class="subtitle-3-regular u-color-dark-grey">{{ item.review_count }}</span>
                  <br>
                  <span
                    [ngClass]="[
                        mobileType === 'half' ?
                        'ui-mini-list-halfM__price-info--MSRP-mobile' :
                        'ui-mini-list-fullM__price-info--MSRP-mobile'
                      ]"
                    class="subtitle-3-regular u-color-grey"
                    *ngIf="locale == 'en'">
                      MSRP
                  </span>
                  <span
                    [ngClass]="[
                        mobileType === 'half' ?
                        'ui-mini-list-halfM__price-info--MSRP-mobile-discount' :
                        'ui-mini-list-fullM__price-info--MSRP-mobile-discount'
                      ]"
                    class="subtitle-3-regular u-color-grey">
                    {{ item.msrp | onpicksCurrency: currencyAsync }}
                  </span>
                  <div
                    [ngClass]="[
                      mobileType === 'half' ?
                      'ui-mini-list-halfM__price-info' :
                      'ui-mini-list-fullM__price-info'
                    ]">
                    <span
                      [ngClass]="[
                        mobileType === 'half' ?
                        'ui-mini-list-halfM__price-info--discount' :
                        'ui-mini-list-fullM__price-info--discount'
                      ]"
                      class="subtitle-1-bold u-color-orange">
                      {{ 100 - round((item.price / item.msrp * 100)) }}%
                    </span>
                    <span
                      [ngClass]="[
                        mobileType === 'half' ?
                        'ui-mini-list-halfM__price-info--price' :
                        'ui-mini-list-fullM__price-info--price'
                      ]"
                      class="subtitle-1-bold">
                      {{ item.price | onpicksCurrency: currencyAsync }}
                    </span>
                    <span
                      [ngClass]="[
                        mobileType === 'half' ?
                        'ui-mini-list-halfM__price-info--MSRP' :
                        'ui-mini-list-fullM__price-info--MSRP'
                      ]"
                      class="subtitle-3-regular u-color-grey"
                      *ngIf="locale == 'en'">
                      MSRP
                    </span>
                    <span
                      [ngClass]="[
                        mobileType === 'half' ?
                        'ui-mini-list-halfM__price-info--MSRP-discount' :
                        'ui-mini-list-fullM__price-info--MSRP-discount'
                      ]"
                      class="subtitle-3-regular u-color-grey">
                      {{ item.msrp | onpicksCurrency: currencyAsync }}
                    </span>
                  </div>
                  <div
                    [ngClass]="[
                      mobileType === 'half' ?
                      'ui-mini-list-halfM__delivery-point' :
                      'ui-mini-list-fullM__delivery-point'
                    ]">
                    <ng-container [ngSwitch]="item.location?.code">
                      <ng-container *ngSwitchCase="'LAX'" >
                        <span
                          [ngClass]="[
                            mobileType === 'half' ?
                            'ui-mini-list-halfM__delivery-point--icon' :
                            'ui-mini-list-fullM__delivery-point--icon'
                          ]"
                          class="icon-small-la">
                        </span>
                        <span
                          [ngClass]="[
                            mobileType === 'half' ?
                            'ui-mini-list-halfM__delivery-point--text' :
                            'ui-mini-list-fullM__delivery-point--text'
                          ]"
                          class="subtitle-2-regular u-color-black">
                          <span *ngIf="locale === 'en'">Shipping from </span>
                          <strong i18n="@@location-warehouse__LAX">엘에이</strong>
                          <span *ngIf="locale === 'ko'"> 출고</span>
                        </span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'JFK'">
                        <span
                          [ngClass]="[
                            mobileType === 'half' ?
                            'ui-mini-list-halfM__delivery-point--icon' :
                            'ui-mini-list-fullM__delivery-point--icon'
                          ]"
                          class="icon-small-new"></span>
                        <span
                          [ngClass]="[
                            mobileType === 'half' ?
                            'ui-mini-list-halfM__delivery-point--text' :
                            'ui-mini-list-fullM__delivery-point--text'
                          ]"
                          class="subtitle-2-regular u-color-black">
                          <span *ngIf="locale === 'en'">Shipping from </span>
                          <strong i18n="@@location-warehouse__JFK">뉴저지</strong>
                          <span *ngIf="locale === 'ko'"> 출고</span>
                        </span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'ATL'">
                        <span
                          [ngClass]="[
                            mobileType === 'half' ?
                            'ui-mini-list-halfM__delivery-point--icon' :
                            'ui-mini-list-fullM__delivery-point--icon'
                          ]"
                          class="icon-small-gorgia">
                        </span>
                        <span
                          [ngClass]="[
                            mobileType === 'half' ?
                            'ui-mini-list-halfM__delivery-point--text' :
                            'ui-mini-list-fullM__delivery-point--text'
                          ]"
                          class="subtitle-2-regular u-color-black">
                          <span *ngIf="locale === 'en'">Shipping from </span>
                          <strong i18n="@@location-warehouse__ATL">죠지아</strong>
                          <span *ngIf="locale === 'ko'"> 출고</span>
                        </span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'KIX'">
                        <span
                          [ngClass]="[
                            mobileType === 'half' ?
                            'ui-mini-list-halfM__delivery-point--icon' :
                            'ui-mini-list-fullM__delivery-point--icon'
                          ]"
                          class="icon-small-osaka"></span>
                        <span
                          [ngClass]="[
                            mobileType === 'half' ?
                            'ui-mini-list-halfM__delivery-point--text' :
                            'ui-mini-list-fullM__delivery-point--text'
                          ]" class="subtitle-2-regular u-color-black">
                          <span *ngIf="locale === 'en'">Shipping from </span>
                          <strong i18n="@@location-warehouse__KIX">오사카</strong>
                          <span *ngIf="locale === 'ko'"> 출고</span>
                        </span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'HKG'">
                        <span
                          [ngClass]="[
                            mobileType === 'half' ?
                            'ui-mini-list-halfM__delivery-point--icon' :
                            'ui-mini-list-fullM__delivery-point--icon'
                          ]"
                          class="icon-small-hong"></span>
                        <span
                          [ngClass]="[
                            mobileType === 'half' ?
                            'ui-mini-list-halfM__delivery-point--text' :
                            'ui-mini-list-fullM__delivery-point--text'
                          ]"
                          class="subtitle-2-regular u-color-black">
                          <span *ngIf="locale === 'en'">Shipping from </span>
                          <strong i18n="@@location-warehouse__HKG">홍콩</strong>
                          <span *ngIf="locale === 'ko'"> 출고</span>
                        </span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>
