<ng-container *ngIf="router.url.split('/')[2].indexOf('search') > -1">
  <div
    i18n="@@word__categories"
    class="c-category-navigator__title subtitle-1-bold">
    카테고리
  </div>
  <div>
    <a
      i18n="@@word__all-categories"
      class="subtitle-3-bold u-color-dark-grey"
      (click)="searchCategoryService.removeAllFilterCategory()">
      모든 카테고리
    </a>
  </div>
  <ng-container *ngIf="categoryList?.length !== 0">
    <div
      [ngStyle]="{marginLeft : searchCategoryService.currentCategoryCode == undefined || searchCategoryService.currentCategoryCode / category?.code <= 1 ? '10px' : ''}"
      *ngFor="let category of categoryList">
      <div class="c-category-navigator__item subtitle-3-bold">
        <span
          class="c-category-navigator__category-indicator"
          *ngIf="category?.code / searchCategoryService.currentCategoryCode  < 1">
          <svg width="6" height="10" viewBox="0 0 6 10">
            <path fill="#B3B3B3" d="M5 10a.997.997 0 0 1-.707-.293l-4-4a.999.999 0 0 1 0-1.414l4-4a.999.999 0 1 1 1.414 1.414L2.414 5l3.293 3.293A.999.999 0 0 1 5 10" />
          </svg>
        </span>
        <span>
          <a
            [ngClass]="{'u-color-dark-grey' : (category?.code / searchCategoryService.currentCategoryCode < 1)}"
            (click)="searchCategoryService.categoryClicked(category?.code)">{{ category.name }}
          </a>
        </span>
      </div>
      <div
        [ngStyle]="{marginLeft : searchCategoryService.currentCategoryCode / twoCat?.code <= 1 ? '10px' : ''}"
        class="c-category-navigator__item subtitle-3-bold" *ngFor="let twoCat of category?.children">
          <span
            class="c-category-navigator__category-indicator"
            *ngIf="twoCat?.code / searchCategoryService.currentCategoryCode < 1">
            <svg width="6" height="10" viewBox="0 0 6 10">
              <path fill="#B3B3B3" d="M5 10a.997.997 0 0 1-.707-.293l-4-4a.999.999 0 0 1 0-1.414l4-4a.999.999 0 1 1 1.414 1.414L2.414 5l3.293 3.293A.999.999 0 0 1 5 10" />
            </svg>
          </span>
        <span>
            <a
              [ngClass]="[
                (twoCat?.code / searchCategoryService.currentCategoryCode < 1) ? 'u-color-dark-grey' : '',
                (twoCat?.code / searchCategoryService.currentCategoryCode < 1 || searchCategoryService.currentCategoryCode == twoCat?.code ) ? 'subtitle-3-bold' : 'subtitle-3-regular'
              ]"
              (click)="searchCategoryService.categoryClicked(twoCat?.code)">{{ twoCat.name }}
            </a>
          </span>
        <div
          [ngStyle]="{marginLeft : searchCategoryService.currentCategoryCode / threeCat?.code <= 1 ? '10px' : ''}"
          class="c-category-navigator__item subtitle-3-bold"
          *ngFor="let threeCat of twoCat?.children">
            <span
              class="c-category-navigator__category-indicator"
              *ngIf="threeCat?.code / searchCategoryService.currentCategoryCode < 1">
              <svg width="6" height="10" viewBox="0 0 6 10">
                <path fill="#B3B3B3" d="M5 10a.997.997 0 0 1-.707-.293l-4-4a.999.999 0 0 1 0-1.414l4-4a.999.999 0 1 1 1.414 1.414L2.414 5l3.293 3.293A.999.999 0 0 1 5 10" />
              </svg>
            </span>
          <span>
            <a
              [ngClass]="[
                (threeCat?.code / searchCategoryService.currentCategoryCode < 1) ? 'u-color-dark-grey' : '',
                (threeCat?.code / searchCategoryService.currentCategoryCode < 1 || searchCategoryService.currentCategoryCode == threeCat?.code ) ? 'subtitle-3-bold' : 'subtitle-3-regular'
                ]"
              (click)="searchCategoryService.categoryClicked(threeCat?.code)">
              {{ threeCat.name }}
            </a>
          </span>
          <div
            style="margin-left: 10px"
            class="c-category-navigator__item"
            *ngFor="let fourthCat of threeCat?.children">
            <a
              [ngClass]="[(searchCategoryService.currentCategoryCode == fourthCat?.code ) ? 'subtitle-3-bold' : 'subtitle-3-regular']"
              (click)="searchCategoryService.categoryClicked(fourthCat?.code)">
              {{ fourthCat?.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
