<div class="c-filter-navigator">
  <div class="c-filter-navigator__title">
    <span
      i18n="@@word__filter"
      class="c-filter-navigator__title--name subtitle-1-bold">
      필터
    </span>
    <span class="c-filter-navigator__title--remove">
      <a
        i18n="@@word__clear-all"
        class="subtitle-3-regular u-color-grey"
        (click)="searchCategoryService.removeAllFilter()">
        모두제거
      </a>
    </span>
  </div>
  <div class="c-filter-navigator__content" *ngIf="searchCategoryService.filterList.length > 0">
    <ul class="c-filter-navigator__content-ul">
      <li *ngFor="let item of searchCategoryService.filterList" class="c-filter-navigator__content-ul--item subtitle-3-regular">
        <div
          (click)="searchCategoryService.removeSpecificFilter(item.type, item.key)"
          class="c-filter-navigator__content-ul--item-remove-outer">
            <span
              class="c-filter-navigator__content-ul--item-remove">
            </span>
        </div>
        <span>{{item.value}}</span>
      </li>
    </ul>
  </div>
</div>
