
<div class="cart">
  <ng-container *ngIf="{
    cartList:   (cartStore$ | async)?.cartList,
    cartInfo:   (cartStore$ | async)?.cartInfo,
    wishList:   (cartStore$ | async)?.wishList,
    currencyInfo:   (currency | async)
  } as syncedData">
  <div class="row">
    <ng-container *ngIf="lengthCheckForFree !== 0 || lengthCheckForPack !== 0">
      <h1
        i18n="@@word__shopping-bag"
        class="cart__title h1-bold">
        쇼핑백
      </h1>
      <div class="cart-mobile">
        <div class="cart-mobile__price">
          <div class="cart-mobile__price--description">
            <div class="cart-mobile__price--all-product">
              <span
                i18n="@@word__subtotal"
                class="subtitle-2-regular u-color-dark-grey">총 상품금액</span>
              <span
                class="subtitle-2-regular u-float-right">
                {{ syncedData?.cartInfo?.total?.total_items | onpicksCurrency: syncedData.currencyInfo }}
              </span>
            </div>
            <div class="cart-mobile__price--delivery">
              <span
                i18n="@@word__shipping-fee"
                class="subtitle-2-regular u-color-dark-grey">
                배송비
              </span>
              <span
                i18n="@@word__free-shipping"
                class="subtitle-2-regular u-float-right"
                *ngIf="syncedData?.cartInfo?.total?.total_shipping_costs === 0"
                [ngClass]="{ 'u-color-green' : syncedData?.cartInfo?.total?.total_shipping_costs == 0 }">
                무료
              </span>
              <span
                class="subtitle-2-regular u-float-right"
                *ngIf="syncedData?.cartInfo?.total?.total_shipping_costs !== 0"
                [ngClass]="{ 'u-color-green' : syncedData?.cartInfo?.total?.total_shipping_costs == 0 }">
                {{ (syncedData?.cartInfo?.total?.total_shipping_costs | onpicksCurrency: syncedData.currencyInfo) }}
              </span>
            </div>
            <div class="cart-mobile__price--discount">
              <span
                i18n="@@cart__payment-table--extra-savings"
                class="subtitle-2-regular u-color-dark-grey">
                할인금액
              </span>
              <span class="subtitle-2-regular u-float-right">
                {{ syncedData?.cartInfo?.total?.total_discounts | onpicksCurrency: syncedData.currencyInfo }}
              </span>
            </div>
          </div>
          <div class="cart-mobile__price--all">
            <span
              i18n="@@cart__delivery--total-count"
              class="subtitle-2-regular u-color-dark-grey">총 결제금액</span>
            <span class="subtitle-2-bold u-float-right">
              {{ syncedData?.cartInfo?.total?.total_items + syncedData?.cartInfo?.total?.total_shipping_costs | onpicksCurrency : syncedData.currencyInfo }}
            </span>
          </div>
        </div>

        <onpicks-button
          class="cart__btn--shopping"
          i18n="@@cart__btn--shopping"
          routerLink="/shops"
          [type]="'white'"
          [padding]="false"
          [size]="'big'">
          계속 쇼핑하기
        </onpicks-button>
        <onpicks-button
          i18n="@@cart__btn--buy-all"
          (click)="setCheckoutList(denormalizr(cartStore.cartList))"
          class="cart__btn--shopping"
          [padding]="false"
          [type]="'black'"
          [size]="'big'">
          전체 구매하기
        </onpicks-button>
      </div>
    </ng-container>
    <ng-container *ngIf="lengthCheckForFree === 0 && lengthCheckForPack === 0">
      <h1
        class="cart__title h1-bold">
        쇼핑백이 비었어요!
      </h1>
      <div class="cart__title--empty-description subtitle-1-regular u-color-dark-grey">
        마음에 드는 상품을 못찾으셨나요? Onpicks와 함께 다양한 아이템을 최적의 가격으로 쇼핑하세요!
      </div>
    </ng-container>

    <ng-container *ngIf="lengthCheckForFree !== 0" >
      <div
        i18n="@@cart__section--free-title"
        class="cart__section--title subtitle-1-bold">무료배송 상품</div>

      <div class="cart__delivery-free">
        <div class="cart__delivery-free-middle">
          <span class="cart__delivery-free-icon">
            <span class="cart__delivery-free-font u-bold u-color-white">F</span>
          </span>
          <span class="cart__delivery-free-spot-list">
            <span class="cart__delivery-free-spot-list--location" [ngSwitch]="locale">
              <span
                *ngSwitchCase="'ko'"
                class="subtitle-1-bold"
                [ngStyle]="{ 'marginRight' : '0.4rem' }">
                뉴저지·엘에이·조지아·오사카·홍콩
              </span>
              <span
                *ngSwitchCase="'en'"
                class="subtitle-1-bold"
                [ngStyle]="{ 'marginRight' : '0.8rem' }">
                New Jersey · Los Angeles · Gerogia · Osaka · Hong Kong
              </span>
              <span
                *ngSwitchCase="'zh'"
                class="subtitle-1-bold"
                [ngStyle]="{ 'marginRight' : '0.8rem' }">
                뉴저지·엘에이·조지아·오사카·홍콩
              </span>
            </span>
            <span
              i18n="@@cart__section--free-sub-title"
              class="subtitle-1-bold u-color-green">
              무료배송
            </span>
          </span>
          <span class="cart__delivery-free-total-count">
            <span
              i18n="@@cart__delivery--total-count"
              class="cart__delivery-free-total-count--title subtitle-2-regular u-color-dark-grey">
              총 결제금액
            </span>
            <span
              class="subtitle-2-bold u-color-black">
              {{ syncedData?.cartInfo?.free?.subtotal | onpicksCurrency : syncedData.currencyInfo }}
            </span>
          </span>
        </div>
      </div>

      <onpicks-button
        (click)="setCheckoutList(syncedData?.cartInfo?.free?.items)"
        i18n="@@cart__delivery-free-purchase"
        class="cart__delivery-free-purchase"
        [type]="'white'"
        [size]="'big'"
        [width]="'auto'">
        무료배송 구매하기
      </onpicks-button>

      <div class="cart-mobile">
        <div class="cart-mobile__table">
          <div
            class="cart-mobile__table--item"
            *ngFor="let itemForFree of syncedData?.cartInfo?.free?.items; index as itemForFreeIndex">
            <div class="cart-mobile__table--item--image-and-font-line-fixed">

              <div class="cart-mobile__table--item--image">
                <div class="cart-mobile__table--item--image-inner">
                  <img drLazyLoad src="{{itemForFree.thumbnail}}" alt="{{itemForFree.title}}">
                </div>
              </div>

              <div class="cart-mobile__table--item-info">

                <div class="cart-mobile__table--item-info--title subtitle-3-bold">
                  {{itemForFree.brand.name}}
                </div>
                <div class="cart-mobile__table--item-info--description body-3-regular">
                  {{itemForFree.title}}
                </div>
                <div class="cart-mobile__table--item-info--price subtitle-2-bold">
                  {{itemForFree.price | onpicksCurrency : syncedData.currencyInfo}}
                </div>
              </div>
            </div>
            <div class="cart-mobile__table--item-option">
              <div class="cart-mobile__table--item-option--vertical-center">
                <div
                  i18n="@@sentence__wish-list"
                  (click)="addToWishList(itemForFree.product, 'free')"
                  class="cart-mobile__table--item-option--add-to-wish subtitle-2-regular u-color-grey">
                  다음에 구매하기
                </div>
                <div
                  i18n="@@word__remove"
                  (click)="subtractFromCart(1, itemForFree.product, 'free' )"
                  class="cart-mobile__table--item-option--delete subtitle-2-regular u-color-grey">
                  삭제하기
                </div>
              </div>
              <div class="cart-mobile__table--item-option--manage-amount">
                <onpicks-list-active-button
                  (addEvent)="addToCart(syncedData?.cartList[itemForFree.product]?.quantity, itemForFree.product, 'free')"
                  (subtractEvent)="subtractFromCart(syncedData?.cartList[itemForFree.product]?.quantity, itemForFree.product, 'free')"
                  [amount]="syncedData?.cartList[itemForFree.product]?.quantity"
                  [isFixExtend]="true">
                </onpicks-list-active-button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <table class="cart__free-table">
        <tr  *ngFor="let itemForFree of syncedData?.cartInfo?.free?.items; index as itemForFreeIndex">
          <td>
            <div
              class="cart__free-table--image u-button-effect"
              [routerLink]="'/shops/p/' + itemForFree.product">
              <img
                drLazyLoad
                src="{{ itemForFree.thumbnail }}"
                alt="">
            </div>

            <div class="cart__free-table--info">
              <div class="cart__free-table--info-title subtitle-3-bold">{{itemForFree.brand.name}}</div>
              <div class="cart__free-table--info-name body-3-regular">
                <a [routerLink]="'/shops/p/' + itemForFree.product">
                  {{itemForFree.title}}
                </a>
              </div>
              <div class="cart__multi-table--info-option">
                <ng-container *ngFor="let option of objectKeys(itemForFree.attribute_values); index as optionIndex">
                  <span class="subtitle-3-regular u-color-grey">
                    {{option}} :
                  </span>
                  <span class="subtitle-3-regular u-color-grey">
                    {{itemForFree.attribute_values[option]}}
                  </span>
                  <span
                    *ngIf="objectKeys(itemForFree.attribute_values).length - 1 !== optionIndex"
                    class="cart__multi-table--info-option--spliter-margin subtitle-3-regular u-color-grey">·</span>
                </ng-container>
              </div>
              <div class="cart__free-table--info-price subtitle-2-bold">{{itemForFree.price | onpicksCurrency : syncedData.currencyInfo }}</div>
            </div>
          </td>
          <td>
            <div class="cart__free-table--amount">
              <onpicks-list-active-button
                (addEvent)="addToCart(syncedData?.cartList[itemForFree.product]?.quantity, itemForFree.product, 'free')"
                (subtractEvent)="subtractFromCart(syncedData?.cartList[itemForFree.product]?.quantity, itemForFree.product, 'free')"
                [amount]="syncedData?.cartList[itemForFree.product]?.quantity"
                [isFixExtend]="true">
              </onpicks-list-active-button>
            </div>

            <div class="cart__free-table--add-to-wish">
              <a
                i18n="@@sentence__wish-list"
                (click)="addToWishList(itemForFree.product, 'free')"
                class="subtitle-2-regular u-color-grey">
                다음에 구매하기
              </a>
            </div>
            <div class="cart__free-table--delete">
              <a
                i18n="@@word__remove"
                (click)="subtractFromCart(1, itemForFree.product, 'free' )"
                class="subtitle-2-regular u-color-grey">
                삭제하기
              </a>
            </div>
          </td>
          <td>
            <div class="cart__free-table--delivery-info">
              <div class="cart__free-table--delivery-info-image icon-small-la">
                <!--<img src="http://img.onpicks.com/cart__table&#45;&#45;info-N.png" alt="무료배송 아이콘">-->
              </div>

              <div class="cart__free-table--delivery-info-where subtitle-2-regular">
                <span class="u-bold">뉴저지</span> 출고&nbsp;·&nbsp;
              </div>
              <div class="cart__free-table--delivery-info-price subtitle-2-bold">
                무료배송
              </div>
              <div class="cart__free-table--delivery-info-description subtitle-2-regular u-color-dark-grey">
                뉴저지 단독배송 상품으로 무료로 배송 됩니다.
              </div>
            </div>
          </td>
        </tr>
      </table>
    </ng-container>
    <ng-container *ngIf="lengthCheckForPack !== 0" >
      <div
        i18n="@@cart__pack-delivery--title"
        class="cart__section--title subtitle-1-bold">
        묶음배송 상품
      </div>
      <ng-container
        *ngFor="let item of syncedData?.cartInfo?.pack; index as packIndex">
        <ng-container *ngIf="item.items?.length !== 0">

          <div class="cart__delivery-multi">
            <div class="cart__delivery-multi-middle">
              <span class="cart__delivery-multi-icon subtitle-1-bold"
                [ngClass]=
                  "[
                    (locationMap[item.location.code].nickname === 'la')  ? 'icon-la' : '',
                    (locationMap[item.location.code].nickname === 'new')  ? 'icon-new' : '',
                    (locationMap[item.location.code].nickname === 'osaka')  ? 'icon-osaka' : '',
                    (locationMap[item.location.code].nickname === 'gorgia')  ? 'icon-gorgia' : '',
                    (locationMap[item.location.code].nickname === 'hong')  ? 'icon-hong' : ''
                  ]">
              </span>
              <span class="cart__delivery-multi-spot-list">
                <ng-container [ngSwitch]="locale">
                  <span *ngSwitchCase="'ko'" class="subtitle-1-bold" [ngStyle]="{ 'marginRight' : '0.4rem' }">{{item.location.name}}</span>
                  <span *ngSwitchCase="'en'" class="subtitle-1-bold" [ngStyle]="{ 'marginRight' : '0.8rem' }">{{item.location.name}}</span>
                  <span *ngSwitchCase="'zh'" class="subtitle-1-bold" [ngStyle]="{ 'marginRight' : '0.8rem' }">{{item.location.name}}</span>
                </ng-container>
                <span
                  i18n="@@cart__pack-delivery--title"
                  class="subtitle-1-regular">
                  묶음배송
                </span>
              </span>
              <span class="cart__delivery-multi-total-count">
                <span
                  i18n="@@cart__delivery--total-count"
                  class="subtitle-2-regular u-color-dark-grey">
                  총 결제금액
                </span>
                <span class="subtitle-2-bold">
                  {{item.subtotal | onpicksCurrency : syncedData.currencyInfo}}
                </span>
              </span>
            </div>
          </div>

          <div class="cart__delivery-multi-purchase">
            <div class="cart__delivery-multi-purchase--remain">
              <ng-container [ngSwitch]="locale">

                <ng-container *ngSwitchCase="'ko'">
                  <div
                    *ngIf="((item.location.free_shipping_threshold - (item.subtotal - item.shipping_fee)) > 0)"
                    class="cart__delivery-multi-purchase--remain-description subtitle-2-regular">
                    {{item.location.name}} 무료배송까지 {{item.location.free_shipping_threshold - (item.subtotal - item.shipping_fee) | onpicksCurrency : syncedData.currencyInfo}} 남았습니다
                  </div>
                </ng-container>

                <ng-container *ngSwitchCase="'en'">
                  <div
                    *ngIf="((item.location.free_shipping_threshold - (item.subtotal - item.shipping_fee)) > 0)"
                    class="cart__delivery-multi-purchase--remain-description subtitle-2-regular">
                    {{item.location.free_shipping_threshold - (item.subtotal - item.shipping_fee) | onpicksCurrency : syncedData.currencyInfo}} to {{item.location.name}} Free Shipping
                  </div>
                </ng-container>

              </ng-container>
              <div
                *ngIf="!((item.location.free_shipping_threshold - (item.subtotal - item.shipping_fee)) > 0)"
                class="cart__delivery-multi-purchase--remain-description subtitle-2-bold">
                {{item.location.name}} 무료배송 조건이 충족되었습니다.
              </div>
              <ui-progressive-bar
                [progressWidth]="((((item.subtotal - item.shipping_fee) / item.location.free_shipping_threshold) * 100) > 100 ? 100 :  ((((item.subtotal - item.shipping_fee) / item.location.free_shipping_threshold) * 100))) + '%'">
              </ui-progressive-bar>
            </div>

            <onpicks-button
              i18n="@@cart__delivery-multi-purchase"
              (click)="setCheckoutList(item.items)"
              class="cart__delivery-multi-purchase--btn"
              [type]="'white'"
              [width]="'auto'"
              [size]="'big'">
              묶음배송 구매하기
            </onpicks-button>
          </div>


          <div class="cart-mobile">
            <div class="cart-mobile__table">
              <div
                class="cart-mobile__table--item"
                *ngFor="let itemChild of item.items; index as itemForFreeIndex">
                <div class="cart-mobile__table--item--image-and-font-line-fixed">

                  <div class="cart-mobile__table--item--image">
                    <div class="cart-mobile__table--item--image-inner">
                      <img drLazyLoad src="{{ itemChild.thumbnail }}" alt="{{ itemChild.title }}">
                    </div>
                  </div>

                  <div class="cart-mobile__table--item-info">
                    <div class="cart-mobile__table--item-info--title subtitle-3-bold">
                      {{itemChild.brand.name}}
                    </div>
                    <div class="cart-mobile__table--item-info--description body-3-regular">
                      {{itemChild.title}}
                    </div>
                    <div class="cart-mobile__table--item-info--price subtitle-2-bold">
                      {{itemChild.price | onpicksCurrency : syncedData.currencyInfo}}
                    </div>
                  </div>
                </div>
                <div class="cart-mobile__table--item-option">
                  <div class="cart-mobile__table--item-option--vertical-center">
                    <div
                      i18n="@@sentence__wish-list"
                      (click)="addToWishList(itemChild.product, locationMap[item.location.code].sequence )"
                      class="cart-mobile__table--item-option--add-to-wish subtitle-2-regular u-color-grey">
                      다음에 구매하기
                    </div>
                    <div
                      i18n="@@word__remove"
                      (click)="subtractFromCart(1, itemChild.product, locationMap[item.location.code].sequence )"
                      class="cart-mobile__table--item-option--delete subtitle-2-regular u-color-grey">
                      삭제하기
                    </div>
                  </div>
                  <div class="cart-mobile__table--item-option--manage-amount">
                    <onpicks-list-active-button
                      (addEvent)="addToCart(syncedData?.cartList[itemChild.product]?.quantity, itemChild.product, locationMap[item.location.code].sequence)"
                      (subtractEvent)="subtractFromCart(syncedData?.cartList[itemChild.product]?.quantity, itemChild.product, locationMap[item.location.code].sequence)"
                      [amount]="syncedData?.cartList[itemChild.product]?.quantity"
                      [isFixExtend]="true">
                    </onpicks-list-active-button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <table class="cart__multi-table">
            <tr *ngFor="let itemChild of item.items; index as itemIndex">
              <td>
                <div class="cart__multi-table--image">
                  <a class="cart__multi-table--image" [routerLink]="'/shops/p/' + itemChild.product">
                    <img drLazyLoad src="{{itemChild.thumbnail}}" alt="{{itemChild.title}}">
                  </a>
                </div>
                <div class="cart__multi-table--info">
                  <div class="cart__multi-table--info-title subtitle-3-bold">{{itemChild.brand.name}}</div>
                  <div class="cart__multi-table--info-name subtitle-3-regular" >
                    <a [routerLink]="'/shops/p/' + itemChild.product">
                      {{itemChild.title}}
                    </a>
                  </div>
                  <div class="cart__multi-table--info-option">
                    <ng-container *ngFor="let option of objectKeys(itemChild.attribute_values); index as optionIndex">
                      <span class="subtitle-3-regular u-color-grey">
                        {{option}} :
                      </span>
                      <span class="subtitle-3-regular u-color-grey">
                        {{itemChild.attribute_values[option]}}
                      </span>
                      <span
                        *ngIf="objectKeys(itemChild.attribute_values).length - 1 !== optionIndex"
                        class="cart__multi-table--info-option--spliter-margin subtitle-3-regular u-color-grey">·</span>
                    </ng-container>
                  </div>
                  <!-- 현재는 판매가에 할인액을 적용하여 표현한다. zepplin 디자인은 판매가 옆에 할인액을 별도 표시하도록 되어 있다.-->
                  <div class="cart__multi-table--info-price subtitle-2-bold">{{itemChild.price + itemChild.discount | onpicksCurrency: syncedData.currencyInfo}}</div>
                </div>
              </td>
              <td>
                <div class="cart__multi-table--amount">
                  <onpicks-list-active-button
                    (addEvent)="addToCart(syncedData?.cartList[itemChild.product]?.quantity, itemChild.product, locationMap[item.location.code].sequence)"
                    (subtractEvent)="subtractFromCart(syncedData?.cartList[itemChild.product]?.quantity, itemChild.product, locationMap[item.location.code].sequence)"
                    [amount]="syncedData?.cartList[itemChild.product]?.quantity"
                    [isFixExtend]="true">
                  </onpicks-list-active-button>
                </div>

                <div class="cart__multi-table--add-to-wish">
                  <a
                    i18n="@@sentence__wish-list"
                    (click)="addToWishList(itemChild.product, locationMap[item.location.code].sequence )"
                    class="subtitle-2-regular u-color-grey">
                    다음에 구매하기
                  </a>
                </div>
                <div class="cart__multi-table--delete subtitle-2-regular u-color-grey">
                  <a
                    i18n="@@word__remove"
                    (click)="subtractFromCart(1, itemChild.product, locationMap[item.location.code].sequence )"
                    class="subtitle-2-regular u-color-grey">
                    삭제하기
                  </a>
                </div>
              </td>
              <td *ngIf="itemIndex === 0" [attr.rowspan]="item?.items.length">
                <div class="cart__multi-table--delivery-info">
                  <div
                    class="cart__multi-table--delivery-info-price"
                    [ngSwitch]="(item.subtotal - item.shipping_fee) < item.location.free_shipping_threshold">
                    <span
                      class="subtitle-2-regular"
                      *ngSwitchCase="true">
                      {{ item.shipping_fee | onpicksCurrency: syncedData.currencyInfo }} {{ locale === 'en' ? 'shipping' : '' }}</span>
                    <span
                      i18n="@@word__free-shipping"
                      class="subtitle-2-bold u-color-green"
                      *ngSwitchDefault>
                      무료
                    </span>
                  </div>
                  <ng-container [ngSwitch]="locale">
                    <div
                      *ngSwitchCase="'ko'"
                      class="cart__multi-table--delivery-info-description subtitle-2-regular u-color-dark-grey">
                      {{item.location.name}} 묶음배송 상품 {{item.location.free_shipping_threshold | onpicksCurrency: syncedData.currencyInfo}} 이상 주문시 무료 배송
                    </div>
                    <div
                      *ngSwitchCase="'en'"
                      class="cart__multi-table--delivery-info-description subtitle-2-regular u-color-dark-grey">
                      Free shipping over {{item.location.free_shipping_threshold | onpicksCurrency: syncedData.currencyInfo}} with {{item.location.name}} items
                    </div>
                  </ng-container>
                </div>
              </td>
            </tr>
          </table>
        </ng-container>

      </ng-container>
    </ng-container>
      <onpicks-sort-box
        (click)="toggleWishList(f)"
        class="cart__load-purchase-thing"
        [fontSize]="'1.4rem'"
        [showBox]="false"
        [sortList]="[
          {
            title : {
              ko : '다음에 구매할 물건 불러오기',
              en : 'Hide Save for Later'
           }, value : 0
         }
        ]">
      </onpicks-sort-box>
      <div #f class="cart__wishlist">
        <div
          i18n="@@cart__wishlist--title"
          class="cart__wishlist--title h1-bold">
          다음에 구매하기
        </div>
        <ng-container *ngIf="syncedData?.wishList?.length === 0">
          <div
            i18n="@@cart__wishlist--empty"
            class="subtitle-1-regular u-color-dark-grey">
            다음에 구매할 상품이 없습니다. 다음에 구매할 상품을 담아주세요!
          </div>
        </ng-container>
        <div class="cart-mobile">
          <div class="cart-mobile__table">
            <div
              class="cart-mobile__table--item"
              *ngFor="let itemForFree of syncedData?.wishList index as itemForFreeIndex">
              <div class="cart-mobile__table--item--image-and-font-line-fixed">

                <div class="cart-mobile__table--item--image">
                  <div class="cart-mobile__table--item--image-inner">
                    <img drLazyLoad src="{{itemForFree.thumbnail}}" alt="{{itemForFree.title}}">
                  </div>
                </div>

                <div class="cart-mobile__table--item-info">

                  <div class="cart-mobile__table--item-info--title subtitle-3-bold">
                    {{itemForFree.brand}}
                  </div>
                  <div class="cart-mobile__table--item-info--description body-3-regular">
                    {{itemForFree.title}}
                  </div>
                  <div class="cart-mobile__table--item-info--price subtitle-2-bold">
                    {{itemForFree.price | onpicksCurrency : syncedData.currencyInfo}}
                  </div>
                  <div style="margin-top:0.8rem;">
                    <span
                      class="cart__wishlist-table--delivery-info-image"
                      [ngClass]=
                        "[
                      (locationMap[itemForFree?.location.code]?.nickname === 'la')  ? 'icon-small-la' : '',
                      (locationMap[itemForFree?.location.code]?.nickname === 'new')  ? 'icon-small-new' : '',
                      (locationMap[itemForFree?.location.code]?.nickname === 'osaka')  ? 'icon-small-osaka' : '',
                      (locationMap[itemForFree?.location.code]?.nickname === 'gorgia')  ? 'icon-small-gorgia' : '',
                      (locationMap[itemForFree?.location.code]?.nickname === 'hong')  ? 'icon-small-hong' : ''
                    ]">
                    </span>
                    <div class="cart__wishlist-table--delivery-info-where subtitle-2-regular">
                      <span class="u-bold">{{itemForFree.location.name}}</span> 출고 ·</div>
                    <div class="cart__wishlist-table--delivery-info-price subtitle-2-bold" *ngIf="itemForFree.shipping_fee == 0">&nbsp;무료배송</div>
                    <div class="cart__wishlist-table--delivery-info-price subtitle-2-regular"
                         *ngIf="itemForFree.shipping_fee > 0">&nbsp;묶음배송 </div>
                  </div>
                </div>
              </div>
              <div class="cart-mobile__table--item-option">
                <div class="cart-mobile__table--item-option--vertical-center">
                  <onpicks-button
                    [width]="'11.4rem'"
                    [type]="'white'"
                    (click)="moveWishListToCart(1, itemForFree.product, itemForFree.ship_alone ? 'free' : locationMap[itemForFree?.location.code]?.sequence, i)"
                    *ngIf="itemForFree.attributes.length === 0"
                    [size]="'small'">
                    쇼핑백에 담기
                  </onpicks-button>
                  <onpicks-button
                    i18n="@@word__remove"
                    [marginLeft]="'0.8rem'"
                    [type]="'white'"
                    [width]="'11.4rem'"
                    (click)="deleteWishList(itemForFree.product, i)"
                    *ngIf="itemForFree.attributes.length === 0"
                    [size]="'small'">
                    삭제하기
                  </onpicks-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <table class="cart__wishlist-table">
          <tr *ngFor="let item of syncedData?.wishList; index as i">
            <td>
              <div class="cart__wishlist-table--image">
                <img drLazyLoad src="{{item.thumbnail}}" alt="{{item.title}}">
              </div>

              <div class="cart__wishlist-table--info">
                <div class="cart__wishlist-table--info-title subtitle-3-bold">{{item.brand}}</div>
                <div class="cart__wishlist-table--info-name subtitle-3-regular">{{item.title}}</div>
                <div class="cart__wishlist-table--info-price subtitle-2-bold">{{item.price | onpicksCurrency: syncedData.currencyInfo}}</div>
              </div>
            </td>
            <td>
              <div class="cart__wishlist-table--delivery-info">
                <span
                  class="cart__wishlist-table--delivery-info-image"
                  [ngClass]=
                  "[
                    (locationMap[item?.location.code]?.nickname === 'la')  ? 'icon-small-la' : '',
                    (locationMap[item?.location.code]?.nickname === 'new')  ? 'icon-small-new' : '',
                    (locationMap[item?.location.code]?.nickname === 'osaka')  ? 'icon-small-osaka' : '',
                    (locationMap[item?.location.code]?.nickname === 'gorgia')  ? 'icon-small-gorgia' : '',
                    (locationMap[item?.location.code]?.nickname === 'hong')  ? 'icon-small-hong' : ''
                  ]">
                </span>

                <div class="cart__wishlist-table--delivery-info-where subtitle-2-regular">
                  <span class="u-bold">{{item.location.name}}</span> 출고 ·</div>
                <div class="cart__wishlist-table--delivery-info-price subtitle-2-bold" *ngIf="item.shipping_fee == 0">&nbsp;무료배송</div>
                <div class="cart__wishlist-table--delivery-info-price subtitle-2-regular"
                     *ngIf="item.shipping_fee > 0">&nbsp;묶음배송 · {{item.shipping_fee | onpicksCurrency:syncedData.currencyInfo}}</div>
                <div class="cart__wishlist-table--delivery-info-description subtitle-2-regular u-color-dark-grey">
                  {{item.location.name}} 묶음배송 상품으로 {{item.location.free_shipping_threshold | onpicksCurrency: syncedData.currencyInfo}} 이상 주문시 배송료 무료
                </div>
              </div>
            </td>
            <td>
              <button
                *ngIf="item.attributes.length !== 0"
                class="btn btn--white btn--small cart__wishlist-table--btn"
                [routerLink]="'/shops/p/' + item.product">
                옵션 선택하기
              </button>
              <button
                (click)="moveWishListToCart(1, item.product, item.ship_alone ? 'free' : locationMap[item?.location.code]?.sequence, i)"
                *ngIf="item.attributes.length === 0"
                class="btn btn--white btn--small cart__wishlist-table--btn">
                쇼핑백에 담기
              </button>
              <button
                i18n="@@word__remove"
                class="btn btn--white btn--small cart__wishlist-table--btn"
                (click)="deleteWishList(item.product, i)">
                삭제하기
              </button>
            </td>
          </tr>
        </table>
      </div>


      <div class="cart__payment">
        <div i18n="@@cart__section--title" class="cart__section--title h1-bold">결제금액</div>
        <table class="cart__payment-table">
          <tr class="subtitle-2-regular u-color-dark-grey">
            <td i18n="@@word__subtotal">총 상품금액</td>
            <td></td>
            <td i18n="@@word__shipping-fee">배송비</td>
            <td></td>
            <td i18n="@@cart__payment-table--extra-savings">할인금액</td>
            <td></td>
            <td i18n="@@cart__payment-table--order-total">총 결제금액</td>
          </tr>
          <tr class="h1-bold">
            <td>{{ syncedData?.cartInfo?.total?.total_items | onpicksCurrency: syncedData.currencyInfo }}</td>
            <td>+</td>
            <td
              i18n="@@word__free-shipping"
              *ngIf="syncedData?.cartInfo?.total?.total_shipping_costs === 0"
              [ngClass]="{ 'u-color-green' : syncedData?.cartInfo?.total?.total_shipping_costs == 0 }">
              무료
            </td>
            <td
              *ngIf="syncedData?.cartInfo?.total?.total_shipping_costs !== 0"
              [ngClass]="{ 'u-color-green' : syncedData?.cartInfo?.total?.total_shipping_costs == 0 }">
              {{ (syncedData?.cartInfo?.total?.total_shipping_costs | onpicksCurrency: syncedData.currencyInfo) }}
            </td>
            <td>-</td>
            <td>{{ syncedData?.cartInfo?.total?.total_discounts | onpicksCurrency: syncedData.currencyInfo }}</td>
            <td>=</td>
            <td>{{ syncedData?.cartInfo?.total?.total_items + syncedData?.cartInfo?.total?.total_shipping_costs | onpicksCurrency : syncedData.currencyInfo }}</td>
          </tr>
        </table>
        <onpicks-button
          class="cart__btn--shopping"
          i18n="@@cart__btn--shopping"
          routerLink="/shops"
          [type]="'white'"
          [size]="'big'"
          [width]="'auto'">
          계속 쇼핑하기
        </onpicks-button>
        <onpicks-button
          (click)="setCheckoutList(denormalizr(cartStore.cartList))"
          class="cart__btn--shopping"
          i18n="@@cart__btn--buy-all"
          [type]="'black'"
          [size]="'big'"
          [width]="'auto'">
          전체 구매하기
        </onpicks-button>
      </div>
    </div>
  </ng-container>

  <ui-mini-list
    [mobileType]="'full'"
    [infoList]="weeklyBest$ | async"
    i18n-setTitle="@@recommand-products__title"
    setTitle="추천상품"
  >
  </ui-mini-list>
</div>

