@import '~src/assets/scss/abstracts/variables';

.cart-mobile{
  display:none;
  @include respond(tb){
    display:block;
  }

  &__price {
    &--description {
      padding : 1.6rem 0;
      border-top: 1px solid $color-light-grey;
      border-bottom : 1px solid $color-light-grey;

      & > div:not(:last-child){
        margin-bottom : 0.8rem;
      }
    }

    &--all {
      padding : 1.6rem 0;
      border-bottom : 1px solid $color-light-grey;
      margin-bottom : 1.6rem;
    }
  }

  &__table {
    clear:both;
    &--item {
      padding: 1.6rem 0;
      border-top: 1px solid $color-light-grey;
      &:last-child{
        border-bottom : 1px solid $color-light-grey;
      }
      &-info{
        &--title {
          margin-bottom : 4px;
        }
        &-description {
          margin-bottom : 4px;

        }

        &--price {

        }
        width : calc(100% - ( 11.2rem + 1.6rem ) );
        display:inline-block;
        vertical-align: top;
      }

      &-option {
        position:relative;
        display:table;
        width:100%;
        margin-top : 1.6rem;
        &--vertical-center{
          display:table-cell;
          vertical-align: middle;
        }
        &--add-to-wish {
          display:inline-block;
          margin-right : 2.4rem;
        }

        &--delete {
          display:inline-block;
          margin-right : 2.4rem;
        }

        &--manage-amount {
          display:inline-block;
          float:right;
        }
      }

      &--image-and-font-line-fixed{

      }
      &--image {
        padding : 0.8rem;
        height :11.2rem;
        width : 11.2rem;
        display:inline-block;
        margin-right : 1.6rem;
        &-inner {
          width : 100%;
          padding-top : 100%;

          img {
            @include imageAspactRatio;
          }
        }

      }

    }
  }
}

.cart{

  padding : 0 1.6rem;

  @include respond(tb){
    overflow:hidden;
  }
  ui-progressive-bar {
    display:inline-block;
    width : 69.4rem;
    @media only screen and (max-width: 59.4375em) {
      width : calc(100% - 3.2rem);
      margin-right :3.2rem;
    };

    @include respond(tb){
      width : 100%;
    }
  }

  &__delivery-multi {
    display:table;
    width:100%;
    border-top : 1px solid #e5e5e5;
    height : 7.2rem;
    border-bottom : solid 1px #e5e5e5;

    &-purchase {
      width:100%;
      display:table;
      height: 7.6rem;

      &--remain {
        display:table-cell;
        vertical-align: middle;
        padding : 1.6rem 0;

        @media only screen and (max-width: 59.4375em) {
          width : calc(100% - 19.3rem);
        };

        @include respond(tb){
          display:block;
          width :100%;
        }


        &-description {
          margin-bottom : 8px;
        }

      }


      &--btn {
        display:table-cell;
        vertical-align: middle;
        right : 2.4rem;
        width:16.1rem;
        margin-top : 1.6rem;
        margin-bottom : 1.6rem;

        @include respond(tb){
          display:block;
          width : 100%;
        }

        //&--mobile-outer {
        //  @include respond(tb){
        //    padding : 1.6rem 0;
        //  }
        //}
      }
    }

    &-total-count {
      display:inline-block;
      @include verticalCenter;
      right : 2.4rem;
      span {
        margin-left : 8px;
      }
    }
    &-middle {
      position:relative;
      display:table-cell;
      vertical-align: middle;
      width:100%;
      height : 4rem;
    }

    &-icon {
      margin-left : 2.4rem;
      position:relative;
      display:inline-block;
      margin-right: 1.6rem;
      width : 4rem;
      height: 4rem;
    }


    &-spot-list {
      display:inline-block;
      @include verticalCenter;
    }
  }

  .row {
    margin-bottom : 5.6rem;
  }

  &__wishlist {

    display: none;



    &--title {
      margin-bottom: 2.4rem;
    }

    &-table {
      @include respond(tb){
        display:none !important;
      }
      clear:both;
      margin-bottom: 4rem;
      border-collapse: collapse;
      border-top : 1px solid #e5e5e5;
      border-bottom : 1px solid #e5e5e5;

      td {
        vertical-align: top;
        padding : 2.4rem;
      }

      td:not(:last-child) {
        border-right : 1px solid #e5e5e5;
      }

      tr:not(:last-child) {
        border-bottom : 1px solid #e5e5e5;
      }


      td:nth-of-type(1){
        width: 67.3rem;
        //647 180 299
      }
      td:nth-of-type(2){
        width: 29.1rem;
        //647 180 299
      }
      td:nth-of-type(3){
        width: 16.2rem;
        //647 180 299
      }

      &--btn {
        width : 11.8rem;
        &:not(:last-child){
          margin-bottom: 1.2rem;
        }
      }


      &--image {
        width : 11.2rem;
        height : 11.2rem;
        display: inline-block;
        margin-right :2.4rem;
        img {
          @include imageAspactRatio;
        }
      }

      &--info {
        width : 38.1rem;
        vertical-align: top;
        display:inline-block;

        &-title {
          margin-bottom :4px;
        }

        &-name {
          margin-bottom :4px;
        }

        &-price {
        }
      }


      &--delivery-info {

        &-image {
          display: inline-block;
          margin-right: 8px;
          img{
            width: 16px;
            height: 16px;
          }
        }

        &-where {
          margin-top : -2px;
          display: inline-block;
          vertical-align: top;
        }

        &-price {
          margin-top : -2px;
          display:inline-block;
          vertical-align: top;
          margin-bottom : 4px;
        }

        &-description {

        }

      }

      &--amount {

        margin-bottom : 2.8rem;

        & > *:not(:last-child) {
          margin-right : 2.4rem;
        }

        &-content{
          display:inline-block;
          vertical-align : top;
          margin-top: 0.6rem;
        }
      }
    }
  }

  &__btn {

    &--shopping {
      margin-right : 1.6rem;
      width:13.4rem;
      @include respond(tb){
        display:inline-block;
        width : 50%;
        padding : 0 0.8rem;
        margin-right: 0;
      }

    }

    &--checkout {
      width:13.4rem;
      height : 4.6rem;
    }
  }

  &__payment {
    @include respond(tb){
      display:none;
    }
    &-table {
      width : 100%;
      border-collapse: collapse;
      border-top : 1px solid #e5e5e5;
      border-bottom : 1px solid #e5e5e5;
      margin-bottom : 2.4rem;

      td {
        vertical-align: top;
        text-align:center;
        padding : 1.6rem 0;
      }

      tr:nth-of-type(1) {
        border-bottom : 1px solid #e5e5e5;
      }

      tr:nth-of-type(2) {
        td:nth-of-type(3){
        }
      }

      td:nth-of-type(1){
        width: 27.4rem;
        //647 180 299
      }

      td:nth-of-type(2){
        width: 1rem;
        //647 180 299
      }

      td:nth-of-type(3){
        width: 26.6rem;
        //647 180 299
      }

      td:nth-of-type(4){
        width: 1rem;
        //647 180 299
      }

      td:nth-of-type(5){
        width: 26.6rem;
        //647 180 299
      }

      td:nth-of-type(6){
        width: 1rem;
        //647 180 299
      }

      td:nth-of-type(7){
        width: 27.4rem;
        //647 180 299
      }

    }
  }


  &__load-purchase-thing {
    margin-top : 2.4rem;
    display:inline-block;
    margin-bottom : 4rem;
  }



  &__delivery-free {
    display:table;
    width:100%;
    border-top : 1px solid #e5e5e5;
    height : 7.2rem;
    border-bottom : solid 1px #e5e5e5;

    &-purchase{
      margin-top : 1.6rem;
      margin-bottom : 1.6rem;
      float:right;

      padding-right: 2.4rem;
      width:16.1rem;
      height : 4.6rem;
      @include respond(tb){
        width : 100%;
        margin : 1.6rem 0;
        padding-right : 0;
      }

    }

    &-total-count {
      display:inline-block;
      @include verticalCenter;
      right : 2.4rem;

      &--title {
        @include respond(tb){
          display:none;
        }
      }
      span{
        margin-left : 8px;
      }
    }
    &-middle {
      position:relative;
      display:table-cell;
      vertical-align: middle;
      width:100%;
      height : 4rem;
    }
    &-icon {
      margin-left : 2.4rem;
      position:relative;
      display:inline-block;
      border-radius: 50%;
      margin-right: 1.6rem;
      width : 4rem;
      height: 4rem;
      //background-color : $color-green;
      background-image : linear-gradient(#00A7BE,#008489);
    }

    &-font {
      @include absCenter;
      font-size : 2.6rem;
    }

    &-spot-list {
      display:inline-block;
      @include verticalCenter;

      &--location {
        @include respond(tb){
          display:none;
        }
      }

    }
  }

  &__title {
    padding-top : 3.2rem;
    padding-bottom : 2.4rem;

    &--empty-description {
      margin-bottom : 5.6rem;
    }
  }

  &__section--title {
    margin-bottom : 2.4rem;
    @include respond(tb){
      margin-top : 3.2rem;
    }
  }

  &__multi-table {
    margin-bottom: 4rem;
    border-collapse: collapse;
    border-top : 1px solid #e5e5e5;
    border-bottom : 1px solid #e5e5e5;

    @include respond(tb){
      display:none;
    }

    td {
      vertical-align: top;
      padding : 2.4rem;
    }

    td:not(:last-child) {
      border-right : 1px solid #e5e5e5;
    }

    tr:not(:last-child) {
      border-bottom : 1px solid #e5e5e5;
    }

    td:nth-of-type(1){
      width: 64.8rem;
      //647 180 299
    }
    td:nth-of-type(2){
      width: 18.2rem;
      //647 180 299
    }
    td:nth-of-type(3){
      width: 29.9rem;
      //647 180 299
    }


    &--image {
      width : 11.2rem;
      height :11.2rem;
      display: inline-block;
      margin-right :2.4rem;

      img {
        @include imageAspactRatio;
      }
    }

    &--info{
      width :calc(100% - 13.6rem);
      vertical-align: top;
      display:inline-block;

      &-title {
        margin-bottom :4px;
      }

      &-name {
        margin-bottom : 4px;
      }

      &-option {
        margin-bottom : 4px;
        &--spliter-margin {
          margin-left: 2px;
          margin-right: 2px;
        }
      }

      &-price {
      }
    }


    &--delivery-info {

      &-image {
        display: inline-block;
        margin-right: 8px;
        img{
          width: 1.6rem;
          height: 1.6rem;
        }
      }

      &-where {
        display: inline-block;
        vertical-align: top;

      }

      &-price {
        margin-top : 4px;
        margin-bottom : 4px;
      }

      &-description {
      }

    }

    &--amount {

      margin-bottom : 2.8rem;

      & > *:not(:last-child) {
        margin-right : 2.4rem;
      }

      &-content{
        display:inline-block;
        vertical-align : top;
        margin-top: 0.6rem;
      }
    }

    &--add-to-wish {
      margin-bottom : 1.2rem;
    }

    &--delete {
    }
  }

  &__free-table {
    clear:both;
    margin-bottom: 4rem;
    border-collapse: collapse;
    border-top : 1px solid #e5e5e5;
    border-bottom : 1px solid #e5e5e5;

    @include respond(tb){
      display:none;
    }

    td {
      vertical-align: top;
      padding : 2.4rem;
    }

    td:not(:last-child) {
      border-right : 1px solid #e5e5e5;
    }

    tr:not(:last-child) {
      border-bottom : 1px solid #e5e5e5;
    }


    td:nth-of-type(1){
      width: 64.8rem;
      //647 180 299
    }
    td:nth-of-type(2){
      width: 18.2rem;
      //647 180 299
    }
    td:nth-of-type(3){
      width: 29.9rem;
      //647 180 299
    }


    &--image {
      width : 11.2rem;
      height : 11.2rem;
      display: inline-block;
      margin-right :2.4rem;
      img {
        @include imageAspactRatio;
      }
    }

    &--info{
      width : calc(100% - 13.6rem);
      vertical-align: top;
      display:inline-block;

      &-title {
        margin-bottom :4px;
      }

      &-name {
        margin-bottom :4px;
      }

      &-price {
      }
    }


    &--delivery-info {

      &-image {
        display: inline-block;
        margin-right: 8px;
        img{
          width: 1.6rem;
          height: 1.6rem;
        }
      }

      &-where {
        margin-top : -2px;
        display: inline-block;
        vertical-align: top;

      }

      &-price {
        margin-top : -2px;
        display:inline-block;
        vertical-align: top;
      }

      &-description {
      }

    }

    &--amount {

      margin-bottom : 2.8rem;

      & > *:not(:last-child) {
        margin-right : 2.4rem;
      }

      &-content{
        display:inline-block;
        vertical-align : top;
        margin-top: 0.6rem;
      }
    }

    &--add-to-wish {
      margin-bottom : 1.2rem;
    }

    &--delete {
    }
  }
}


