
<div class="cart">
  <ng-container *ngIf="{
    cartList:   (cartStore$ | async)?.cartList,
    cartInfo:   (cartStore$ | async)?.cartInfo
  } as syncedData">
  <div class="row">
    <div class="cart__title">쇼핑백</div>
      <div class="cart__section--title">무료배송 상품</div>

      <div class="cart__delivery-free">
        <div class="cart__delivery-free-middle">
          <span class="cart__delivery-free-icon">
            <span class="cart__delivery-free-font">F</span>
          </span>
          <span class="cart__delivery-free-spot-list">
            <ng-container [ngSwitch]="locale">
              <span *ngSwitchCase="'ko'" class="subtitle-1-bold" [ngStyle]="{ 'marginRight' : '0.4rem' }">뉴저지</span>
              <span *ngSwitchCase="'en'" class="subtitle-1-bold" [ngStyle]="{ 'marginRight' : '0.8rem' }">뉴저지</span>
              <span *ngSwitchCase="'zh'" class="subtitle-1-bold" [ngStyle]="{ 'marginRight' : '0.8rem' }">뉴저지</span>
            </ng-container>
            <span>무료배송</span>
          </span>
          <span class="cart__delivery-free-total-count">총 결제금액 <span>150000원</span></span>
        </div>
      </div>

      <onpicks-button class="cart__delivery-free-purchase" [type]="'white'" [size]="'big'" [width]="'16.1rem'">무료배송 구매하기</onpicks-button>

      <table class="cart__free-table">
        <tr>
          <td>
            <div class="cart__free-table--image">
              <img drLazyLoad src="" alt="">
            </div>

            <div class="cart__free-table--info">
              <div class="cart__free-table--info-title subtitle-3-bold">title</div>
              <div class="cart__free-table--info-name body-3-regular">알엑스바 리얼 푸드 프로틴 에너지바 믹스드 베리 52G / RxBar Real Food Protein Bars Mixed Berry 1.83OZ</div>
              <div class="cart__free-table--info-price subtitle-2-bold">40,900원</div>
            </div>

          </td>
          <td>
            <div class="cart__free-table--amount">
              <onpicks-list-active-button [isFixExtend]="true"></onpicks-list-active-button>
            </div>

            <div class="cart__free-table--add-to-wish">
              <a class="subtitle-2-regular u-color-grey">
                다음에 구매하기
              </a>
            </div>
            <div class="cart__free-table--delete">
              <a
                (click)="deleteCart()"
                class="subtitle-2-regular u-color-grey">

                삭제하기
              </a>
            </div>
          </td>
          <td>
            <div class="cart__free-table--delivery-info">
              <div class="cart__free-table--delivery-info-image">
                <img src="http://img.onpicks.com/cart__table--info-N.png" alt="">
              </div>

              <div class="cart__free-table--delivery-info-where subtitle-2-regular"><span class="u-bold">뉴저지</span>출고&nbsp;·&nbsp;</div>
              <div class="cart__free-table--delivery-info-price subtitle-2-bold">무료배송</div>
              <div class="cart__free-table--delivery-info-description subtitle-2-regular u-color-dark-grey">뉴저지 단독 배송 상품으로 개별 배송료가 발생합니다.</div>
            </div>
          </td>
        </tr>
      </table>
    <div class="cart__section--title">묶음 배송 상품</div>
    <div *ngFor="let item of syncedData?.cartInfo?.pack; index as i">
      <ng-container *ngIf="item.items?.length !== 0">

        <div class="cart__delivery-multi">
          <div class="cart__delivery-multi-middle">
            <span class="cart__delivery-multi-icon subtitle-1-bold"
              [ngClass]=
                "[
                  (item.location.slug === locationMap['la'])  ? 'icon-la' : '',
                  (item.location.slug === locationMap['new'])  ? 'icon-new' : '',
                  (item.location.slug === locationMap['osaka'])  ? 'icon-osaka' : '',
                  (item.location.slug === locationMap['gorge'])  ? 'icon-gorge' : '',
                  (item.location.slug === locationMap['hong'])  ? 'icon-hong' : ''
                ]"
            >
            </span>
            <span class="cart__delivery-multi-spot-list">
              <ng-container [ngSwitch]="locale">
                <span *ngSwitchCase="'ko'" class="subtitle-1-bold" [ngStyle]="{ 'marginRight' : '0.4rem' }">{{item.location.name}}</span>
                <span *ngSwitchCase="'en'" class="subtitle-1-bold" [ngStyle]="{ 'marginRight' : '0.8rem' }">{{item.location.name}}</span>
                <span *ngSwitchCase="'zh'" class="subtitle-1-bold" [ngStyle]="{ 'marginRight' : '0.8rem' }">{{item.location.name}}</span>
              </ng-container>
              <span class="subtitle-1-regular">묶음배송</span>
            </span>
            <span class="cart__delivery-multi-total-count">
              <span class="subtitle-2-regular u-color-dark-grey">총 결제금액</span>
              <span class="subtitle-2-bold">{{item.subtotal | onpicksCurrency: 'KRW'}}</span>
            </span>
          </div>
        </div>

        <div class="cart__delivery-multi-purchase">
          <div class="cart__delivery-multi-purchase--remain">
            <div *ngIf="((item.free_shipping_threshold - (item.subtotal - item.shipping_fee)) > 0)" class="cart__delivery-multi-purchase--remain-description subtitle-2-regular">{{item.location.name}} 무료배송까지 {{item.free_shipping_threshold - (item.subtotal - item.shipping_fee) | onpicksCurrency:'KRW'}} 남았습니다</div>
            <div *ngIf="!((item.free_shipping_threshold - (item.subtotal - item.shipping_fee)) > 0)"class="cart__delivery-multi-purchase--remain-description subtitle-2-bold">{{item.location.name}} 무료배송 조건이 충족되었습니다</div>
            <ui-progressive-bar [progressWidth]="
            ((((item.subtotal - item.shipping_fee) / item.free_shipping_threshold) * 100) > 100 ? 100 :  ((((item.subtotal - item.shipping_fee) / item.free_shipping_threshold) * 100))) + '%'"></ui-progressive-bar>
          </div>

          <onpicks-button
            (click)="setCheckoutList(item.items)"
            class="cart__delivery-multi-purchase--btn"
            [type]="'white'"
            [size]="'big'"
            [width]="'16.1rem'"
          >묶음배송 구매하기</onpicks-button>
        </div>
      </ng-container>
      <table class="cart__multi-table">
        <tr *ngFor="let itemChild of item.items; index as i">
          <td>
            <div class="cart__multi-table--image">
              <img src="{{itemChild.thumbnail}}" alt="">
            </div>
            <div class="cart__multi-table--info">
              <div class="cart__multi-table--info-title subtitle-3-bold">{{itemChild.brand}}</div>
              <div class="cart__multi-table--info-name subtitle-3-regular">{{itemChild.title}}</div>
              <div class="cart__multi-table--info-price subtitle-2-bold">{{itemChild.sale_price | onpicksCurrency: 'KRW'}}</div>
            </div>
          </td>
          <td>
            <div class="cart__multi-table--amount">
              <onpicks-list-active-button
                (addEvent)="addToCart(syncedData?.cartList[itemChild.product]?.quantity, itemChild.product)"
                (subtractEvent)="subtractFromCart(syncedData?.cartList[itemChild.product]?.quantity, itemChild.product)"
                [amount]="syncedData?.cartList[itemChild.product]?.quantity"
                [isFixExtend]="true">
              </onpicks-list-active-button>
              <!--<onpicks-numeric-button [active]="item.amount !== 0" [type]="'minus'"></onpicks-numeric-button>-->
              <!--<span class="cart__multi-table&#45;&#45;amount-content">10</span>-->
              <!--<onpicks-numeric-button [active]="item.amount !== 10" [type]="'plus'"></onpicks-numeric-button>-->
            </div>

            <div class="cart__multi-table--add-to-wish">
              <a class="subtitle-2-regular u-color-grey">
                다음에 구매하기
              </a>
            </div>
            <div class="cart__multi-table--delete subtitle-2-regular u-color-grey">
              <a
                (click)="deleteCart(itemChild.product)"
                class="subtitle-2-regular u-color-grey">
                삭제하기
              </a>
            </div>
          </td>
          <td *ngIf="i === 0" [attr.rowspan]="item?.items.length">
            <div class="cart__multi-table--delivery-info">
              <!--<div class="cart__multi-table--delivery-info-image">-->
                <!--<img src="http://img.onpicks.com/cart__table--info-N.png" alt="">-->
              <!--</div>-->

              <!--<div class="cart__multi-table--delivery-info-where"><span class="u-bold">뉴저지</span> 출고</div>-->
              <div class="cart__multi-table--delivery-info-price" [ngSwitch]="(item.subtotal - item.shipping_fee) < item.free_shipping_threshold">
                <span class="subtitle-2-regular" *ngSwitchCase="true">{{item.shipping_fee | onpicksCurrency: 'KRW'}}</span>
                <span class="subtitle-2-bold u-color-green" *ngSwitchDefault>무료</span>
              </div>
              <div class="cart__multi-table--delivery-info-description subtitle-2-regular u-color-dark-grey">뉴저지 단독 배송 상품 {{item.free_shipping_threshold | onpicksCurrency: 'KRW'}} 이상 주문시 무료 배송</div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <onpicks-sort-box
      (click)="toggleWishList(f)"
      class="cart__load-purchase-thing"
      [fontSize]="'1.4rem'"
      [showBox]="false"
      [sortList]="[{ title : '다음에 구매할 물건 불러오기', value : 0 }]">
    </onpicks-sort-box>
    <div #f class="cart__wishlist">
      <div class="cart__wishlist--title">다음에 구매하기</div>
      <table class="cart__wishlist-table">
        <tr>
          <td>
            <div class="cart__wishlist-table--image">
              <img src="https://picsum.photos/112/112?image=180" alt="">
            </div>

            <div class="cart__wishlist-table--info">
              <div class="cart__wishlist-table--info-title u-bold">알엑스바</div>
              <div class="cart__wishlist-table--info-name">알엑스바 리얼 푸드 프로틴 에너지바 믹스드 베리 52G / RxBar Real Food Protein Bars Mixed Berry 1.83OZ</div>
              <div class="cart__wishlist-table--info-price u-bold">40,900원</div>
            </div>
          </td>
          <td>무료배송</td>
          <td>
            <div class="cart__wishlist-table--delivery-info">
              <div class="cart__wishlist-table--delivery-info-image">
                <img src="http://img.onpicks.com/cart__table--info-N.png" alt="">
              </div>

              <div class="cart__wishlist-table--delivery-info-where"><span class="u-bold">뉴저지</span> 출고</div>
              <div class="cart__wishlist-table--delivery-info-price">무료</div>
              <div class="cart__wishlist-table--delivery-info-description">뉴저지 단독 배송 상품으로 개별 배송료가 발생합니다.</div>
            </div>
          </td>
          <td>
            <button class="btn btn--white btn--small cart__wishlist-table--btn">옵션 선택하기</button>
            <button class="btn btn--white btn--small cart__wishlist-table--btn">삭제하기</button>
          </td>
        </tr>
      </table>
    </div>


    <div class="cart__payment">
      <div class="cart__section--title">결제금액</div>
      <table class="cart__payment-table">
        <tr>
          <td>총 상품금액</td>
          <td></td>
          <td>배송비</td>
          <td></td>
          <td>할인금액</td>
          <td></td>
          <td>총 결제금액</td>
        </tr>
        <tr>
          <td>{{syncedData?.cartInfo?.total?.total_items | onpicksCurrency: 'KRW'}}</td>
          <td>+</td>
          <td [ngClass]="{ 'u-color-black' : syncedData?.cartInfo?.total?.total_shipping_fee !== 0}">{{syncedData?.cartInfo?.total?.total_shipping_fee === 0 ? '무료' : (syncedData?.cartInfo?.total?.total_shipping_fee  | onpicksCurrency: 'KRW')}}</td>
          <td>-</td>
          <td>{{syncedData?.cartInfo?.total?.total_discounts | onpicksCurrency: 'KRW'}}</td>
          <td>=</td>
          <td>{{syncedData?.cartInfo?.total?.total_items + syncedData?.cartInfo?.total?.total_shipping_fee | onpicksCurrency : 'KRW'}}</td>
        </tr>
      </table>
    </div>
    <onpicks-button class="cart__btn--shopping" [type]="'white'" [size]="'big'" [width]="'13.4rem'">계속 쇼핑하기</onpicks-button>
    <onpicks-button
      (click)="setCheckoutList(denormalizr(cartStore.cartList))"
      class="cart__btn--shopping"
      [type]="'black'"
      [size]="'big'"
      [width]="'13.4rem'">전체 구매하기
    </onpicks-button>
    </div>
  </ng-container>

  <ui-mini-list [setTitle]="'이 상품과 함께 구매한 상품'"></ui-mini-list>
</div>

