<div class="row checkout" *ngLet="(currency| async) as currencyInfo">
  <div
    class="checkout-mobile"
    *ngIf="(checkoutStore$ | async) as data;">
    <div
      (click)="isShowMobilePriceInfo = !isShowMobilePriceInfo"
      class="checkout-mobile__final-price">
      <h1
        i18n="@@word__order-summary"
        class="checkout-mobile__final-price--title h1-bold">
        최종결제금액
      </h1>
      <div
        class="checkout-mobile__final-price--price subtitle-2-bold">
        {{data.grand_total | onpicksCurrency : currencyInfo}}
        <svg
          *ngIf="isShowMobilePriceInfo"
          class="checkout-mobile__final-price--svg" width="10" height="6" viewBox="0 0 10 6">
          <path fill="#B3B3B3" fill-rule="evenodd" d="M9 6a.997.997 0 0 1-.707-.293L5 2.414 1.707 5.707A.999.999 0 1 1 .293 4.293l4-4a.999.999 0 0 1 1.414 0l4 4A.999.999 0 0 1 9 6"/>
        </svg>
        <svg
          *ngIf="!isShowMobilePriceInfo"
          class="checkout-mobile__final-price--svg" width="10" height="6" viewBox="0 0 10 6">
          <path fill="#292929" fill-rule="evenodd" d="M5 6a.997.997 0 0 1-.707-.293l-4-4A.999.999 0 1 1 1.707.293L5 3.586 8.293.293a.999.999 0 1 1 1.414 1.414l-4 4A.997.997 0 0 1 5 6"/>
        </svg>
      </div>
    </div>
    <div
      *ngIf="isShowMobilePriceInfo"
      class="checkout-mobile__price-info">
      <div class="checkout-mobile__price-info--items">
        <div
          class="checkout-mobile__price-info--items--item"
          *ngFor="let item of data.items; index as itemIndex">
          <div class="checkout-mobile__price-info--items--item--image-and-font-line-fixed">

            <div class="checkout-mobile__price-info--items--item--image">
              <div class="checkout-mobile__price-info--items--item--image-inner">
                <img drLazyLoad src="{{item.thumbnail}}" alt="">
              </div>
            </div>

            <div class="checkout-mobile__price-info--items--item-info">
              <div class="checkout-mobile__price-info--items--item-info--title subtitle-3-bold">
                {{item.brand}}
              </div>
              <div class="checkout-mobile__price-info--items--item-info--description body-3-regular">
                {{item.title}}
              </div>
              <div class="checkout-mobile__price-info--items--item-info--price subtitle-2-bold">
                {{item.price | onpicksCurrency : currencyInfo}} / {{item.quantity}}개
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="checkout-mobile__price">
        <div class="checkout-mobile__price--description">
          <div class="checkout-mobile__price--all-product">
            <span
              i18n="@@word__subtotal"
              class="subtitle-2-regular u-color-dark-grey">
              총 상품금액
            </span>
            <span class="subtitle-2-regular u-float-right">{{data.total_items | onpicksCurrency : currencyInfo}}</span>
          </div>
          <div class="checkout-mobile__price--delivery">
            <span
              i18n="@@word__shipping-fee"
              class="subtitle-2-regular u-color-dark-grey">배송비</span>
            <span
              class="subtitle-2-regular u-float-right"
              [ngClass]="{ 'u-color-green' : data.total_shipping_costs === 0 }">{{data.total_shipping_costs === 0 ? ('무료') : (data.total_shipping_costs | onpicksCurrency : currencyInfo)}}</span>
          </div>
          <div class="checkout-mobile__price--discount">
            <span
              i18n="@@word__savings"
              class="subtitle-2-regular u-color-dark-grey">할인금액</span>
            <span class="subtitle-2-regular u-float-right">{{data.total_discounts | onpicksCurrency : currencyInfo}}</span>
          </div>
        </div>
        <div class="checkout-mobile__price--all">
          <span
            i18n="@@word__order-total"
            class="subtitle-2-regular u-color-dark-grey">
            총 결제금액
          </span>
          <span class="subtitle-2-bold u-float-right">{{data.grand_total | onpicksCurrency : currencyInfo}}</span>
        </div>
      </div>
    </div>
  </div>

  <div
    [ngClass]="[ isThirdBreakPoint ? 'col-6-of-12 checkout-left' : 'checkout-left'] ">
    <div class="checkout-left__info">
      <div class="checkout-order-info">
        <h1
          i18n="@@word__buyer-information"
          class="checkout-order-info__title h1-bold">
          주문자 정보
        </h1>
        <div class="checkout-order-info__sub-title--outer">
          <div
            i18n="@@word__buyer-name"
            class="checkout-order-info__sub-title subtitle-2-regular">
            주문자
          </div>
          <onpicks-input-box
            #inputOrderName
            (keyup)="markForCheck($event)"
            class="checkout-order-info__input"
            i18n-placeholder="@@word__buyer-name"
            placeholder="'주문자 성함'">
          </onpicks-input-box>
          <div
            i18n="@@sentence__insert-buyer-name"
            *ngIf="checkBitWise(EMPTY_ORDER_NAME)"
            class="checkout--warning subtitle-2-regular u-color-orange">
            주문자 성함을 입력해주세요
          </div>
        </div>

        <div class="checkout-order-info__sub-title--outer">
          <div
            i18n="@@word__buyer-phone-number"
            class="checkout-order-info__sub-title subtitle-2-regular">
            주문자 연락처
          </div>
          <onpicks-input-box
            #inputOrderNumber
            (keyup)="markForCheck($event)"

            class="checkout-order-info__input"
            i18n-placeholder="@@word__buyer-phone-number"
            placeholder="'주문자 연락처'">
          </onpicks-input-box>
          <div
            *ngIf="checkBitWise(EMPTY_ORDER_NUMBER)"
            class="checkout--warning subtitle-2-regular u-color-orange">
            주문자 연락처를 입력해주세요
          </div>
          <div
            *ngIf="checkBitWise(INVALID_ORDER_NUMBER)"
            class="checkout--warning subtitle-2-regular u-color-orange">
            주문자 연락처를 정확하게 입력해주세요
          </div>
        </div>
      </div>

      <div class="checkout-left__info--delivery">
        <emitter-delivery-address
          #deliveryComponent
          [data]="deliveryData$">
        </emitter-delivery-address>
        <div
          i18n="@@word__delivery-requirements"
          class="checkout-left__info--delivery-tag subtitle-2-regular">
          배송요청사항
        </div>
        <onpicks-select-box
          (changeEvent)="setShippingMessage($event)"
          [multiLanguage]="true"
          [sortList]="deliveryOption">
        </onpicks-select-box>
        <div class="checkout-left__info--delivery-description">도서산간 지역의 경우 추후 수령시 추가 배송비가 발생할 수 있습니다.</div>
      </div>

      <div *ngIf="region === 'kr'" class="checkout-addition-info">
        <h1 class="h1-bold checkout-addition-info__title">해외직구상품 추가정보 (필수)</h1>
        <!--<div class="subtitle-2-regular checkout-addition-info__sub-title">개인통관고유부호 소유자 성함</div>
        <onpicks-input-box
        #checkoutAdditionName
        class="checkout-addition-info__input"
        [width]="'40.8rem'"
        [placeholder]="'받는분 성함'"></onpicks-input-box>
        <div *ngIf="checkBitWise(EMPTY_JUSO)" class="write-review__photo&#45;&#45;description subtitle-2-regular u-color-orange">개인통관부호 소유자 성함을 입력해주세요.</div>

        <div class="subtitle-2-regular u-color-dark-grey checkout-addition-info__description">반드시 주민등록상의 성함을 기재해 주셔야 하며, 잘못 기재 했을 시 통관지연등의 불이익을 받으실 수 있습니다.</div>-->

        <div class="checkout-addition-info__outer">
          <div class="subtitle-2-regular checkout-addition-info__sub-title">개인통관고유부호</div>
          <onpicks-input-box
            #checkoutAdditionNumber
            class="checkout-addition-info__input"
            [value]="userStore?.customs_id_number"
            [placeholder]="'P로 시작하는 13자리를 입력하세요'">
          </onpicks-input-box>

          <div *ngIf="!checkBitWise(EMPTY_CUSTOMS_ID_NUMBER) && !checkBitWise(INVALID_CUSTOMS_ID_NUMBER)" class="checkout--warning subtitle-2-regular u-color-dark-grey checkout-addition-info__description">상품을 받는분의 개인통관고유부호를 입력해주세요</div>
          <div *ngIf="checkBitWise(EMPTY_CUSTOMS_ID_NUMBER)" class="checkout--warning subtitle-2-regular u-color-orange">받는분의 개인통관고유부호를 입력해주세요</div>
          <div *ngIf="checkBitWise(INVALID_CUSTOMS_ID_NUMBER)" class="checkout--warning subtitle-2-regular u-color-orange">올바른 개인통관고유부호를 입력해주세요</div>
        </div>

        <onpicks-check-box
          (click)="isAgreementDirectBuyingInfo = !isAgreementDirectBuyingInfo"
          [type]="'checkbox'"
          class="checkout-addition-info__checkbox">
          통관정보 수집, 제공에 동의 (필수)
        </onpicks-check-box>
        <div *ngIf="checkBitWise(EMPTY_AGREEMENT_DIRECT_BUYING)" class="checkout--warning subtitle-2-regular u-color-orange">통관정보 수집, 제공에 대한 동의가 필요합니다</div>
        <div *ngIf="!checkBitWise(EMPTY_AGREEMENT_DIRECT_BUYING)"class="checkout--warning checkout-addition-info__description2 subtitle-2-regular u-color-dark-grey">받는분의 이름과 개인통관고유부호의 불일치로 인한 배송지연/환불에 대해서는 책임지지 않으니 이점 유의 하시기 바랍니다.</div>
        <div class="checkout-addition-info__question">
          <a
            href="https://unipass.customs.go.kr/csp/persIndex.do" target="_blank">
            <ui-angle-bracket-navigator>
              개인통관고유부호 발급하기
            </ui-angle-bracket-navigator>
          </a>
        </div>
        <onpicks-button
          (click)="addCustomIdNumber()"
          [type]="'white'"
          [padding]="false"
          [width]="'16.7rem'">
          개인통관고유부호 저장
        </onpicks-button>
      </div>

      <div *ngIf="region === 'kr'" class="checkout-left__info--checkout">
        <h3 class="checkout-left__info--checkout-title">결제정보</h3>
        <div class="checkout-left__info--checkout-tag">쿠폰</div>
        <input
          class="checkout-left__info--checkout-input"
          type="text"
          placeholder="쿠폰 번호를 입력하세요">
        <onpicks-button
          [padding]="false"
          [type]="'white'"
          [width]="'8.5rem'"
          class="checkout-left__info--coupon-btn">
          사용하기
        </onpicks-button>

        <div class="checkout-left__info--checkout-tag">결제방법 선택</div>

        <onpicks-check-box
          class="checkout-left__info--checkout-btn"
          [isChecked]="true"
          [radioType]="isThirdBreakPoint ? 'normal' :'radius'"
          #isCard
          (boxEvent)="changePaymentMethod($event, isCard)"
          [value]="'card'"
          [type]="'radio'">신용/체크카드</onpicks-check-box>

        <onpicks-check-box
          class="checkout-left__info--checkout-btn"
          [radioType]="isThirdBreakPoint ? 'normal' :'radius'"
          #isTransfer
          (boxEvent)="changePaymentMethod($event, isTransfer)"
          [value]="'transfer'"
          [type]="'radio'">실시간계좌이체</onpicks-check-box>

        <onpicks-check-box
          class="checkout-left__info--checkout-btn"
          [radioType]="isThirdBreakPoint ? 'normal' :'radius'"
          #isVaccount
          (boxEvent)="changePaymentMethod($event, isVaccount)"
          [value]="'vaccount'"
          [type]="'radio'">무통장입금(가상계좌)</onpicks-check-box>

        <onpicks-check-box
          class="checkout-left__info--checkout-btn"
          #isMobile
          [radioType]="isThirdBreakPoint ? 'normal' :'radius'"
          (boxEvent)="changePaymentMethod($event, isMobile)"
          [value]="'mobile'"
          [type]="'radio'">휴대폰결제</onpicks-check-box>
        <!--<onpicks-check-box [type]="'radio'">네이버페이</onpicks-check-box>-->
        <div *ngIf="checkBitWise(EMPTY_PAYMENT_METHOD)" class="checkout--warning write-review__photo--description subtitle-2-regular u-color-orange">결제방법을 선택해주세요.</div>

        <div
          *ngIf="!isThirdBreakPoint" class="checkout-right__menu--checkout">
          <onpicks-button
            i18n="@@word__confirm-and-pay"
            (click)="payment(form)"
            [type]="'black'"
            [width]="'100%'"
            [size]="'big'">
            결제하기
          </onpicks-button>
        </div>
      </div>

    </div>
  </div>

  <div
    [ngClass]="[ isThirdBreakPoint ? 'col-6-of-12 checkout-right' : 'checkout-right'] ">
    <onpicks-kr-checkout-menu *ngIf="(checkoutStore$ | async) as data; "
      [data]="data"
      [inputOrderName]="inputOrderNameRef"
      [inputOrderNumber]="inputOrderNumberRef"
      [inputRecipientName]="deliveryComponent.inputRecipientNameRef"
      [inputRecipientNumber]="deliveryComponent.inputRecipientNumberRef"
      [inputJuso]="deliveryComponent.inputJusoRef"
      [inputDetailJuso]="deliveryComponent.inputDetailJusoRef"
      [inputZipnumber]="deliveryComponent.inputZipnumberRef"
      [checkoutAdditionNumber]="checkoutAdditionNumberRef"
      [isAgreementDirectBuyingInfo]="isAgreementDirectBuyingInfo"
      [shippingMessage]="formData.shipping_message"
      [deliveryData]="deliveryData"
      [payment_method]="formData.payment_method"
      [errorStatus]="errorStatus"
      (validateEmitter)="validate(deliveryComponent)"
    >
    </onpicks-kr-checkout-menu>

  </div>
</div>


<form #form [formGroup]="initialGroup">

</form>
