<div class="reset-password">
  <div
    class="reset-password__title subtitle-1-bold"
    i18n="@@word__password-reset">
    비밀번호 재설정
  </div>
  <div
    class="reset-password__description body-2-regular"
    i18n="@@word__password-reset-guide">
    비밀번호는 영문, 숫자를 조합하여 최소 8~16자 입력해 주세요.
  </div>

  <div
    i18n="@@word__password"
    class="reset-password__password--title subtitle-2-bold">
    비밀번호
  </div>
    <onpicks-input-box
      class="reset-password__password--input"
      #inputPasswordOrigin
      [password]="true"
      i18n-placeholder="@@word__password"
      placeholder="비밀번호">
    </onpicks-input-box>


  <div
    class="reset-password__password-confirm--title subtitle-2-bold"
    i18n="@@word__password-confirm">
    비밀번호 확인
  </div>
  <onpicks-input-box
    [password]="true"
    #inputPasswordConfirm
    i18n-placeholder="@@word__password-confirm"
    class="reset-password__password-confirm--input"
    placeholder="비밀번호 확인">
  </onpicks-input-box>
  <onpicks-button
    class='reset-password__btn'
    (click)="passwordReset()"
    i18n="@@word__password-reset"
    [width]="'100%'"
    [type]="'black'"
    [size]="'big'">
    비밀번호 변경하기
  </onpicks-button>
</div>
