<ng-template #loading>
  <onpicks-loading-icon></onpicks-loading-icon>
</ng-template>

<onpicks-search-navigator-mobile-filter
  [categoryList]="searchState === 'search' ? categoryList : searchCategoryService.normalizedCategoryInfoList"
  [normalizedCategoryCodeList]="searchCategoryService.normalizedCategoryCodeList"
  [currentCategoryCode]="searchCategoryService.currentCategoryCode"
  [filters]="filters"
  [brandList]="brandList"
  [brandListForCheck]="searchCategoryService.brandListForCheck"
  [valueList]="valueList"
  [valueListForCheck]="searchCategoryService.valueListForCheck"
  [locationList]="locationList"
  [locationListForCheck]="searchCategoryService.locationListForCheck"
  [queryParams]="queryParams"
  [sortList]="sortList"
  (exit)="hideMobileFilter()"
  [state]="mobileFilterState"
  [searchState]="searchState"

  [currentSortSlug]="currentSortSlug"
  [isShowMobileFilter]="isShowMobileFilter">
</onpicks-search-navigator-mobile-filter>

<div class="row" [ngStyle]="{ minHeight : contentHeight }">
  <ng-container
    *ngIf="currentList?.length === 0 && router.url.split('/')[2].indexOf('search') > -1">
    <onpicks-search-content-empty [term]="queryParams.term" *ngIf="!isLoading">
    </onpicks-search-content-empty>
    <ui-mini-list
      [infoList]="weeklyBest$ | async"
      [setTitle]="'추천 상품'">
    </ui-mini-list>
  </ng-container>
  <ng-container
    *ngIf="currentList?.length !== 0 || !(router.url.split('/')[2].indexOf('search') > -1)">
    <div class="col-3-of-12 c-category">
      <div class="c-navigator-padding">
        <div class="c-category-navigator">
          <!--해당을 누르면 식품품 생홀용품 카테고리 메인페이지로 가게-->
          <onpicks-search-category-navigator [categoryList]="searchCategoryService.categoryList"></onpicks-search-category-navigator>
          <ng-container *ngIf="!(router.url.split('/')[2].indexOf('search') > -1)">
            <div
              class="c-category-navigator__title subtitle-1-bold">
              {{searchCategoryService.currentTitle === undefined ? searchCategoryService.currentTitle : searchCategoryService.currentTitle[locale]}}
            </div>
            <div class="c-category-navigator__content">
              <nav class="subtitle-3-bold u-color-dark-grey">
                <!-- async를 이용하여 마지막에의 변수값가져오기 -->
                <ul #depthOuter *ngIf="route.url | async as lastUrl">
                  <li #oneDepth *ngFor="let firstCategoryCode of searchCategoryService.normalizedCategoryCodeList">
                    <!--twoDepth-->
                    <div class="c-category-navigator__item">
                      <a (click)="searchCategoryService.updateSecondCategory(firstCategoryCode, searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].slug)"
                         [ngClass]="searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].active ? 'main-active' : 'main-deactive'" >
                        {{searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].name[locale]}}
                      </a>
                      <label (click)="searchCategoryService.onedepthFold(f1, label1)" >
                        <svg #label1 width="10" height="8" viewBox="0 0 10 8"
                             [ngStyle]="{'transform': searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].active ? 'rotate(-180deg)' : 'rotate(0deg)' }">
                          <polyline
                            points="1 2 5 6 9 2"
                            [ngClass]="searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].active ? 'u-color-stroke-black' : f1.style.maxHeight == '3500px' ? 'u-color-stroke-dark-grey' : 'u-color-stroke-grey'"
                            fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                      </label>
                    </div>
                    <!--threeDepth-->
                    <ul #f1
                        [ngStyle]="{'maxHeight': searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].active ? '3500px' : '0px' }">
                      <li #twoDepth *ngFor="let secondCategoryId of searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].children">
                        <div class="c-category-navigator__item">
                          <!--첫번째 category가 active되있는ㄴ지 아닌지 판단해서 색감넣음-->
                          <a (click)="searchCategoryService.updateThirdCategory(
                                      secondCategoryId,
                                      searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].slug,
                                      searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].slug)"
                             [ngClass]="searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].active && !searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].active
                                        ? searchCategoryService.previous.thirdPrevious !== undefined ? 'main-deactive' : 'sub-active' : searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].active ?  'main-active' : 'main-deactive' ">
                            {{searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].name[locale]}}
                          </a>
                          <!--3dpeth-->
                          <label *ngIf="searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].children.length !== 0 " (click)="searchCategoryService.twodepthFold(f2, label2)"  >
                            <svg #label2
                                 width="10" height="8" viewBox="0 0 10 8" xmlns="http://www.w3.org/2000/svg"
                                 [ngStyle]="{ 'transform' : searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].active ? 'rotate(-180deg)' : 'rotate(0deg)' }">
                              <polyline points="1 2 5 6 9 2"
                                        [ngClass]="searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].active ? 'u-color-stroke-black' : f2.style.maxHeight == '700px' ? 'u-color-stroke-grey' : 'u-color-stroke-light-grey'"
                                        fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </svg>
                          </label>
                        </div>

                        <ul #f2
                            [ngStyle]="{
                              'maxHeight' : searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].active ? '700px' : '0px' }">
                          <li #threeDepth *ngFor="let thirdCategoryId of searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].children">
                            <div class="c-category-navigator__item">
                              <a
                                (click)="searchCategoryService.updateFourthCategory(
                                      thirdCategoryId,
                                      searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].slug,
                                      searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].slug,
                                      searchCategoryService.normalizedCategoryInfoList.fourthCategory[thirdCategoryId].slug)"
                                [ngClass]="searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].active ?  lastUrl[1] == searchCategoryService.normalizedCategoryInfoList.fourthCategory[thirdCategoryId].slug ? 'main-active' : 'sub-active' : 'main-deactive'">
                                {{ searchCategoryService.normalizedCategoryInfoList.fourthCategory[thirdCategoryId].name[locale] }}
                              </a>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <!--<div>-->
              <!--<a *ngIf="" class="subtitle-3-bold u-color-green">숨기기</a>-->
              <!--</div>-->
            </div>
          </ng-container>
        </div>
        <div class="c-filter-navigator">
          <div class="c-filter-navigator__title">
              <span
                i18n="@@word__filter"
                class="c-filter-navigator__title--name subtitle-1-bold">
                필터
              </span>
            <span class="c-filter-navigator__title--remove">
                <a
                  i18n="@@word__clear-all"
                  class="subtitle-3-regular u-color-grey"
                  (click)="searchCategoryService.removeAllFilter()">
                  모두제거
                </a>
              </span>
          </div>
          <div class="c-filter-navigator__content" *ngIf="filterList.length > 0">
            <ul class="c-filter-navigator__content-ul">
              <li *ngFor="let item of filterList" class="c-filter-navigator__content-ul--item subtitle-3-regular">
                <div
                  (click)="searchCategoryService.removeSpecificFilter(item.type, item.key)"
                  class="c-filter-navigator__content-ul--item-remove-outer">
                    <span
                      class="c-filter-navigator__content-ul--item-remove">
                    </span>
                </div>

                <span>{{item.value}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-brand-navigator">
          <div class="c-brand-navigator__title">
              <span
                i18n="@@word__brand"
                class="c-brand-navigator__title--name subtitle-3-bold">
                브랜드
              </span>
            <span class="c-brand-navigator__title--count subtitle-3-regular u-color-dark-grey">{{brandList?.length}}</span>
            <span class="c-brand-navigator__title--remove">
                <a
                  i18n="@@word__clear-all"
                  class="subtitle-3-regular u-color-grey"
                  (click)="searchCategoryService.removeAllFilterBrand()">
                  모두제거
                </a>
              </span>
          </div>
          <!--<onpicks-search-box-->
          <!--(keypress)="brandSearch($event)"-->
          <!--class="c-brand-navigator__search-box"-->
          <!--[placeholder]="'검색'">-->
          <!--</onpicks-search-box>-->

          <div class="c-brand-navigator__content">
            <ul class="c-brand-navigator__content-ul">
              <li
                class="c-brand-navigator__content-ul--item"
                *ngFor="let item of brandList">
                <onpicks-check-box
                  [isChecked]="searchCategoryService.brandListForCheck[item.slug] !== true ? false : true"
                  (click)="searchCategoryService.brandClicked(item.slug)"
                  [type]="'checkbox'">
                  <span class="subtitle-3-regular">{{item.name}}</span>
                  <span class="subtitle-3-regular u-color-dark-grey">{{item.count}}</span>
                </onpicks-check-box>
              </li>
            </ul>
          </div>
          <!--<div class="">-->
          <!--<a-->
          <!--class="subtitle-3-bold u-color-green">숨기기</a>-->
          <!--</div>-->
        </div>
        <div class="c-value-navigator">
          <div class="c-value-navigator__title">
              <span
                i18n="@@word__value"
                class="c-value-navigator__title--name subtitle-3-bold">식품인증|Value</span>
            <span class="c-value-navigator__title--count subtitle-3-regular u-color-dark-grey">{{valueList?.length}}</span>
            <span class="c-value-navigator__title--remove">
                <a
                  i18n="@@word__clear-all"
                  class="subtitle-3-regular u-color-grey"
                  (click)="searchCategoryService.removeAllFilterValue()">
                  모두제거
                </a>
              </span>
          </div>
          <div class="c-value-navigator__content">
            <ul class="c-value-navigator__content-ul">
              <li
                class="c-value-navigator__content-ul--item"
                *ngFor="let item of valueList">
                <onpicks-check-box
                  [isChecked]="searchCategoryService.valueListForCheck[item.slug] !== true ? false : true"
                  (click)="searchCategoryService.valueClicked(item.slug)"
                  [type]="'checkbox'">
                  <span class="subtitle-3-regular">{{item.name}}</span>
                  <span class="subtitle-3-regular u-color-dark-grey">{{item.count}}</span>
                </onpicks-check-box>
              </li>
            </ul>
          </div>
          <!--<div class="subtitle-3-bold u-color-green">숨기기</div>-->
        </div>
        <div class="c-ex-warehouse-navigator">
          <div class="c-ex-warehouse-navigator__title">
              <span
                i18n="@@word__warehouse"
                class="c-ex-warehouse-navigator__title--name subtitle-3-bold">
                출고지
              </span>
            <span class="c-ex-warehouse-navigator__title--count subtitle-3-regular u-color-dark-grey">{{locationList?.length}}</span>
            <span class="c-ex-warehouse-navigator__title--remove subtitle-3-regular u-color-grey">
                <a
                  i18n="@@word__clear-all"
                  class="subtitle-3-regular u-color-grey"
                  (click)="searchCategoryService.removeAllFilterLocation()">
                  모두제거
                </a>
              </span>
          </div>
          <div class="c-ex-warehouse-navigator__content">
            <ul class="c-ex-warehouse-navigator__content-ul">
              <li
                class="c-ex-warehouse-navigator__content-ul--item"
                *ngFor="let item of locationList">
                <onpicks-check-box
                  (click)="searchCategoryService.locationClicked(item.code)"
                  [isChecked]="searchCategoryService.locationListForCheck[item.code]"
                  [type]="'checkbox'">
                  <span class="subtitle-3-regular">{{item.name}}</span>
                  <span class="subtitle-3-regular u-color-dark-grey">{{item.count}}</span>
                </onpicks-check-box>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-9-of-12 search-content">
      <div *ngIf="currentList !== null; else loading">
        <h1 class="search-content__title h1-bold">
          <div *ngIf="searchState == 'search'">
            <ng-container *ngIf="locale === 'ko'">
                <span *ngIf="searchState == 'search' && queryParams.term !== undefined">
                  <span
                    class="u-color-green">{{queryParams.term}}
                  </span>에 대한 검색 결과 {{totalCount}}건
                </span>
              <span
                *ngIf="searchState == 'search' && queryParams.term === undefined">
                  {{totalCount}}건
                </span>
            </ng-container>
            <ng-container *ngIf="locale === 'en'">
                <span
                  *ngIf="searchState == 'search' && queryParams.term !== undefined">
                  {{totalCount}} Results for {{queryParams.term}}
                </span>
              <span
                *ngIf="searchState == 'search' && queryParams.term === undefined">
                  {{totalCount}}Items
                </span>
            </ng-container>

            <onpicks-sort-box
              class="search-content__sort-box"
              [selectedElement]="{ value : currentSortSlug }"
              (changeEvent)="searchCategoryService.sortClicked($event)"
              [sortList]="sortList">
            </onpicks-sort-box>

          </div>

          <ng-container  *ngIf="searchState == 'category'">
            <ng-container *ngIf="currentList.length !== 0">
              <span>{{currentName[locale]}} {{totalCount}}</span><span i18n="@@word__results">건</span>
              <onpicks-sort-box
                class="search-content__sort-box"
                [selectedElement]="{ value : currentSortSlug}"
                (changeEvent)="searchCategoryService.sortClicked($event)"
                [sortList]="sortList">
              </onpicks-sort-box>
            </ng-container>
            <div
              i18n="@@sentence__coming-soon"
              *ngIf="currentList.length === 0" >
              해당 카테고리는 준비중 입니다.
            </div>
          </ng-container>
        </h1>
        <div class="search-content__mobile-filter">
          <div class="search-content__mobile-filter--table">
            <div
              (click)="showMobileFilter('menu')"
              i18n="@@word__filter"
              class="search-content__mobile-filter--table--vertical-center subtitle-2-regular">
              필터
            </div>
          </div>
        </div>
        <div class="search-content__mobile-sorting">
          <div class="search-content__mobile-sorting--table">
            <div
              (click)="showMobileFilter('sort')"
              class="search-content__mobile-sorting--table--vertical-center subtitle-2-regular">
              {{ sortMap[currentSortSlug][locale] }}
            </div>
          </div>
        </div>
        <div class="search-content__mobile-sort-list">
          <ng-container *ngFor="let keys of objectKeys(currentParamList)">
            <ng-container *ngIf="typeOf(currentParamList[keys]) === 'string'">
              <div class="search-content__mobile-sort-list--item ">
                <div
                  (click)="searchCategoryService.removeSpecificFilter(keys, currentParamList[keys])"
                  class="c-filter-navigator__content-ul--item-remove-outer">
                      <span
                        class="c-filter-navigator__content-ul--item-remove">
                      </span>
                </div>
                <div
                  class="u-inline-block subtitle-2-regular">
                  {{currentParamList[keys]}}
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="isArray(currentParamList[keys]) === true">
              <ng-container *ngFor="let item of currentParamList[keys]">
                <div class="search-content__mobile-sort-list--item ">
                  <div
                    (click)="searchCategoryService.removeSpecificFilter(keys, item)"
                    class="c-filter-navigator__content-ul--item-remove-outer">
                        <span
                          class="c-filter-navigator__content-ul--item-remove">
                        </span>
                  </div>
                  <div
                    class="u-inline-block subtitle-2-regular">
                    {{item}}
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>

        <div class="search-content__content--outer" ngx-infinite-scroll>
          <div class="search-content__content"
               infinite-scroll
               [immediateCheck]="false"
               [infiniteScrollDistance]="4"
               [infiniteScrollThrottle]="150"
               (scrolled)="onScrollDown(this)">
            <ul #container *ngLet="(currency| async) as currencyAync">
              <li #itemList *ngFor="let item of currentList; index as i" class="search-content__item">
                <div>

                  <div class="search-content__item--image">
                    <div
                      class="search-content__item--image-outer">
                      <a routerLink="/shops/p/{{item.slug}}">
                        <div *ngIf="item.in_stock === true && item.stock_quantity <= 10 && item.stock_quantity !== 0"
                             class="search-content__item--stock">
                            <span *ngIf="locale === 'ko'" class="search-content__item--stock--inner subtitle-2-bold u-color-white">
                              품절임박 {{item.stock_quantity}}개
                            </span>
                          <span *ngIf="locale === 'en'" class="search-content__item--stock--inner subtitle-2-bold u-color-white">
                              Only {{item.stock_quantity}} Left
                            </span>
                        </div>
                        <div *ngIf="item.in_stock === false || item.in_stock === true && item.stock_quantity === 0"
                             class="search-content__item--stock-empty">
                            <span class="search-content__item--stock--inner subtitle-2-bold u-color-white">
                              품절
                            </span>
                        </div>
                        <div class="search-content__item--image-inner">
                          <img
                            drLazyLoad
                            [relativeOption]="false"
                            src="{{item.thumbnail}}"
                            alt="{{item.title}}">
                          <!--카트정보가 어떤식으로 들어갈지 알아야, 대충이라도 작업할 수 있음.-->
                        </div>
                      </a>
                    </div>
                    <ng-container
                      [ngSwitch]="item.attributes.length">
                      <onpicks-list-active-button
                        [limitCount]="item.stock_quantity"
                        *ngIf="!(item.in_stock === false || item.in_stock === true && item.stock_quantity === 0)"
                        [amount]="cartStore.cartList[item.slug] === undefined ? 0 : cartStore.cartList[item.slug]?.quantity"
                        (addEvent)="addToCart($event, item, item.individual_shipping ? 'free' : locationMap[item.location.code].sequence)"
                        (subtractEvent)="subtractFromCart($event, item.slug, item.individual_shipping ? 'free' : locationMap[item.location.code].sequence)">
                      </onpicks-list-active-button>

                      <!--<div-->
                      <!--class="search-content__item&#45;&#45;option-product"-->
                      <!--*ngSwitchDefault>-->
                      <!--<span class="subtitle-3-regular">옵션선택상품</span>-->
                      <!--</div>-->

                    </ng-container>
                  </div>


                  <div class="search-content__item--name-outer">
                    <h1 class="search-content__item--name-outer-brand subtitle-2-bold">
                      <a
                        (click)="searchCategoryService.goBrandFilter(item.brand.slug)">
                        {{item.brand.name}}
                      </a>
                    </h1>


                    <span class="search-content__item--name-outer-name body-2-regular">
                        <a
                          routerLink="/shops/p/{{item.slug}}">
                          {{item.title}}
                        </a>
                      </span>

                  </div>

                  <ui-star-rating
                    [star-point]="item.review_avg_rating"
                    [size]="10">
                  </ui-star-rating>
                  <span class="subtitle-3-regular u-color-dark-grey">{{item.review_count}}</span>
                  <br>
                  <span class="search-content__price-info--MSRP-mobile subtitle-3-regular u-color-grey" *ngIf="locale == 'en'">MSRP</span>
                  <span class="search-content__price-info--MSRP-mobile-discount subtitle-3-regular u-color-grey">{{item.msrp | onpicksCurrency : currencyAync}}</span>
                  <div class="search-content__price-info">
                    <span class="search-content__price-info--discount subtitle-1-bold u-color-orange">{{item.discount_rate | percentPipe}}%</span>
                    <span class="search-content__price-info--price subtitle-1-bold">{{item.price | onpicksCurrency : currencyAync}}</span>
                    <span class="search-content__price-info--MSRP subtitle-3-regular u-color-grey" *ngIf="locale == 'en'">MSRP</span>
                    <span class="search-content__price-info--MSRP-discount subtitle-3-regular u-color-grey">{{item.msrp | onpicksCurrency : currencyAync}}</span>
                  </div>
                  <div class="search-content__delivery-point">
                    <ng-container [ngSwitch]="item.location?.code">
                      <ng-container *ngSwitchCase="'LAX'" >
                        <span class="search-content__delivery-point--icon icon-small-la"></span>
                        <span class="search-content__delivery-point--text subtitle-2-regular u-color-black">
                            <span *ngIf="locale === 'en'">Shipping from </span>
                            <strong i18n="@@location-warehouse__LAX">엘에이</strong>
                            <span *ngIf="locale === 'ko'"> 출고</span>
                          </span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'JFK'">
                        <span class="search-content__delivery-point--icon icon-small-new"></span>
                        <span class="search-content__delivery-point--text subtitle-2-regular u-color-black">
                            <span *ngIf="locale === 'en'">Shipping from </span>
                            <strong i18n="@@location-warehouse__JFK">뉴저지</strong>
                            <span *ngIf="locale === 'ko'"> 출고</span>
                          </span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'ATL'">
                        <span class="search-content__delivery-point--icon icon-small-gorgia"></span>
                        <span class="search-content__delivery-point--text subtitle-2-regular u-color-black">
                            <span *ngIf="locale === 'en'">Shipping from </span>
                            <strong i18n="@@location-warehouse__ATL">죠지아</strong>
                            <span *ngIf="locale === 'ko'"> 출고</span>
                          </span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'KIX'">
                        <span class="search-content__delivery-point--icon icon-small-osaka"></span>
                        <span class="search-content__delivery-point--text subtitle-2-regular u-color-black">
                            <span *ngIf="locale === 'en'">Shipping from </span>
                            <strong i18n="@@location-warehouse__KIX">오사카</strong>
                            <span *ngIf="locale === 'ko'"> 출고</span>
                          </span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'HKG'">
                        <span class="search-content__delivery-point--icon icon-small-hong"></span>
                        <span class="search-content__delivery-point--text subtitle-2-regular u-color-black">
                            <span *ngIf="locale === 'en'">Shipping from </span>
                            <strong i18n="@@location-warehouse__HKG">홍콩</strong>
                            <span *ngIf="locale === 'ko'"> 출고</span>
                          </span>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </li>
            </ul>
            <onpicks-loading-icon *ngIf="isLoading"></onpicks-loading-icon>

          </div>
        </div>
      </div>

      <div class="search-content__pagination--outer" *ngIf="currentList != null && currentList.length !== 0 && isMobile">
        <div class="search-content__pagination">
          <ul *ngIf="currentPage >= 1">
            <li *ngIf="currentPage !== 1">
              <div (click)="paginate(currentPage - 1)">
                <svg width="9" height="14" viewBox="0 0 9 14">
                  <path fill="none" fill-rule="evenodd" stroke="#767676" stroke-width="2" d="M8 1L2 7.05 8 13"/>
                </svg>
              </div>
            </li>

            <span *ngIf="currentPage <= (isMobile ? 2 : 4)">
            <!--5이하일 경우엔 가변 처리 없이, 무조건 5까지 다 보여줌-->
                <span *ngIf="totalPageArray.length <= (isMobile ? 5 : 7)">
                  <li *ngFor="let number of totalPageArray;  index as i;" >
                    <div (click)="paginate(i + 1)" [ngClass]="{'search-content__pagination--number-bold' : currentPage === (1 + i)}">{{i + 1}}</div>
                  </li>
                </span>
                <span *ngIf="totalPageArray.length >= (isMobile ? 6 : 8)">
                  <li *ngFor="let number of isMobile ? numberArray(3) : numberArray(5);  index as i;" >
                    <div (click)="paginate(i+ 1)" [ngClass]="{'search-content__pagination--number-bold' : currentPage === (1 + i)}">{{i+ 1}}</div>
                  </li>
                  <li>
                    <div class="search-content__pagination--finite-num">...</div>
                  </li>
                  <li>
                    <div (click)="paginate( totalPageArray.length )" [ngClass]="{'search-content__pagination--number-bold' : currentPage === totalPageArray.length }">{{totalPageArray.length }}</div>
                  </li>
                </span>
              </span>

            <span *ngIf="currentPage >= (isMobile ? 3 : 5)">
                <!--currentPage가 5이상일 경우에도 가변 처리 없이, 무조건 7까지는 다 보여줌-->
                <span *ngIf="totalPageArray.length <= (isMobile ? 5 : 7)">
                  <li *ngFor="let number of totalPageArray;  index as i;" >
                    <div (click)="paginate(i + 1)" [ngClass]="{'search-content__pagination--number-bold' : currentPage === (1 + i)}">{{i + 1}}</div>
                  </li>
                </span>
              <!--currentPage가 5이상이고 totalPage가 8이상일 경우엔 가변처리를 뿌려줌-->
                <span *ngIf="totalPageArray.length >= (isMobile ? 6 : 8)">
                  <li>
                    <div (click)="paginate( 1 )" >1</div>
                  </li>
                  <li>
                    <div class="search-content__pagination--finite-num">...</div>
                  </li>

                  <!--currentPage가 5이상이고 totalPage - currentPage가 4보다 크면 가변 처리 되는 조건 ( 거의 대부분의 조건에 해당 )-->
                  <span *ngIf="(totalPageArray.length - currentPage) >= (isMobile ? 2 : 4)">
                    <li *ngIf="!isMobile">
                     <div (click)="paginate( currentPage - 1 )">{{currentPage - 1}}</div>
                    </li>
                    <li>
                     <div (click)="paginate( currentPage )" class="search-content__pagination--number-bold">{{currentPage}}</div>
                    </li>
                    <li *ngIf="!isMobile">
                     <div (click)="paginate( currentPage + 1)">{{currentPage + 1}}</div>
                    </li>
                    <li>
                      <div class="search-content__pagination--finite-num">...</div>
                    </li>
                    <li>
                      <div (click)="paginate( totalPageArray.length )" [ngClass]="{'search-content__pagination--number-bold' : currentPage === totalPageArray.length }">{{totalPageArray.length }}</div>
                    </li>
                  </span>

                  <!--totalPage - currentPage가 3이하면 특수 조건 발동 -->
                  <span *ngIf="(totalPageArray.length - currentPage) <= (isMobile ? 1 : 3)">
                    <!-- 특수 조건에서 for 갯수는,totalPage - currentPage + 2가됨,
                     마지막 page일 경우 ( currentPage === length )에는, 1을 더 추가해서, 앞에 하나 더 나오게 함  -->
                    <!-- TODO : 아래의 소스는 가독성이 떨어지므로 한번 수정 필요  -->
                    <span *ngFor="let item of numberArray(totalPageArray.length - currentPage + 2 + (  currentPage === totalPageArray.length ? 1 : 0));  index as i;">
                      <li>
                        <!-- +1의 의미는 현재 페이지에서 앞에 li를 하나 더 나오게 한다는 의미-->
                        <div
                          (click)="paginate( totalPageArray.length - ( (totalPageArray.length - currentPage + 1 + ( currentPage === totalPageArray.length ? 1 : 0)) - i ) )"
                          [ngClass]="{'search-content__pagination--number-bold' : currentPage === (totalPageArray.length - ( (totalPageArray.length - currentPage + 1 + ( currentPage === totalPageArray.length ? 1 : 0))- i)) }">
                          {{totalPageArray.length - ( (totalPageArray.length - currentPage + 1 + ( currentPage === totalPageArray.length ? 1 : 0))- i) }}
                        </div>
                      </li>
                    </span>
                  </span>
                </span>
              </span>
            <li *ngIf="currentPage !== totalPageArray.length && totalPageArray.length !== 0">
              <div (click)="paginate(currentPage + 1)">
                <svg width="9" height="14" viewBox="0 0 9 14">
                  <path fill="none" fill-rule="evenodd" stroke="#767676" stroke-width="2" d="M1 13l6-6.05L1 1"/>
                </svg>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>

  <!--</ng-container>-->
</div>
