@import "~src/assets/scss/abstracts/variables";

.current-nav {
  margin-top : 3.2rem;

  @include respond(desktop){
    margin-top : 0;
  }
  &__slash {
    padding: 0 2.4rem;
    color: $color-grey;
  }
  & hr {
    margin-top : 1.6rem;
    margin-bottom : 3rem;
  }
}

.product-detail {
  display:block;
  @include respond(desktop){

    width:74.8rem;
    margin : 0 auto;
  }
  @include respond(sb){
    width:100%;
    padding: 0 1.6rem
  }
}

//
//.product-detail-mobile {
//  display:none;
//  width:74.8rem;
//  margin : 0 auto;
//  @include respond(fb){
//    display:block;
//  }
//
//  @include respond(sb){
//    width:100%;
//    padding: 0 1.6rem
//  }
//}


[class ^= "col-"]{
  background-color : #FFFFFF;
}


onpicks-value-list{
  display:block;
  margin-bottom: 4rem;
  @include respond(fb){
    padding-bottom : 2.4rem;
    border-bottom : 1px solid $color-light-grey;
  }
}
