<ng-template #loading>
  <onpicks-loading-icon ></onpicks-loading-icon>
</ng-template>

<div
  [ngStyle]="{ minHeight : contentHeight }">
  <ng-container *ngIf="pData$ | async as data;else loading">
    <div class="current-nav">
      <div class="row current-nav__border-bottom">
        <span *ngFor="let item of data?.category; index as i">
          <span class="current-nav__category subtitle-2-bold">
            {{item.name}}
          </span>
          <span
            *ngIf="data?.category.length - 1 !== (i)"
            class="current-nav__slash">/</span>
        </span>
      </div>
    </div>

    <div
      class="product-detail"
      [ngClass]="[!isFB ? 'row' : '']">
      <div
        [ngClass]="[!isFB ? 'col-7-of-12' : '']">
        <p-thumbnail
          [imagesLargeList]="data?.thumbnails.slice()"
          [imagesSmallList]="data?.thumbnails.slice()">
        </p-thumbnail>
        <div *ngIf="isFB">
          <p-menu
            [cartStore]="cartStore$ | async"
            [discountPercent]="discountPercent"
            [numberOptionList]="numberOptionList"
            [isMobile]="isFB"
            [data]="data">
          </p-menu>
        </div>
        <onpicks-value-list
          [type]="'product'"
          [valueList]="data?.values">
        </onpicks-value-list>

        <!--<p-other-sellers></p-other-sellers>-->

        <p-picture-review
          [pictureReviewList]="(pPictureReviews$ | async)">
        </p-picture-review>

        <p-item-detail
          [categoryData]="data?.category">
        </p-item-detail>

        <p-description
          [location]="data?.location.code"
          [description]="data?.description">
        </p-description>

        <p-reviews #onpicksReview></p-reviews>
        <p-refund *ngIf="locale === 'ko'"></p-refund>
        <p-product-report
          *ngIf="locale === 'ko'"
          [categoryCode]="data?.category[data?.category.length - 1].code" >
        </p-product-report>
      </div>

      <div *ngIf="!isFB" class="col-5-of-12">
        <p-menu
          [cartStore]="cartStore$ | async"
          [discountPercent]="discountPercent"
          [numberOptionList]="numberOptionList"
          [data]="data">
        </p-menu>
      </div>
    </div>

    <p-mobile-menu
      [locale]="locale"
      [data]="data"
      [alertMap]="alertMap"
      [currency]="currency | async"
      [discountPercent]="discountPercent"
      [numberOptionList]="numberOptionList"
      [locationMap]="locationMap"
      [isFB]="isFB"
      [cartStore]="cartStore$ | async">
    </p-mobile-menu>

    <div class="mobile-row">
      <ui-carousel-list
        [infoList]="alsoViewed$ | async"
        i18n-setTitle="@@sentence__people-also-looked-at"
        setTitle="이 상품 구매자가 함께 본 상품">
      </ui-carousel-list>
    </div>
  </ng-container>
</div>

<router-outlet></router-outlet>
