@import "~src/assets/scss/abstracts/variables";

.current-nav {
  margin-top : 3.2rem;
  &__slash {
    padding: 0 2.4rem;
    color: $color-grey;
  }
  & hr {
    margin-top : 1.6rem;
    margin-bottom : 3rem;
  }
}


[class ^= "col-"]{
  background-color : #FFFFFF;
}


onpicks-value-list{
  display:block;
  margin-bottom: 4rem;
}
