@import '~src/assets/scss/abstracts/variables';

.p-thumbnail {

  &__images--large {
    margin : auto;
    width: 56.5rem;
    height:64.6rem;
    background-color : $color-black;
  }


  &__images--small {
    display:inline-block;
    margin-top : 1.6rem;
    margin-right: 0.8rem;
    width:6.4rem;
    height:6.4rem;
    background-color:$color-grey;
  }
}



