<div class="adhere-table">

  <div class="adhere-table__sub-title-box">
    <div class="subtitle-2-regular">
      <span>주문일자</span>
      <span>
        <strong>2018년 12월 29일</strong>
      </span>
      <span>주문번호</span>
      <span>
        <strong>1732405826</strong>
      </span>
      <span>
         <button
           routerLink="/account/my-shopping/orders-detail" class="subtitle-2-bold u-color-green">상세보기 >
         </button>
      </span>
    </div>
  </div>

  <div class="adhere-table__item">
    <div class="adhere-table__item--image">
      <img src="" alt="">
    </div>

    <div class="adhere-table__item-info">
      <div class="adhere-table__item-info--title subtitle-2-bold">알엑스바</div>
      <div class="adhere-table__item-info--name body-3-regular">알엑스바 리얼 푸드 프로틴 에너지바 믹스드 베리 52G / RxBar Real Food Protein Bars Mixed Berry 1.83OZ</div>
      <div class="adhere-table__item-info--option subtitle-3-regular u-color-grey">카카오 다크 초콜릿</div>
      <div class="adhere-table__item-info--price subtitle-2-bold">40,000</div>
    </div>

    <!--<div class="adhere-table__item-state">-->
      <!---->
    <!--</div>-->

    <div class="adhere-table__item-state">
      <div class="adhere-table__item-state--title subtitle-2-bold">입금 대기</div>
      <div class="adhere-table__item-state--date subtitle-3-regular">입금기한 2018년 9월 14일</div>
      <div class="adhere-table__item-state--btn subtitle-2-regular">

        <onpicks-button *ngIf="type === 'available'" [type]="'green'" [width]="'8.8rem'">리뷰 쓰기</onpicks-button>
        <onpicks-button *ngIf="type !== 'available'" [type]="'white'" [width]="'8.8rem'">주문 취소</onpicks-button>
      </div>
    </div>
  </div>
</div>

