<div class="p-other-sellers u-margin-bottom">
  <h4 class="heading-quaternary">
    Other Sellers
  </h4>

  <table class="p-other-sellers__table">
    <tr>
      <th>Seller</th>
      <th>Delivery</th>
      <th>Price</th>
      <th>Link</th>
    </tr>
    <tr>
      <td>Amazon</td>
      <td>2 days</td>
      <td>$19.63</td>
      <td>View Offer</td>
    </tr>
    <tr>
      <td>Walmart</td>
      <td>2 days</td>
      <td>$19.63</td>
      <td>View Offer</td>
    </tr>
    <tr>
      <td>Ebay</td>
      <td>Arrives Sep 7 - 11</td>
      <td>$19.63</td>
      <td>View Offer</td>
    </tr>
  </table>
</div>
