<div class="p-other-sellers u-margin-bottom">
  <h4 class="heading-quaternary">
    Other Sellers
  </h4>

  <div class="p-other-sellers__table">
    <div class="p-other-sellers__table--row">
      <div><span>Seller</span></div>
      <div><span>Base Price</span></div>
      <div><span>Link</span></div>
    </div>
    <hr>
    <div class="p-other-sellers__table--row">
      <div><span>Amazon</span></div>
      <div><span><strong>$19.63</strong></span></div>
      <div><button class="btn btn--white">View Offer</button></div>
    </div>
    <hr>
    <div class="p-other-sellers__table--row">
      <div><span>Walmart - Total Parts Marketplace tntntnntntn…</span></div>
      <div><span><strong>$19.63</strong></span></div>
      <div><button class="btn btn--white">View Offer</button></div>
    </div>
    <hr>
    <div class="p-other-sellers__table--row">
      <div><span>B&H Photo-Video-Audio</span></div>
      <div><span><strong>$19.63</strong></span></div>
      <div><button class="btn btn--white">View Offer</button></div>
    </div>
    <hr>
  </div>
</div>
