$color-grey: #b3b3b3;
$color-light-grey: #e5e5e5;
$color-dark-grey: #8d8d8d;


$color-black: #292929;
$color-light-black : #4a4a4a;
$color-dark-black : #000000;

$color-white :#FFFFFF;
$color-orange : #F68B1A;
$color-green : #008489;



// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 112.8rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2.4rem;
$gutter-horizontal: 2.4rem;

// Default-padding
$default-padding : 8rem;


// font에는 dark-black없습니다.

/********** mixins ***********/


/********* subtitle-3 **********/
@mixin subtitle-3-bold {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.1px;
}

@mixin subtitle-3-regular {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.1px;
}

@mixin subtitle-2-bold {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 0.2px;
}
/*******************************/

.h1{
  &-bold {
    font-size : 1.8rem;
    font-weight : 700;
    line-height : 1.56;
    letter-spacing : 0.8px;
    margin : 0;
  }

  &-medium {
    font-size : 1.6rem;
    font-weight : 700;
    line-height : 1.75;
    letter-spacing : 0.5px;
    margin : 0;
  }

  &-regular {
    font-size : 1.8rem;
    line-height : 1.56;
    letter-spacing : 0.8px;
    font-weight: 400;
    margin : 0;
  }

}

.h2 {
  &-medium {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1px;
  }

  &-regular {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1px;
  }
}


.price-bold {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}


.subtitle-1 {
  &-bold {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.5px;
  }

  &-medium {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.5px;
  }

  &-regular {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.38;
    letter-spacing: 0.5px;
  }
}

.subtitle-2 {
  &-bold {
    @include subtitle-2-bold;
  }

  &-medium {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.43;
    letter-spacing: 0.2px;
  }

  &-regular {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.1px;
  }
}


.subtitle-3 {

  &-bold {
    @include subtitle-3-bold;
  }

  &-medium {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: 0.1px;
  }

  &-regular {
    @include subtitle-3-regular;
  }
}


.body-1 {
  &-bold {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0.5px;
    color : $color-light-black;
  }

  &-medium {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0.5px;
    color : $color-light-black;
  }

  &-regular {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.5px;
    color : $color-light-black;
  }
}


.body-2 {
  &-bold {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color : $color-light-black;
  }

  &-medium {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color : $color-light-black;
  }

  &-regular {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color : $color-light-black;
  }
}



.body-3 {
  &-bold {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.67;
    color : $color-light-black;
  }

  &-medium {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.67;
    color : $color-light-black;
  }

  &-regular {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.67;
    color : $color-light-black;
  }
}

.button-bold {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: 0.7px;
}

.action-1 {
  &-medium {
    -webkit-text-stroke: 0.4px $color-dark-grey;;
    font-size: 1.6rem;
    line-height: 1.38;
    letter-spacing: 0.5px;
    color: $color-dark-grey;
  }

  &-medium-grey {
    -webkit-text-stroke: 0.4px $color-grey;;
    font-size: 1.6rem;
    line-height: 1.38;
    letter-spacing: 0.5px;
    color: $color-grey;
  }
}



.action-2 {
  &-medium {
    -webkit-text-stroke: 0.4px $color-dark-grey;
    font-size: 1.6rem;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: $color-dark-grey;
  }

  &-medium-grey {
    -webkit-text-stroke: 0.4px $color-grey;
    font-size: 1.6rem;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: $color-grey;
  }
}
