<div  class="onpicks-sort-box">
  <button (click)="clickSortBox()" class="onpicks-sort-box__fore-button subtitle-1-bold u-color-green">
    {{ selectedElement?.title[locale] }}
    <svg *ngIf="!isOpen" width="10" height="7" viewBox="0 0 10 7">
      <path fill="none" fill-rule="evenodd" stroke="#008489" stroke-width="2" d="M1 1l4.033 4L9 1"/>
    </svg>
    <svg *ngIf="isOpen" width="10" height="7" viewBox="0 0 10 7">
      <path fill="none" fill-rule="evenodd" stroke="#008489" stroke-width="2" d="M9 6L4.967 2 1 6"/>
    </svg>
  </button>

  <div #HTMLdropDown class="onpicks-sort-box__dropdown">
    <div class="onpicks-sort-box__dropdown--shape">
      <div>
        <div
          *ngFor="let item of sortList"
          class="onpicks-sort-box__dropdown--element">
          <div
            class="onpicks-sort-box__dropdown--element-outer">
            <div
              (click)="clickSortBoxElement(f)"
              class="onpicks-sort-box__dropdown--element-label">
              <input
                #f
                type="radio"
                data-value="{{item.value}}"
                data-name="{{item.title}}">
              <span
                [ngClass]="{ active : item.value == selectedElement?.value }"
                class="onpicks-sort-box__dropdown--element-text subtitle-2-bold u-color-dark-grey">
                {{item.title[locale]}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
