@import '~src/assets/scss/abstracts/variables';

.settings-refund {
  margin-bottom: 4rem;

  h1 {
    margin-bottom: 2.4rem;
  }

  &__row {


    &--input {
      &--account {
        display:inline-block;
        width : 40.8rem;

        @include respond(actb){
          width : 100%;
        }
      }

      &--account-name {
        display:inline-block;
        width: 30.4rem;
        margin-right : 1.6rem;
        @include respond(actb){
          width : calc(100% - 10.4rem);
        }
      }
    }
    &--title {
      margin-bottom: 8px;
    }

    &--desciription {
      margin-top : 8px;
    }

    &:not(:last-child){
      margin-bottom : 1.6rem;
    }

  }
}
