@import '~src/assets/scss/abstracts/variables';


.p-reviews{

  &__search-reviews {

    position:relative;
    height: 4rem;
    width:100%;
    display:inline-block;
    border-radius : 2px;
    border : solid 1px #dddddd;
    line-height: 4rem;

    &--input {
      margin-top: 1.1rem;
      padding-left: 5.6rem;
      border : 0;
      height : 1.6rem;
      width : calc(100% - 4rem);

      // TODO : placeholder 부분을 다른 div로 만들어서 처리하던가 해야됨. 이부분으 따로 class 만 줄수가 없음
      &::placeholder {
        color : $color-dark-grey;
      }

      //ICON
      &-delete {
        display:inline-block;
        width:1.7rem;
        height:1.7rem;
        top: 1rem;
        float:right;
        right: 1rem;
        position: relative;
        cursor:pointer;

        &:hover {
          opacity: .5;
        }

        &::before,
        &::after {

          width: 1.7rem;
          height: 2px;
          background-color: $color-dark-grey;
          display: inline-block;
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
        }

        &::before { top: 0.8rem; transform: rotate(135deg) }
        &::after { top: 0.8rem; transform: rotate(-135deg) }
      }

    }

    &--search-icon {
      @include verticalCenter;
      left : 1.6rem;
    }
  }
}
