<div class="free-delivery-notibox">
  <ul class="free-delivery-notibox__innerBox">
    <li class="free-delivery-notibox__item">
      <span class="free-delivery-notibox__item--region-icon icon-la"></span>
      <div class="free-delivery-notibox__item--info">
        <span>엘에이 무료배송까지 125,000원 남았습니다.</span>
        <ui-progressive-bar ></ui-progressive-bar>
      </div>
    </li>
    <li>
      <span class="free-delivery-notibox__item--region-icon icon-new"></span>
      <div class="free-delivery-notibox__item--info">
        <span>뉴저지 무료배송까지 125,000원 남았습니다.</span>
        <ui-progressive-bar></ui-progressive-bar>
      </div>
    </li>
    <li>
      <span class="free-delivery-notibox__item--region-icon icon-dalas"></span>
      <div class="free-delivery-notibox__item--info">
        <span>달라스 무료배송 조건이 충족되었습니다.</span>
        <ui-progressive-bar></ui-progressive-bar>
      </div>
    </li>
    <li>
      <span class="free-delivery-notibox__item--region-icon icon-osaka"></span>
      <div class="free-delivery-notibox__item--info">
        <span>총 상품금액 : 9999,000원 무료배송</span>
        <ui-progressive-bar></ui-progressive-bar>
      </div>
    </li>
    <li>
      <span class="free-delivery-notibox__item--region-icon icon-hong"></span>
      <div class="free-delivery-notibox__item--info">
        <span>홍콩 무료배송까지 125,000원 남았습니다.</span>
        <ui-progressive-bar></ui-progressive-bar>
      </div>
    </li>
  </ul>
</div>
