<div class="col-7-of-12 written-reviews">
  <h1 class="h1-bold written-reviews__title">내가 쓴 리뷰</h1>


  <div class="written-reviews__item" *ngFor="let item of currentList">
    <figure class="written-reviews__item--figure u-margin-bottom--small">
      <div class="written-reviews__item--figure-image">
        <img [drLazyLoad]="{method:'animation'}" src="{{item.profileImg}}" alt="Person on a tour" class="story__img">
      </div>
      <div class="written-reviews__item--figure-caption">
        <figcaption class="written-reviews__item--figcaption subtitle-1-bold">{{item.name}}</figcaption>
        <ui-star-rating [star-point]="item.starRating" class="written-reviews__item--star-rating"></ui-star-rating>
        <span class="written-reviews__item-figure-caption-date u-color-grey">{{item.regitDate | timeAgo}}</span>
      </div>
    </figure>
    <div class="subtitle-1-regular u-color-grey">사이즈: 엑스라지 · 컬러: 아쿠아그린 · 맛: 바닐라 초콜렛 · {{item.helpfulCount}} 명이 추천하였습니다 </div>
    <div class="written-reviews__item--content body-1-regular"
       [ngStyle]="{'width' : item.reviewThumbImg === '' ? 'auto' : '52.8rem'}">
      {{item.review}}
    </div>

    <span class="written-reviews__item--image"
          *ngIf="item.reviewThumbImg !== ''">
      <img
        [drLazyLoad] = "{ method : 'animation' }"
        src="{{item.reviewThumbImg}}" alt="">
    </span>

    <div class="written-reviews__item--option">
      <hr #hrLineList>
    </div>
  </div>
</div>


