@import '~src/assets/scss/abstracts/variables';

.written-reviews {


  &__link-to-product {
    display:block;
    height : 9.6rem;
    width : 100%;
    border-radius : 4px;
    border : 1px solid $color-light-grey;
    margin-top : 1.6rem;
    margin-bottom : 2.4rem;


    &--image {
      vertical-align: top;
      display:inline-block;
      width : 48px;
      height : 48px;
    }
    &--description {
      display:inline-block;
      width : 53.4rem;
      margin-left : 1.6rem;
    }
    &--inner {
      display:block;
      width:100%;
      height : 100%;
      padding : 2.4rem;
    }
  }

  &__title {
    margin-bottom : 2.4rem;
  }
  &__item {
    margin-top : 2.4rem;
    border-bottom : 1px solid $color-light-grey;

    &--star-rating {
      margin-right : 0.8rem;
    }
    &--figcaption {
      margin-bottom : 3px;
    }
    &--content {
      margin-top : 0.8rem;
      min-height: 11.2rem;
      display:inline-block;
    }
    &__option {
      margin-top:2.4rem;
      &-feature {
        position:relative;
        margin-left: 0.8rem;
        margin-right: 3.2rem;
        font-size:1.6rem;
        font-weight : 500;
        line-height : 1.5;
        letter-spacing: 0.04rem;
        color: $color-dark-grey;
        top:-0.5rem;
      }

      &-report {
        float : right;
        font-size:1.6rem;
        font-weight:500;
        line-height: 1.5;
        letter-spacing : 0.04rem;
        color:$color-grey;
      }
    }

    &--figure {
      position:relative;

      &-image {
        position:relative;
        display:inline-block;
        width:4rem;
        height:4.2rem;
        margin-right:1.6rem;
        border-radius : 50%;
        overflow:hidden;
      }


      &-caption {

        position:absolute;
        top: -0.3rem;
        display: inline-block;

        & > figcaption {
          width : 10rem;
          margin-bottom: 1px;
        }

        &-date {
          margin-left : 0.8rem;
          font-size : 1.4rem;
          font-weight : 500;
          letter-spacing : 0.03rem;
        }
      }
    }
  }
}
