@import "~src/assets/scss/abstracts/variables";

.feed-section {
  // margin-bottom 을 여기서 준 이유는 account-index.html에서는 router-outlet으로 처리되기 때문
  margin-bottom : 4rem;

  h1 {
    margin-bottom: 2.4rem;
  }

  &__row {
    @include clearfix;
    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__grid {

    line-height: 0;


    @include respond(actb) {
      width:100vw;
      margin-left:-2.4rem;
    }
  }

  &__col {
    vertical-align : top;

    display:inline-block;
    width : 26.4rem;
    height: 26.4rem;
    margin-bottom : 2.4rem;


    & > div {
      width : 100%;
      padding-top: 100%;
      img {
        @include imageAspactRatio;
      }
    }

    // custom grid
    &:not(:nth-child(4n)){
      margin-right : 2.4rem;
    }

    @include respond(fb){
      width:calc((100% - 7.2rem)/4);
      height:auto !important;
    }


    @include respond(actb){
      width:calc((100% - 0.8rem)/3);


      margin-bottom : 0.4rem;
      margin-right : 0 !important;
      &:not(:nth-child(3n)){
        margin-right : 0.4rem !important;
      }
    }

  }
}
