<div class="c-header">
  <div class="c-header__category u-default-site-padding">
    <ul class="c-header__category--ul">
      <li class="c-header__category--li">식품</li>
      <li class="c-header__category--li">생활용품</li>
      <li class="c-header__category--li">퍼스널케어</li>
      <li class="c-header__category--li">건강</li>
      <li class="c-header__category--li">유아동</li>
      <li class="c-header__category--li">반려용품</li>
      <li class="c-header__category--li">사무용품</li>
    </ul>
  </div>
</div>
<ui-banner-carousel [height]="44"></ui-banner-carousel>

<router-outlet></router-outlet>
