<div class="row">
  <onpicks-order-navigator></onpicks-order-navigator>
</div>

<div class="row checkout">


  <div class="col-6-of-12 checkout__left-panel">
    <h3>배송지 정보</h3>

    받는분
    <input type="text" placeholder="받는분 성함">

    받는분 연락처
    <input type="text" placeholder="받는분 연락처">

    주소
    <input type="text" placeholder="우편번호">
    <button>우편번호 찾</button>
    <input type="text">
    <input type="text" placeholder="상세주소를 입력하세요">
    <button>배송지 저장</button>

    배송요청사항
    <select name="" id=""></select>
    도서산간 지역의 경우 추후 수령시 추가 배송비가 발생할 수 있으며, 해외 배송은 불가합니다.

    <hr>
    <h3>결제정보</h3>

    쿠폰
    <input type="text" placeholder="쿠폰 번호를 입력하세요">
    <button>사용하기</button>

    결제방법 선택
    <input type="checkbox"> 신용/체크카드
    <input type="checkbox"> 실시간계좌이체
    <input type="checkbox"> 무통장입금(가상계좌)
    <input type="checkbox"> 휴대폰 결제
    <input type="checkbox"> 네이버페이
  </div>
  <div class="col-6-of-12 checkout-right">
    <div class="checkout-right__menu">
      <h3 class="checkout-right__menu--title">최종결제금액</h3>
      <div class="checkout-right__menu--item">
        <div class="checkout-right__menu--item-image">
          <img drLazyLoad src="https://picsum.photos/112/112?image=120" alt="">
        </div>
        <div class="checkout-right__menu--item-info">
          <div class="checkout-right__menu--item-info-brand">알엑스바</div>
          <div class="checkout-right__menu--item-info-name">알엑스바 리얼 푸드 프로틴 에너지바 믹스드 베리 52G / RxBar Real Food Protein Bars Mixed Berry 1.83OZ</div>
          <div class="checkout-right__menu--item-info-price">40,900원</div>
        </div>
      </div>

      <div class="checkout-right__menu--item">
        <div class="checkout-right__menu--item-image">
          <img drLazyLoad src="https://picsum.photos/112/112?image=120" alt="">
        </div>
        <div class="checkout-right__menu--item-info">
          <div class="checkout-right__menu--item-info-brand">알엑스바</div>
          <div class="checkout-right__menu--item-info-name">알엑스바 리얼 푸드 프로틴 에너지바 믹스드 베리 52G / RxBar Real Food Protein Bars Mixed Berry 1.83OZ</div>
          <div class="checkout-right__menu--item-info-option">카카오 다크초콜릿</div>
          <div class="checkout-right__menu--item-info-price">40,900원</div>
        </div>
      </div>

      <div class="checkout-right__menu--item">
        <div class="checkout-right__menu--item-image">
          <img drLazyLoad src="https://picsum.photos/112/112?image=120" alt="">
        </div>
        <div class="checkout-right__menu--item-info">
          <div class="checkout-right__menu--item-info-brand">알엑스바</div>
          <div class="checkout-right__menu--item-info-name">알엑스바 리얼 푸드 프로틴 에너지바 믹스드 베리 52G / RxBar Real Food Protein Bars Mixed Berry 1.83OZ</div>
          <div class="checkout-right__menu--item-info-option">사이즈: 라지 · 컬러:블랙</div>
          <div class="checkout-right__menu--item-info-price">40,900원</div>
        </div>
      </div>

      <div class="checkout-right__menu--price">
        <div class="checkout-right__menu--price-productall">
          <span class="checkout-right__menu--price-productall-tag">총 상품금액</span>
          <span class="checkout-right__menu--price-productall-value">12,500원</span>
        </div>
        <div class="checkout-right__menu--price-delivery">
          <span class="checkout-right__menu--price-delivery-tag">배송비</span>
          <span class="checkout-right__menu--price-delivery-value">2,500원</span>
        </div>
        <div class="checkout-right__menu--price-all">
          <span class="checkout-right__menu--price-all-tag">총 결제금액</span>
          <span class="checkout-right__menu--price-all-value">15,000원</span>
        </div>
      </div>

      <div class="checkout-right__menu--checkout">
        <button class="btn btn--black checkout-right__menu--checkout-button">결제하기</button>
      </div>
    </div>
  </div>
</div>

<!-- 일단 div로하고 그 안에 span을 넣음 -->
<!--'https://picsum.photos/1920/440?image=120',-->
<!--'https://picsum.photos/1920/440?image=200',-->
<!--'https://picsum.photos/1920/440?image=130',-->
<!--'https://picsum.photos/1920/440?image=210',-->
