@import '~src/assets/scss/abstracts/variables';

.header {

  &__alert {
    opacity : 0;
    pointer-events: none;
    position:absolute;
    top : 11rem;
    height: 50px;
    width : 100%;
    background-color : $color-sky;

    transition : opacity .2s;
    &--message {
      @include absCenter;
    }
  }

  &__progressive-bar {
    position:fixed;
    top : 0;
    width : 100%;
    height : 2px;
    background-color : $color-light-grey;
    &--inner {
      width : 50%;
      height : 2px;
      background-color : $color-black;
    }
  }

  position:relative;
  z-index :100;
  background-color : $color-white;


  onpicks-free-delivery-notibox {
    position:absolute;
    top : 12.4rem;
    right : $default-padding;
    will-change: transform;
    transition-duration: .5s;
    transition-property: transform;
  }

  .active {
    color: $color-black;
  }

  hr {
    margin : 0;
  }

  & > .row {
    margin-bottom : 0;
  }

  &__miscell {
    display : table;
    position : relative;
    width :100%;
    height : 4rem;
    border-bottom: 1px solid $color-light-grey;


    & span {
      vertical-align: middle;
    }

    &--profile {


      &--image{
        margin-right : 8px;
        display:inline-block;
        vertical-align: middle;
        img {
          width : 2.2rem;
          height : 2.2rem;
          border-radius: 50%;
        }
      }

      &--login {
        margin-right : 1.6rem;
        font-size : 1.4rem;
        color : $color-black;
        letter-spacing:0.03rem;
      }

      &--slash {
        margin-right : 1.6rem;
        font-size : 1.4rem;
        color : $color-grey;
        font-weight:500;
        letter-spacing:0.03rem;
      }

      &--signup{

        margin-right : 2.4rem;
        font-size : 1.4rem;
        color : $color-black;
        letter-spacing:0.03rem;
      }
    }

    &--inner {
      display: table-cell;
      position:relative;
      vertical-align: middle;
    }
    &--item {
      display: inline-block;
      padding: 3px 0px;

      text-transform: uppercase;
      margin-right : 0.8rem;
      font-size : 1.4rem;
      letter-spacing: 0.03rem;
      color: $color-black;
    }

    //&--currency {
    //  text-transform: uppercase;
    //  margin-right : 3.2rem;
    //  font-size : 1.4rem;
    //  letter-spacing: 0.03rem;
    //  color: $color-dark-black;
    //}
    //
    //&--language {
    //  text-transform: uppercase;
    //  font-size : 1.4rem;
    //  letter-spacing: 0.03rem;
    //  color: $color-dark-black;
    //}


    &--favorites {
      margin-right : 2.4rem;
      svg {
        vertical-align: middle;
        //position:relative;
        //top : 20px;
      }
    }

    &--shopping-bag {
      svg {
        vertical-align: middle;
        //position:relative;
        //top : 20px;
      }
    }
  }

  &__main-nav {
    height : 7rem;
    position: relative;
    border-bottom: 1px solid $color-light-grey;

    &--outer {
      position:relative;
      top : 25%;
      display:table;
    }

    onpicks-search-box {
      display:block;
      float:right;
      position:relative;
      top : -7px;
    }


    svg {
      margin-right : 6.4rem;
    }

    &--router {

      display : table-cell;
      vertical-align:middle;
      li {

        display : inline-block;
        text-transform : uppercase;
        list-style : none;
        margin-right : 4.8rem;

        transition : opacity 0.5s;

        &:first-child {
          color : $color-black;
        }

        &:not(:first-child){
          color : $color-grey;
        }
      }
    }
  }


  &-menu {

    &__recommend{
      max-width : $grid-width;
      margin: 0 auto;
      height: 7.2rem;
      position:relative;
      &--ul {
        @include verticalCenter;
        list-style: none;
        &-item {


          a{
            color : $color-black;
          }

          float:left;
          display : inline-block;
          width:26.4rem;
          font-size : 1.4rem;
          line-height : 1.71;
          vertical-align:middle;

          &:first-child {
            font-size : 1.6rem;
            font-weight : 700;
            line-height : 1.5;
            letter-spacing : 0.04rem;
          }
          &:not(:last-child){
            margin-right : 2.4rem;
          }
        }

      }
    }

    &__outer {
      display:none;

      background-color : $color-white;
      z-index : 500;
      position:absolute;
      padding-top : 2rem;
      width:100%;
      nav {
        border-bottom: 1px solid #d8d8d8;
        max-width : $grid-width;
        margin: 0 auto;
        @include clearfix;
      }
    }

    &__item {
      float:left;
      //position:relative;
      display: inline-block;
      width : 26.4rem;

      list-style : none;
      &--category {

      }

      &:not(:last-child){
        margin-right : 2.4rem;
      }
      &--title{

        height : 12rem;
        display:block;

        span {
          margin-bottom: 3rem;
          display:block;
          font-size: 1.8rem;
          font-weight : 700;
          line-height : 1.33;
          letter-spacing : 0.03rem;
        }

        &-pantry-and-household{
          background-position: right bottom;
          background-repeat: no-repeat;
          background-size : 8.8rem 8rem;
          background-image: url('https://img.onpicks.com/assets/pantry-and-household.jpg?d=w176-h160');
          border-bottom: 2px solid $color-green;
        }

        &-beauty {
          background-position: right bottom;
          background-repeat: no-repeat;
          background-size : 8.8rem 8rem;
          background-image: url('https://img.onpicks.com/assets/beauty.jpg?d=w176-h160');
          border-bottom: 2px solid $color-pink;
        }

        &-baby {
          background-position: right bottom;
          background-repeat: no-repeat;
          background-size : 8.8rem 8rem;
          background-image: url('https://img.onpicks.com/assets/baby.jpg?d=w176-h160');
          border-bottom: 2px solid $color-orange;
        }

        &-health {
          background-position: right bottom;
          background-repeat: no-repeat;
          background-size : 8.8rem 8rem;
          background-image: url('https://img.onpicks.com/assets/health.jpg?d=w176-h160');
          border-bottom: 2px solid $color-dark-green;
        }

        &-electronics {
          border-bottom: 2px solid #4a90e2;
        }
      }

      // TODO : CSS ORDER 정리 ( 가독성이 현재 떨어짐 )
      li {
        font-size:1.4rem;
        line-height: 1.71;

        a{
          font-weight: 400;
          color: $color-black;
        }

        &:last-child {
          a{
            color: $color-green;
            font-weight : 700;
          }
          margin-top : 0.6rem;
          margin-bottom: 2.4rem;
        }

        &:not(:last-child){
          margin-bottom : 0.8rem;
        }
        &:first-child {
          margin-bottom: 1.6rem;
        }
      }
    }
  }

}
