<div class="p-reviews u-margin-bottom">
  <h4 class="heading-quaternary u-margin-bottom--middle ">
    30 Reviews
  </h4>
  <ui-star-rating></ui-star-rating>
  <onpicks-search-box [width]="20" [top]="-1" [placeholder]="'Search Reviews'"></onpicks-search-box>

  <h5 class="heading-quinary u-color-grey u-margin-bottom--small">
    Rating Distribution
  </h5>

  <table class="p-reviews__table">
    <tr  *ngFor="let key of objectKeys(starMaxList);  index as i ">
      <td>{{5-i}} <span>{{(i !== 4) ? 'stars' : 'star' }}</span></td>
      <td>
        <div class="p-reviews__table--line">
          <div class="p-reviews__table--line-current"></div>
        </div>
      </td>
      <td  >{{starMaxList[key]}}%</td>
    </tr>
  </table>

  <hr>


  <div class="p-reviews__small-header">
    <h5 class="heading-quinary u-inline-block">Reviewed by 999 customers</h5>
    <onpicks-sort-box [sortList]="reviewSortList"></onpicks-sort-box>
  </div>

  <div *ngFor="let item of currentList">
    <figure class="p-reviews__figure u-margin-bottom--small">
      <span class="p-reviews__figure--outer">
        <img [drLazyLoad]="{method:'animation'}" src="{{item.profileImg}}" alt="Person on a tour" class="story__img">
      </span>
      <div class="p-reviews__figure--caption">
        <figcaption class="p-reviews__figure heading-quinary">{{item.name}}</figcaption>
        <ui-star-rating></ui-star-rating>
        <span class="p-reviews__figure--caption-date u-color-grey">{{item.regitDate | timeAgo}}</span>
      </div>
    </figure>
    <h5 class="heading-quinary u-color-dark-grey">Size: X-Large / Color: Aqua / {{item.helpfulCount}} people found this helpful </h5>
    <p class="p-reviews__content">
      <span class="p-reviews__image" *ngIf="item.reviewThumbImg !== ''">
          <img [drLazyLoad]="{method:'animation'}" src="{{item.reviewThumbImg}}" alt="">
      </span>
      {{item.review}}
    </p>

    <div class="p-reviews__option">
      <a href="#"><img src="https://s3.amazonaws.com/img.onpicks.com/thumbs-up-icon.jpg" alt=""><span class="p-reviews__option--feature">Helpful</span></a>
      <a href="#"><img src="https://s3.amazonaws.com/img.onpicks.com/comments-icon.jpg" alt=""><span class="p-reviews__option--feature">Comment</span></a>
      <a href="#"><img src="https://s3.amazonaws.com/img.onpicks.com/share-icon.jpg" alt=""><span class="p-reviews__option--feature">Share</span></a>
      <a href="#"><span class="p-reviews__option--report">Report</span></a>
      <hr #hrLineList>
    </div>
  </div>
  <div class="p-reviews__pagination">
    <ul>
      <li *ngIf="currentPage !== 1">
        <div (click)="paginate(currentPage - 1)">
          <svg width="9" height="14" viewBox="0 0 9 14">
            <path fill="none" fill-rule="evenodd" stroke="#767676" stroke-width="2" d="M8 1L2 7.05 8 13"/>
          </svg>
        </div>
      </li>
      <span *ngIf="currentPage <= 4">
        <!--5이하일 경우엔 가변 처리 없이, 무조건 5까지 다 보여줌-->
        <span *ngIf="totalPageArray.length <= 7">
          <li *ngFor="let number of totalPageArray;  index as i;" >
            <div (click)="paginate(i + 1)" [ngClass]="{'p-reviews__pagination--number-bold' : currentPage === (1 + i)}">{{i + 1}}</div>
          </li>
        </span>
        <span *ngIf="totalPageArray.length >= 8">
          <li *ngFor="let number of numberArray(5)  index as i;" >
            <div (click)="paginate(i+ 1)" [ngClass]="{'p-reviews__pagination--number-bold' : currentPage === (1 + i)}">{{i+ 1}}</div>
          </li>
          <li>
            <div class="p-reviews__pagination--finite-num">...</div>
          </li>
          <li>
            <div (click)="paginate( totalPageArray.length )" [ngClass]="{'p-reviews__pagination--number-bold' : currentPage === totalPageArray.length }">{{totalPageArray.length }}</div>
          </li>
        </span>
      </span>
      <span *ngIf="currentPage >= 5">
        <!--currentPage가 5이상일 경우에도 가변 처리 없이, 무조건 7까지는 다 보여줌-->
        <span *ngIf="totalPageArray.length <= 7">
          <li *ngFor="let number of totalPageArray;  index as i;" >
            <div (click)="paginate(i + 1)" [ngClass]="{'p-reviews__pagination--number-bold' : currentPage === (1 + i)}">{{i + 1}}</div>
          </li>
        </span>
        <!--currentPage가 5이상이고 totalPage가 8이상일 경우엔 가변처리를 뿌려줌-->
        <span *ngIf="totalPageArray.length >= 8">
          <li>
            <div (click)="paginate( 1 )" >1</div>
          </li>
          <li>
            <div class="p-reviews__pagination--finite-num">...</div>
          </li>

          <!--currentPage가 5이상이고 totalPage - currentPage가 4보다 크면 가변 처리 되는 조건 ( 거의 대부분의 조건에 해당 )-->
          <span *ngIf="(totalPageArray.length - currentPage) >= 4">
            <li>
             <div (click)="paginate( currentPage - 1 )">{{currentPage - 1}}</div>
            </li>
            <li>
             <div (click)="paginate( currentPage )" class="p-reviews__pagination--number-bold">{{currentPage}}</div>
            </li>
            <li>
             <div (click)="paginate( currentPage + 1)">{{currentPage + 1}}</div>
            </li>
            <li>
              <div class="p-reviews__pagination--finite-num">...</div>
            </li>
            <li>
              <div (click)="paginate( totalPageArray.length )" [ngClass]="{'p-reviews__pagination--number-bold' : currentPage === totalPageArray.length }">{{totalPageArray.length }}</div>
            </li>
          </span>

          <!--totalPage - currentPage가 3이하면 특수 조건 발동 -->
          <span *ngIf="(totalPageArray.length - currentPage) <= 3">
             <!-- 특수 조건에서 for 갯수는,totalPage - currentPage + 2가됨,
             마지막 page일 경우 ( currentPage === length )에는, 1을 더 추가해서, 앞에 하나 더 나오게 함  -->
            <!-- TODO : 아래의 소스는 가독성이 떨어지므로 한번 수정 필요  -->
            <span *ngFor="let item of numberArray(totalPageArray.length - currentPage + 2 + (  currentPage === totalPageArray.length ? 1 : 0));  index as i;">
              <li>
                <!-- +1의 의미는 현재 페이지에서 앞에 li를 하나 더 나오게 한다는 의미-->
                <div (click)="paginate( totalPageArray.length - ( (totalPageArray.length - currentPage + 1 + ( currentPage === totalPageArray.length ? 1 : 0)) - i ) )" [ngClass]="{'p-reviews__pagination--number-bold' : currentPage === (totalPageArray.length - ( (totalPageArray.length - currentPage + 1 + ( currentPage === totalPageArray.length ? 1 : 0))- i)) }">{{totalPageArray.length - ( (totalPageArray.length - currentPage + 1 + ( currentPage === totalPageArray.length ? 1 : 0))- i) }}</div>
              </li>
            </span>
          </span>
        </span>
      </span>
      <li *ngIf="currentPage !== totalPageArray.length">
        <div (click)="paginate(currentPage + 1)">
          <svg width="9" height="14" viewBox="0 0 9 14">
            <path fill="none" fill-rule="evenodd" stroke="#767676" stroke-width="2" d="M1 13l6-6.05L1 1"/>
          </svg>
        </div>
      </li>
    </ul>
  </div>

</div>

