@import '~src/assets/scss/abstracts/variables';

button {
  margin-top : 5px;
  width : 3.2rem;
  height : 3.2rem;
  border : solid 1px #e5e5e5;
  border-radius : 50%;
  position: relative;

  .horizontal-line {

    @include absCenter;
    display:inline-block;
    border : solid 1px #e5e5e5;
    width : 8px;
    height : 2px;
  }

  .vertical-line {

    @include absCenter;
    display:inline-block;
    border : solid 1px #e5e5e5;
    height : 8px;
    width : 2px;
  }

}

.active {
  border : solid 1px #979797 !important;
}
