@import '~src/assets/scss/abstracts/variables';

ui-footer {
  display: block;
}

router-outlet {

  @include respond(desktop){
    padding-top : 6rem;
    display:block;
  }
}



onpicks-free-delivery-notibox {
  z-index:9999;
  position:absolute;
  right : $default-padding;
  pointer-events: none;
  will-change: transform;
  opacity: 0;
  transition-duration: .5s;
  transition-property: transform, opacity;

  @include respond(tb){
    right : auto;
    @include horizontalCenter;
  }

  @media only screen and (max-width: 28.25em) {
    width : calc(100% - 3.2rem);
  };
}
