@import '~src/assets/scss/abstracts/variables';

.modal {
  &__currency {
    display:block;
    &--title {
      padding : 0 2.4rem;
      display:table;
      height: 7.6rem;
      width:100%;
      border-bottom : 1px solid $color-light-grey;
    }

    &--item {
      display:table;
      height: 5.6rem;
      width:100%;
      cursor: pointer;

      &--inner {
        padding : 0 1.6rem;
      }

      &:hover {
        background-color : $color-light-grey;
      }
    }
  }
}

onpicks-modal {
  display:none;

  @include respond(desktop){
    display:block;
  }
}

.kakao-speach-bubble {
  position: fixed;
  display:inline-block;
  z-index:100000;
  background-image: url(https://img.onpicks.com/assets/social/kakao-speach-bubble.png);
  background-repeat : no-repeat;
  background-size: 27.7rem 8.7rem;
  width: 27.7rem;
  height : 8.7rem;
  right : 7rem;
  bottom : 0.5rem;
  @include respond(tb){
    display:none;
  }
}

.kakao-plus-friend {
  display:inline-block;
  position: fixed;
  z-index:100000;
  right : 2rem;
  width: 4rem;
  height: 4rem;
  transition: bottom .5s;
  transition-delay : .2s;

  //@include respond(tb){
  //  right : 2rem;
  //}
  &__image {
    background-image: url(https://img.onpicks.com/assets/social/kakao-plus-friend.png);
    width :100%;
    height :100%;

    background-size : 100% 100%;
    @include respond(tb){

      width :100%;
      height :100%;
      background-image: url(https://img.onpicks.com/assets/social/kakao-plus-friend.png);
      background-size : 100% 100%;
    }
  }

}

.onpicks__advertisement {
  display:table;
  height:3rem;
  width:100%;
  text-align : center;
  background-color : $color-light-black;

  @include respond(desktop){
    display:none;
  }

  &--center {
    width:100%;
    display: table-cell;
    vertical-align: middle;
  }
}



.onpicks-padding {
  padding : 0 2.4rem;
  @include respond(fb){
    padding : 0 2.4rem;
  }
}

ui-footer {
  display: block;
}

router-outlet {

  @include respond(desktop){
    padding-top : 7.6rem;
    // padding-top : 9.9rem;
    display:block;
  }
}



onpicks-free-delivery-notibox {
  z-index:9999;
  position:absolute;
  right : $default-padding;
  pointer-events: none;
  will-change: transform;
  opacity: 0;
  transition-duration: .5s;
  transition-property: transform, opacity;

  @include respond(tb){
    right : auto;
    @include horizontalCenter;
  }

  @media only screen and (max-width: 28.25em) {
    width : calc(100% - 3.2rem);
  };
}
