<div class="row">
  <div class="col-3-of-12 my-reviews-navigator">
    <nav class="">
      <ul>
        <li>
          <button
            class="subtitle-2-bold u-color-grey"
            routerLinkActive="u-color-black"
            routerLink="written-reviews" >
            내가 쓴 리뷰
          </button>
        </li>
        <li>
          <button
            class="subtitle-2-bold u-color-grey"
            routerLinkActive="u-color-black"
            routerLink="available-reviews">
            작성 가능한 리뷰
          </button>
        </li>
      </ul>
    </nav>

  </div>
  <router-outlet></router-outlet>


</div>
