<ng-container *ngIf="(sellersData | async) as sellers">
  <div class="p-other-sellers u-margin-bottom">
    <h1 class="h1-bold p-other-sellers__title">
      <span i18n="@@word__compare-other-seller">그외 셀러</span><span class="subtitle-2-regular u-color-dark-grey">{{sellers.timestamp}}}</span>
    </h1>

    <div class="p-other-sellers__table">
      <div class="p-other-sellers__table--row subtitle-1-regular u-color-dark-grey">
        <div><span i18n="@@word__compare-seller">셀러</span></div>
        <div><span i18n="@@word__compare-price">가격</span></div>
        <div><span i18n="@@word__compare-savings">가격비교</span></div>
      </div>
      <div *ngFor="let seller of sellers.sellers" class="p-other-sellers__table--row">
        <div><span class="subtitle-1-regular">{{seller.seller}}</span></div>
        <div>
          <span class="subtitle-1-bold">{{seller.price | onpicksCurrency: (currency| async)}}</span><br>
          <span i18n="@@word__compare-shipping" class="u-color-dark-grey"> 배송비 </span>
          <span class="u-color-dark-grey"> {{seller.shipping_fee |  onpicksCurrency: (currency| async)}}</span>
        </div>
        <div>
          <span class="subtitle-1-bold u-color-green">+{{seller.offset | onpicksCurrency: (currency| async)}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
