<ng-container *ngIf="(sellersData | async) as sellers">
  <div class="p-other-sellers u-margin-bottom">
    <h1 class="h1-bold p-other-sellers__title">
      그외 셀러<span class="subtitle-2-regular u-color-dark-grey">{{sellers.timestamp}}}</span>
    </h1>

    <div class="p-other-sellers__table">
      <div class="p-other-sellers__table--row subtitle-1-regular u-color-dark-grey">
        <div><span>셀러</span></div>
        <div><span>가격</span></div>
        <div><span>가격비교</span></div>
      </div>
      <div *ngFor="let seller of sellers.sellers" class="p-other-sellers__table--row">
        <div><span class="subtitle-1-regular">{{seller.seller}}</span></div>
        <div><span class="subtitle-1-bold">{{seller.price | onpicksCurrency: (currency| async)}}<br>
        +배송비 {{seller.shipping_fee |  onpicksCurrency: (currency| async)}}
        </span></div>
        <div>
          <span class="subtitle-1-bold u-color-green">+{{seller.offset | onpicksCurrency: (currency| async)}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
