@import '~src/assets/scss/abstracts/variables';

.p-other-sellers {

  &__title {
    margin-bottom : 2.4rem;

    span {
      margin-left : 1.6rem;
    }
  }

  &__table{
    width : 64.8rem;

    span {
      position: relative;
      left: 0.8rem;
    }

    &--row{

      border-bottom : 1px solid $color-light-grey;
      &:first-child{
        padding-bottom: 1.6rem;
      }
      &:not(:first-child) {
        padding: 1.6rem 0 ;
      }
      & > div {
        vertical-align: middle;;
        display:inline-block;

        &:nth-child(1) {
          width:21.6rem;
          margin-right : 7.1rem;
        }

        &:nth-child(2) {
          width:13.6rem;
          margin-right : 7.1rem;
        }

        &:nth-child(3) {
          width:15.4rem;
        }

      }

      &:not(:first-child) > div {

        &:last-child {
          text-align:right;
        }
      }
    }
  }

  //&__table {
  //  width : 648px;
  //  table-layout:fixed;
  //
  //  word-break:break-word;
  //  tr{
  //    border-bottom: 1px solid $color-grey;
  //  }
  //
  //  //th {
  //  //  padding-bottom:1.6rem;
  //  //  font-size: 1.6rem;
  //  //  text-align:left;
  //  //  color : $color-grey;
  //  //  letter-spacing: 0.04rem;
  //  //  font-weight: 500;
  //  //  word-wrap: break-word;
  //  //}
  //  td {
  //
  //    overflow: hidden;
  //
  //    font-size: 1.6rem;
  //    line-height: 1.75;
  //    letter-spacing: 0.44px;
  //    font-weight: 400;
  //    &:nth-of-type(1){
  //      width : 216px;
  //      margin-right:47px;
  //    }
  //
  //    &:nth-of-type(2){
  //      width:216px;
  //    }
  //
  //    &:nth-of-type(3){
  //      width:122px;
  //    }
  //
  //
  //
  //  }
  //
  //  div {
  //    margin-left: 0.8rem;
  //  }
  //}

}
