<div class="communicate-box-only">
  <div class="communicate-box-only__inner">

    <!--<div class="p-customer__images&#45;&#45;profile-box-inner">-->
    <div class="communicate-box-only__figure">
      <figure>
        <span class="communicate-box-only__figure--image-outer">
          <img drLazyLoad src="https://s3.amazonaws.com/img.onpicks.com/profile-john.png" alt="Person on a tour" class="story__img">
        </span>

        <figcaption class="communicate-box-only__caption subtitle-1-bold">John</figcaption>
        <!--<!--[@divState] (load) ---->
        <ui-star-rating></ui-star-rating>
        <span>Aug 13, 2018</span>
      </figure>
      <div class="communicate-box-only__figure--option subtitle-1-regular u-color-grey">맛: 믹스베이 세트 : 1번세츠 ( 12팩 )</div>
    </div>
    <div class="communicate-box-only__reviews">
      <div class="communicate-box-only__reviews--my-reviews body-1-regular">
        굉장히 맛있어요 .. 제 입맛인데 시큼하기도 하고 쫀득하네요 프로틴바는 늘 토코 맛인데 전혀 초코아닌 것들만 먹었었는데 , 이건 믹스베리라서 더 건강하고 상큼한맛이에요. 지루하지않게 먹을수 있으니 좋네요!
      </div>
      <div class="communicate-box-only__reviews--other-reviews">
        <div class="communicate-box-only__reviews--other-reviews-item">
          <span class="subtitle-1-bold">clara__gloria</span>
          <span class="body-1-regular">저도 생각보다 맛있더라구요👍</span>
        </div>
        <div class="communicate-box-only__reviews--other-reviews-item">
          <span class="subtitle-1-bold">내가그린기린그림은잘그린기린그림이고네가그린기린그림은잘못그</span>
          <span class="body-1-regular">맛있더라구요👍</span>
        </div>
        <div class="communicate-box-only__reviews--other-reviews-item">
          <span class="subtitle-1-bold">내가그린기린그림은잘그린기린그림이고네가</span>
          <span class="body-1-regular">맛있더라구요👍굉장히 맛있어요 .. 제 입맛인데 시큼하기도 하고 쫀득하네요 프로틴바는 늘 토코 맛인데 전혀 초코아닌 것들만 먹었었는데 , 이건 믹스베리라서 더 건강하고 상큼한맛이에요. 지루하지않게 먹을수 있으니 좋네요!</span>
        </div>

        <div class="communicate-box-only__reviews--other-reviews-item">
          <span class="subtitle-1-bold">내가그린기린그림은잘그린기린그림이고네가</span>
          <span class="body-1-regular">맛있더라구요👍굉장히 맛있어요 .. 제 입맛인데 시큼하기도 하고 쫀득하네요 프로틴바는 늘 토코 맛인데 전혀 초코아닌 것들만 먹었었는데 , 이건 믹스베리라서 더 건강하고 상큼한맛이에요. 지루하지않게 먹을수 있으니 좋네요!</span>
        </div>

        <div class="communicate-box-only__reviews--other-reviews-item">
          <span class="subtitle-1-bold">내가그린기린그림은잘그린기린그림이고네가</span>
          <span class="body-1-regular">맛있더라구요👍굉장히 맛있어요 .. 제 입맛인데 시큼하기도 하고 쫀득하네요 프로틴바는 늘 토코 맛인데 전혀 초코아닌 것들만 먹었었는데 , 이건 믹스베리라서 더 건강하고 상큼한맛이에요. 지루하지않게 먹을수 있으니 좋네요!</span>
        </div>
      </div>
    </div>
    <div class="communicate-box-only__feature">
      <a href="#">
        <img src="https://s3.amazonaws.com/img.onpicks.com/thumbs-up-icon.jpg" alt="">
        <span class="communicate-box-only__feature--item action-1-medium">추천하기</span>
      </a>
      <a href="#">
        <img src="https://s3.amazonaws.com/img.onpicks.com/share-icon.jpg" alt="">
        <span class="communicate-box-only__feature--item action-1-medium">공유하기</span>
      </a>
      <a href="#">
        <span class="communicate-box-only__feature--report action-1-medium-grey">신고하기</span>
      </a>
    </div>
    <div class="communicate-box-only__input-reviews">
      <input type="text" placeholder="댓글 달기">
    </div>
  </div>

</div>

<div class="communicate-box__outer">

</div>



