<div class="onpicks-select-box">
  <button (click)="clickSortBox()" class="onpicks-select-box__fore-button">
    {{ selectedElement.title }}
    <svg *ngIf="!isOpen" width="10" height="7" viewBox="0 0 10 7">
      <path fill="none" fill-rule="evenodd" stroke="#008489" stroke-width="2" d="M1 1l4.033 4L9 1"/>
    </svg>
    <svg *ngIf="isOpen" width="10" height="7" viewBox="0 0 10 7">
      <path fill="none" fill-rule="evenodd" stroke="#008489" stroke-width="2" d="M9 6L4.967 2 1 6"/>
    </svg>
  </button>
  <div #HTMLdropDown class="onpicks-select-box__dropdown">
    <div class="onpicks-select-box__dropdown--shape">
      <div>
        <div *ngFor="let item of sortList" class="onpicks-select-box__dropdown--element">
          <div class="onpicks-select-box__dropdown--element-outer">
            <label  (click)="clickSortBoxElement(f)" for="" class="onpicks-select-box__dropdown--element-label">
              <input #f type="radio" data-value="{{item.value}}" data-name="{{item.title}}">
              <span class="onpicks-select-box__dropdown--element-text">{{item.title}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
