@import '~src/assets/scss/abstracts/variables';


//<div class="onpicks-sort-box">
//<button class="onpicks-sort-box__fore-button">
//                                        Most Helpful
//<svg>
//
//</svg>
//</button>
//<div class="onpicks-sort-box__dropdown">
//<div class="onpicks-sort-box__dropdown--design">
//<div>
//<div class="onpicks-sort-box__dropdown--element">
//<label for="">



.onpicks-select-box{
  position:relative;
  display:block;
  height:100%;
  background-color: $color-white !important;

  &__fore-button {
    border-radius: 2px;
    border : solid 1px $color-light-grey;
    display:inline-block;
    color: #292929;
    width :100%;
    height:100%;
    font-size:1.4rem;
    padding: 10px 16px 10px 16px;
    line-height:1.43;
    letter-spacing: 0.03rem;
    text-align: left;
    background-color: transparent;

    // MUST TODO : API 어떤 언어로 들어갈지 -> header 에다가 값을 넣기만 하면됨. country region이 어딘지
    // header에 넣기만 하면 되는데 어떻게 하지?

    svg {
      float : right;
      margin-top : 3px;
      // ray.kim
      // top right bottom left
      // svg 중앙 맞추기 위한 처리
      //padding: 5px 10px 8px 3px;

    }
  }

  &__dropdown {
    display:none;
    left:0;
    top : 39px;
    width:100%;
    position:absolute;

    &--shape {
      position:relative;
      background-color:white;
      z-index:1;
      border-radius: 2px;
      border : solid 1px #e5e5e5;
      box-shadow: 0 6px 12px 0 rgba(227, 227, 227, 0.5);
    }

    &--element {
      position:relative;
      z-index : 3;
      transition: background-color .2s;
      &:not(:last-child) {
        border-bottom:  solid 1px $color-light-grey;
      }

      &:hover {
        background-color: #e5e5e5;
      }
      &-outer {
        display: block;
        height:100%;
        width:100%;
      }

      &-label {
        cursor:pointer;
        width:100%;
        display:block;
        // top right bottom left
        padding: 10px 16px 10px 16px;
        input {
          display : none;
        }
      }

      &-text {
        font-size : 1.4rem;
        font-weight : 500;
        line-height:1.43;
        letter-spacing : 0.03rem;
        color : #767676;
        white-space : nowrap;

      }
    }
  }
}
//border-radius: 2px;
//border : solid 1px $color-light-grey;


//text-indent : 1.6rem;
//width : 100%;
//           height:4rem;
//margin-bottom:1.6rem;
//font-size:1.4rem;
//line-height:1.43;
//letter-spacing: 0.03rem;
//
//background-color:$color-white;
