@import '~src/assets/scss/abstracts/variables';

.c-header{

  width:100%;
  height : 6rem;

  &__category {
    position: relative;
    width:100%;
    height:inherit;

    &--ul {
      @include verticalCenter;
    }

    &--li{
      list-style : none;
      display:inline-block;
      &:not(:last-child){
        margin-right : 7.2rem;
      }
    }
  }
}



.c-category-content {
  &__title {
    margin-top : 2.4rem;
  }
}
