@import '~src/assets/scss/abstracts/variables';

.my-shopping-navigator{

  @include respond(actb){
    display:none;
  }
  &__item {
    margin-bottom: 1.6rem;
  }
}

.my-shopping-router {
  @include respond(actb){
    width :100%;
  }
}
