<div class="row-list-line-up category-list">
  <div class="category-list__title h1-bold">인기 카테고리</div>
  <div class="category-list__content--outer">
    <onpicks-circle-n-button
      *ngIf="isShowButton && (-imageIndex !== (popularCategory.length - 6) && popularCategory.length > 6)"
      (click)="nextButton()"
      [right]="'-2rem'">
    </onpicks-circle-n-button>
    <onpicks-circle-p-button
      *ngIf="isShowButton && imageIndex !== 0 "
      (click)="prevButton()"
      [left]="'-2rem'">
    </onpicks-circle-p-button>
    <div class="category-list__content">
      <ul #container class="category-list__ul">
        <li
          #itemList
          *ngFor="let item of popularCategory"
          class="col-2-of-12-list-line-up category-list__item">
          <div [routerLink]="item.href">
            <div class="category-list__image--outer">
              <img drCleanLoad src="{{item.imgSrc}}" alt="{{item.name}} 카테고리">
            </div>
            <div class="category-list__item--name">
              {{item.name}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


