@import '~src/assets/scss/abstracts/variables';

.my-reviews-navigator {

  @include respond(actb){
    display:none;
  }
  nav {
    ul {
      list-style: none;
      li {
        margin-bottom: 1.6rem;
      }
    }
  }
}

.my-reviews-router {
  @include respond(actb){
    width :100%;
  }
}
