<div class="row">
  <onpicks-order-navigator></onpicks-order-navigator>
</div>

<div class="checkout-success">

  <div class="checkout-success__icon">
    <svg width="40" height="40" viewBox="0 0 40 40">
      <g fill="none" fill-rule="evenodd">
        <path fill="#008489" d="M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20"/>
        <path fill="#FFF" d="M18.968 23.896l.014.014-.014-.014zm-1.517.014l-.01.01.01-.01zm.767 3.313h-.013a2.573 2.573 0 0 1-1.86-.811l-4.934-5.146a1.817 1.817 0 1 1 2.623-2.517l4.185 4.367 7.737-8.007a1.818 1.818 0 0 1 2.613 2.527l-8.506 8.802a2.57 2.57 0 0 1-1.845.785z"/>
      </g>
    </svg>
  </div>
  <div class="checkout-success__title">주문이 완료되었습니다</div>
  <div class="checkout-success__order-num">주문번호
    <span class="u-color-green">{{ orderCode}}</span>
  </div>
  <div class="checkout-success__description">
    <div class="checkout-success__description--1">- 해외직구상품의 경우는 세법상 현금영수증 발급대상 거래가 아닙니다.</div>
    <div class="checkout-success__description--2">- 휴대폰결제관련 문의는 LGU+전자결제 고객센터 1544-7772 로 연락해주시기 바랍니다.</div>
  </div>

  <onpicks-button
    [routerLink]="'/shops'"
    [width]="'13.4rem'"
    [type]="'white'"
    [size]="'big'">
    계속 쇼핑하기
  </onpicks-button>
  <onpicks-button
    [routerLink]="'/account/my-shopping/orders'"
    [width]="'13.4rem'"
    [marginLeft]="'1.6rem'"
    [size]="'big'"
    [type]="'black'">
    주문 현황보기
  </onpicks-button>

</div>



