<ui-banner-carousel
  [imagesLargeList]="pantryAndHouseHoldBannerImages" [height]="40"></ui-banner-carousel>

<onpicks-category-list
  [popularCategory]="popularPantryCategory"
></onpicks-category-list>

<onpicks-today-collection [todayCollection]="todayCollection"></onpicks-today-collection>

<onpicks-popular-brand [popularBrand]="popularBrand"></onpicks-popular-brand>


<!--<ui-mini-list i18n-setTitle="@@shops__popular-goods" setTitle="''"></ui-mini-list>-->
<!--<ui-mini-list i18n-setTitle="@@shops__recently-viewed" setTitle="''"></ui-mini-list>-->
<!--<ui-mini-list i18n-setTitle="@@shops__suggestion-goods" setTitle="''"></ui-mini-list>-->
