@import '~src/assets/scss/abstracts/variables';

@keyframes shine {
  to {
    background-position:
      450px 0px /* move highlight to right */
  }
}

.p-menu{
  position:absolute;
  z-index:1;
  width:38.4rem;
  background-color : $color-white;
  border : 1px solid $color-light-grey;
  border-radius : 4px;
  margin-left: 7.3rem;
  will-change: transform;

  @include respond(desktop){
    position: static;
    z-index: auto;
    border : 0;
    width : 100%;
    margin-left: 0;
  }

  &__inner-margin {
    margin:2.4rem;

    @include respond(desktop){
      margin : 0;
    }
  }

  &__title {
    display:inline-block;
    margin-bottom : 0.8rem;
  }


  &__product-info {

    &--title {
      margin-bottom : 0.4rem;
    }

    &--reviews{
      @include respond(desktop){
        display:none;
      }
      &--read-reviews {
        display:inline-block;
        margin-left : 0.8rem;

      }
    }


    &--MSRP {
      margin-top : 0.2rem;
      &-name {

      }
      &-discount {
        text-decoration: line-through;
      }
      &-description {
        margin-left : 0.8rem;
      }
    }


    &--price {
      position:relative;
      margin-top : 0.4rem;
      margin-bottom: 2.4rem;

      svg {
        display:inline-block;
        vertical-align: text-bottom;
      }

      onpicks-sort-box {
        float :right;
        margin-top : -4px;
      }

      &-discount {
        margin-left: 0.4rem;

        margin-right: 0.8rem;
      }

      &-realprice {
        // margin-left: 4px;
      }

      &-perprice {
        position:absolute;
        top: 1px;
        display:inline-block;
        font-size: 1.4rem;
        line-height:1.71;
        letter-spacing: 0.03rem;
        color: $color-black;
      }

      &-comparison-option {
        position:absolute;
        top: 3px;
        right:0;
        @include sortDropbox;
      }
    }
  }

  &__chart {
    clear:both;
    position: relative;
    & > canvas {

    }
  }

  h4 {
    margin-bottom : 0.8rem;
  }

  &__icon-list {
    display:inline-block;
    float:right;

    span:first-child {
      margin-right: 1.6rem;
    }

    @include respond(desktop){
      display:none;
    }
  }

  &__initial-date-title{

    display:inline-block;
    margin-top : 0.5rem;
    margin-left: 0.2rem;
    font-size:1.4rem;
    letter-spacing: 0.03rem;
    color : $color-grey;

    &:not(:last-of-type) {
      margin-right: 10rem;
    }
  }

  &__delivery {
    margin-top : 2.4rem;
    margin-bottom : 2.4rem;
    border-top :1px solid $color-light-grey;
    border-bottom: 1px solid $color-light-grey;
    height : 9.4rem;

    &--first {
      margin-bottom :  0.8rem;
      & > span{
        display:inline-block;
        vertical-align:top;

        &:nth-of-type(2){
          // margin-left: 0.8rem;
          //margin-top: -3px;
          margin-top : -2px;
        }
        &:nth-of-type(3){
          //margin-top : -2px;
          //margin-left: 4px;
        }
      }

      &-spot {
        // vertical-align: top;
      }
      &-info {
        // vertical-align: top;
      }
    }

    &--second {
      margin-top: 0.8rem;
    }

    &--inner {
      padding: 2.4rem 0;
    }
  }

  &__options {


    @include respond(desktop){
      display:none;
    }
    &--title {
      margin-bottom: 1.6rem;
    }

    onpicks-select-box {
      display : block;
      margin-bottom : 1.6rem;
      height : 4rem;
      width : 100%;

      &:last-of-type {
        display:inline-block;
        width:8.3rem;
        height:4.6rem;
        vertical-align: top;
      }
    }
  }

  hr {
    margin : 2.4rem 0 ;
  }
}
