<div class="p-refund">
  <h1 class="h1-bold">환불교환 / 배송고시</h1>

  <div class="p-refund__title subtitle-1-bold">교환 및 반품</div>
  <ul class="p-refund__section body-2-regular">
    <li>교환 및 반품은 고객센터를 통해 진행됩니다.</li>
    <li>상품 수취일로부터 7일이 경과한 제품은 교환 및 환불이 불가합니다.</li>
    <li>상품의 라벨 제거, 사용 흔적 및 소비자의 책임으로 발생한 상품가치하락 등의 경우 교환 및 환불이 불가합니다.</li>
    <li>온픽스 실수로 인한 오배송 배송중 파손에 대해서는 온픽스에서 교환 및 환불 처리를 해드립니다.</li>
    <li>단순변심에 의한 교환 및 반품의 경우 취소수수료(결제 금액의 20% 가량)와 해외 및 국내 왕복 배송비는 구매자 부담으로 진행됩니다.</li>
    <li>제품하자에 의한 교환 및 반품의 경우 수취 직후 사진 등의 자료를 확보해 주셔야 하며, 해외 및 국내 왕복 배송비는 온픽스의 부담으로 진행됩니다.</li>
  </ul>

  <div class="p-refund__title subtitle-1-bold">배송</div>
  <ul class="p-refund__section body-2-regular">
    <li>배송은 일반적으로 결제확인 후 영업일 기준 3일부터 최대 9일까지 소요될 수 있으며, 세관 통관 지연이나, 천재지변등 특정 한 사유가 생길경우 배송기간에 변동이 생길 수 있습니다.</li>
    <li>도서산간 및 오지의 경우, 추가 배송비가 발생할 수 있습니다.</li>
    <li>수취인 연락처 및 주소 확인이 안되어 반송되는 경우 배송비 및 취소수수료는 구매자 부담으로 진행 되오니 정확한 기재를 부탁드립니다.</li>
  </ul>

  <div class="p-refund__title subtitle-1-bold">개인통관고유부호</div>
  <ul class="p-refund__section body-2-regular">
    <li>통관을 위하여 받는 분 명의의 개인통관고유부호(or Foreign Registration Number)를 필수적으로 기재하여 주셔야 합니다.</li>
    <li>개인통관고유부호(or Foreign Registration Number)의 오입력에 따른 배송지연 및 통관불가에 대해서는 책임지지 않으니 이점 유의 하시기 바랍니다.</li>
  </ul>

  <div class="p-refund__title subtitle-1-bold">관세 및 통관</div>
  <ul class="p-refund__section body-2-regular">
    <li>일반통관의 경우 $150, 목록통관의 경우 $200 이상 구매시 관세가 발생하게 됩니다.</li>
  </ul>

</div>
