<div class="checkout-failure">
  <div class="checkout-failure--left">
    <svg class="checkout-failure--failure-button" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
      <g fill="none" fill-rule="evenodd">
        <path fill="#EC380B" d="M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20"/>
        <path fill="#FFF" d="M22.62 20.5l4.94-4.94a1.5 1.5 0 1 0-2.12-2.12l-4.94 4.938-4.94-4.939a1.5 1.5 0 0 0-2.12 2.121l4.939 4.94-4.94 4.938a1.5 1.5 0 1 0 2.121 2.121l4.94-4.94 4.94 4.94a1.496 1.496 0 0 0 2.12 0 1.498 1.498 0 0 0 0-2.12l-4.94-4.94z"/>
      </g>
    </svg>


    <h1 class="checkout-failure--title h1-bold">
      결제가 정상적으로 처리되지 않았습니다.
    </h1>

    <div class="checkout-failure--message body-2-regular">
      {{failureMassage}}
    </div>

    <div class="body-2-regular">
      고객센터 : 1800-8109  평일 10:00 ~ 17:00
    </div>
    <div class="body-2-regular">
      점심시간 13:00 ~ 14:00 (토/일/공휴일 휴무)
    </div>

    <onpicks-button
      routerLink="/order/checkout"
      [type]="'black'"
      [size]="'big'"
      [width]="'inherit'"
      [padding]="false">
      다시 시도
    </onpicks-button>
  </div>
  <div class="checkout-failure--right">
    <img class="checkout-failure--image" [src]="imageHost + '/assets/misc/checkout-failure.png'" alt="">
  </div>
</div>
