
<ng-container [ngSwitch]="type">
  <label for="radio" *ngSwitchDefault class="radio-checkbox" (click)="deselectBox(f)" [ngStyle]="{ 'margin-right' : marginRight }">
    <input id="radio" class="radio-checkbox__input" type="radio" name="radio" #radioBoxView >
    <span class="radio-checkbox__checkmark">
    </span>
    <span>
      <ng-container *ngTemplateOutlet="tempOutlet" ></ng-container>
    </span>
  </label>

  <div for="checkbox" *ngSwitchCase="'checkbox'" class="normal-checkbox" (click)="clickBox(checkBoxView)" [ngStyle]="{ 'margin-right' : marginRight }">
    <input id="checkbox" class="normal-checkbox__input" type="checkbox"  #checkBoxView>
    <span class="normal-checkbox__checkmark">
    </span>
    <span>
      <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
    </span>
  </div>
</ng-container>

<ng-template #tempOutlet>
  <ng-content></ng-content>
</ng-template>





