<ui-banner-carousel
  [imagesLargeList]="shopsCarouselBannerImages"
  [height]="40">
</ui-banner-carousel>

<onpicks-category-list
  [popularCategory]="popularCategory">
</onpicks-category-list>

<onpicks-today-collection></onpicks-today-collection>
<onpicks-popular-brand [popularBrand]="popularBrands$ | async"></onpicks-popular-brand>

<ui-banner [bannerInfo]="shopsBannerImage"> </ui-banner>

<ui-mini-list>

</ui-mini-list>

<ui-mini-list
  [mobileType]="'half'"
  [setTitle]="'추천상품'"
  [infoList]="weeklyBest$ | async">
</ui-mini-list>

<ui-mini-list
  [mobileType]="'half'"
  [setTitle]="'최근 본 상품'"
  [infoList]="(recentlyViewed$ | async)?.results">
</ui-mini-list>
