
<div class="row">
  <onpicks-order-navigator></onpicks-order-navigator>
</div>
<div class="checkout-no-bank" *ngLet="orderInfo$ | async as data">
  <div class="checkout-no-bank__icon">
    <svg width="40" height="40" viewBox="0 0 40 40">
      <g fill="none" fill-rule="evenodd">
        <path fill="#008489" d="M40 20c0 11.046-8.954 20-20 20S0 31.046 0 20 8.954 0 20 0s20 8.954 20 20"/>
        <path fill="#FFF" d="M18.968 23.896l.014.014-.014-.014zm-1.517.014l-.01.01.01-.01zm.767 3.313h-.013a2.573 2.573 0 0 1-1.86-.811l-4.934-5.146a1.817 1.817 0 1 1 2.623-2.517l4.185 4.367 7.737-8.007a1.818 1.818 0 0 1 2.613 2.527l-8.506 8.802a2.57 2.57 0 0 1-1.845.785z"/>
      </g>
    </svg>
  </div>

  <div class="checkout-no-bank__title">주문이 완료되었습니다</div>
  <div class="checkout-no-bank__order-num">주문번호 <span class="u-color-green">{{}}</span></div>

  <table>
    <tr>
      <td>입금은행</td>
      <td>{{data.payment_detail.bank}}</td>
    </tr>
    <tr>
      <td>입금계좌</td>
      <td>{{data.payment_detail.account_number}}({{data.payment_detail.recipient}})</td>
    </tr>
    <tr>
      <td>입금금액</td>
      <td><b>{{data.grand_total | onpicksCurrency : (currency | async) }}</b></td>
    </tr>
    <tr>
      <td>입금기한</td>
      <td>{{data.payment_detail.deposit_until | date : 'medium'}}</td>
    </tr>
  </table>

  <div class="checkout-no-bank__description">
    <div class="checkout-no-bank__description--1">- 주문후 3영업일 이내 입금확인이 되지 않으면 주문이 자동취소될 수 있습니다.</div>
    <div class="checkout-no-bank__description--2">- 입금 시 입금자와 주문자 이름과는 상관이 없이 금액만 일치하면 정상 입금처리가 됩니다.</div>
    <div class="checkout-no-bank__description--3">- 무통장입금 결제 시 부분취소가 불가하며 전체취소 후 다시 주문해주시기를 바랍니다.</div>
    <div class="checkout-no-bank__description--4">- 해외직구상품의 경우는 세법상 현금영수증 발급대상 거래가 아닙니다.</div>
  </div>

  <onpicks-button
    [routerLink]="'/shops'"
    [width]="'13.4rem'"
    [type]="'white'"
    [size]="'big'">
    계속 쇼핑하기
  </onpicks-button>
  <onpicks-button
    [routerLink]="'/account/my-shopping/orders'"
    [width]="'13.4rem'"
    [marginLeft]="'1.6rem'"
    [size]="'big'"
    [type]="'black'">
    주문 현황보기
  </onpicks-button>

</div>



