<ng-container *ngIf="isShow">
  <div class="modal">
    <div class="modal--outer">
      <div class="modal__delete--outer">
        <span
          (click)="exitEvent.emit()"
          class="modal__delete">

        </span>
      </div>

      <ng-content></ng-content>
    </div>
  </div>
  <div class="outer">

  </div>
</ng-container>


<!--<span *ngIf="insertedValue !== ''"-->
      <!--(click)="deleteText()"-->
      <!--class="p-reviews__search-reviews&#45;&#45;input-delete">-->
  <!--</span>-->


