@import '~src/assets/scss/abstracts/variables';

html, body {
  overflow: hidden;
}

.modalForMenu {
  margin-top : 53px;
  top:0;
  position: fixed;
  z-index : 9997;
  width : 55.2rem;
  border-radius: 4px;
  box-shadow: 0 6px 12px 0 rgba(227, 227, 227, 0.5);
  border: solid 1px $color-light-grey;
  background-color :$color-white;
  overflow : auto;

  @include respond(desktop){
    width:100%;
    height:100%;
  }

  &__outer {
    position: relative;
  }
}


.outer {

  overflow: auto;
  top : 0;
  left : 0;
  background-color : $color-black;
  opacity : .5;
  z-index : 9996;
  position:fixed;
  width : 100%;
  height : 100%;

  @include respond(tb){
    display:none;
  }
}

.modal {
  padding : 2.4rem;
  position: fixed;
  z-index : 9997;
  width : 55.2rem;
  border-radius: 4px;
  box-shadow: 0 6px 12px 0 rgba(227, 227, 227, 0.5);
  border: solid 1px $color-light-grey;
  background-color :$color-white;
  overflow : auto;

  @include respond(tb){
    width:100%;
    height:100%;
  }

  @include justCenter;

  &--outer {
    position: relative;
  }

  &__delete {
    display:inline-block;
    cursor : pointer;
    width:2.6rem;
    height:2.6rem;
    top: 0rem;
    right: 0rem;
    position:absolute;
    margin-bottom : 0.8rem;


    &:hover {
      opacity : 0.5;
    }
    &--outer {
      display: block;
      width : 100%;
      height : 2.6rem;
    }

    &::before,
    &::after {
      margin-top : 0.5rem;
      width: 2.6rem;
      height: 2px;
      background-color: $color-dark-grey;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;

      right : 0;
    }

    &::before { top: 0.8rem; transform: rotate(135deg) }
    &::after { top: 0.8rem; transform: rotate(-135deg) }
  }
}
