<ng-container *ngIf="!(router.url.split('/')[2].indexOf('search') > -1)">
  <div
    class="c-category-navigator__title subtitle-1-bold">
    {{searchCategoryService.currentTitle === undefined ? searchCategoryService.currentTitle : searchCategoryService.currentTitle[locale]}}
  </div>
  <div class="c-category-navigator__content">
    <nav class="subtitle-3-bold u-color-dark-grey">
      <ul #depthOuter *ngIf="route.url | async as lastUrl">
        <li #oneDepth *ngFor="let firstCategoryCode of searchCategoryService.normalizedCategoryCodeList">
          <!--twoDepth-->
          <div class="c-category-navigator__item">
            <a (click)="searchCategoryService.updateSecondCategory(firstCategoryCode, searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].slug)"
               [ngClass]="searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].active ? 'main-active' : 'main-deactive'" >
              {{searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].name[locale]}}
            </a>
            <label (click)="searchCategoryService.onedepthFold(f1, label1)" >
              <svg #label1 width="10" height="8" viewBox="0 0 10 8"
                   [ngStyle]="{'transform': searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].active ? 'rotate(-180deg)' : 'rotate(0deg)' }">
                <polyline
                  points="1 2 5 6 9 2"
                  [ngClass]="searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].active ? 'u-color-stroke-black' : f1.style.maxHeight == '3500px' ? 'u-color-stroke-dark-grey' : 'u-color-stroke-grey'"
                  fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
              </svg>
            </label>
          </div>
          <!--threeDepth-->
          <ul #f1
              [ngStyle]="{'maxHeight': searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].active ? '3500px' : '0px' }">
            <li #twoDepth *ngFor="let secondCategoryId of searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].children">
              <div class="c-category-navigator__item">
                <!--첫번째 category가 active되있는ㄴ지 아닌지 판단해서 색감넣음-->
                <a (click)="searchCategoryService.updateThirdCategory(
                                      secondCategoryId,
                                      searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].slug,
                                      searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].slug)"
                   [ngClass]="searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].active && !searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].active
                                        ? searchCategoryService.previous.thirdPrevious !== undefined ? 'main-deactive' : 'sub-active' : searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].active ?  'main-active' : 'main-deactive' ">
                  {{searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].name[locale]}}
                </a>
                <!--3dpeth-->
                <label *ngIf="searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].children.length !== 0 " for="" (click)="searchCategoryService.twodepthFold(f2, label2)"  >
                  <svg #label2
                       width="10" height="8" viewBox="0 0 10 8" xmlns="http://www.w3.org/2000/svg"
                       [ngStyle]="{ 'transform' : searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].active ? 'rotate(-180deg)' : 'rotate(0deg)' }">
                    <polyline points="1 2 5 6 9 2"
                              [ngClass]="searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].active ? 'u-color-stroke-black' : f2.style.maxHeight == '700px' ? 'u-color-stroke-grey' : 'u-color-stroke-light-grey'"
                              fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  </svg>
                </label>
              </div>

              <ul #f2
                  [ngStyle]="{
                              'maxHeight' : searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].active ? '700px' : '0px' }">
                <li #threeDepth *ngFor="let thirdCategoryId of searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].children">
                  <div class="c-category-navigator__item">
                    <a
                      (click)="searchCategoryService.updateFourthCategory(
                                      thirdCategoryId,
                                      searchCategoryService.normalizedCategoryInfoList.secondCategory[firstCategoryCode].slug,
                                      searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].slug,
                                      searchCategoryService.normalizedCategoryInfoList.fourthCategory[thirdCategoryId].slug)"
                      [ngClass]="searchCategoryService.normalizedCategoryInfoList.thirdCategory[secondCategoryId].active ?  lastUrl[1] == searchCategoryService.normalizedCategoryInfoList.fourthCategory[thirdCategoryId].slug ? 'main-active' : 'sub-active' : 'main-deactive'">
                      {{ searchCategoryService.normalizedCategoryInfoList.fourthCategory[thirdCategoryId].name[locale] }}
                    </a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!--<div>-->
    <!--<a *ngIf="" class="subtitle-3-bold u-color-green">숨기기</a>-->
    <!--</div>-->
  </div>
</ng-container>
