@import '~src/assets/scss/abstracts/variables';

.footer {
  height:14rem;
  background-color : $color-dark-black;

  color : $color-white;

  &__first-floor {
    height : 6.8rem;

    position:relative;
    hr {
      width:100%;
      position:absolute;
      bottom:0;
      border : none;
      height: 1px;
      //color: $color-white; // for old IE
      background-color : $color-white;
    }
  }

  &__miscell {
    @include verticalCenter;
    right: 0;
    display: inline-block;
    font-size:1.4rem;
    line-height:1.36;
    letter-spacing : 0.03rem;
    text-transform: uppercase;

    span:not(:last-of-type) {
      margin-right: 3.2rem;
    }
  }

  &__nav {

    @include verticalCenter;
    display:inline-block;
    ul {

      li {
        a{
          color : $color-white;
          font-weight : 400;
        }
        list-style: none;
        display:inline-block;
        font-size: 1.4rem;

        margin-right: 6.5rem;
      }
    }
  }



  &__second-floor {
    position:relative;
    height : 7.2rem;
  }

  &__copyright {
    @include verticalCenter;
    display: inline-block;
    font-size : 1.4rem;
  }

  &__share {
    @include verticalCenter;
    right: 0;
    display: inline-block;

    &--instargram {
      margin-right: 1.6rem;
    }
  }
}


//<footer class="footer u-default-site-padding">
//<div class="footer__first-floor">
//<nav class="footer__nav">
//<ul>
//<li>About Us</li>
//<li>Blog</li>
//<li>Career</li>
//<li>Contact</li>
//<li>FAQ</li>
//<li>Privacy Policy</li>
//<li>Terms of Use</li>
//</ul>
//</nav>
//<div class="footer__miscell">
//<span class="footer__miscell--nation">usa</span>
//<span class="footer__miscell--currency">usd&nbsp;$</span>
//<span class="footer__miscell--language">eng</span>
//</div>
//</div>
//<div class="footer__second-floor">
//<p class="footer__copyright">
//
//</p>
//<div class="footer__share">
//<a class="footer__share--instargram" href=""></a>
//<a class="footer__share--facebook" href=""></a>
//</div>
//</div>
//</footer>
