<ng-template #loading>
  <onpicks-loading-icon></onpicks-loading-icon>
</ng-template>

<div class="col-9-of-12 orders">
  <ng-container *ngIf="orderData$ | async as data; else loading">
    <div class="orders__title-box">
      <h1 class="h1-bold">주문·배송조회</h1>
      <onpicks-sort-box
        [sortList]="sortList">
      </onpicks-sort-box>
    </div>
    <ng-container *ngIf="data?.results.length === 0">
      <div class="u-margin-bottom subtitle-1-regular u-color-dark-grey">
        주문한 상품이 없습니다. Onpicks와 함께 다양한 아이템을 최적의 가격으로 쇼핑하세요!
      </div>

      <ui-mini-list
        [setTitle]="'추천상품'"
        [infoList]="weeklyBest$ | async"
      >

      </ui-mini-list>
    </ng-container>

    <!-- TODO : 이거는 금방 만들수 있을것 같아서, 조금만 작업하고 안함 -->
    <emitter-adhere-table
      (viewModal)="viewModal($event)"
      [data]="data">
    </emitter-adhere-table>

    <onpicks-write-review
      [data]="writeReview"
      (exit)="writeReview.isShow = false;"
      [isShow]="writeReview.isShow">
    </onpicks-write-review>
  </ng-container>
</div>
