@import '~src/assets/scss/abstracts/variables';


$mini-width : 264+24px;

//@keyframes mini-animate-left {
//  0% {
//    transform : translateX(0);
//  }
//
//  100% {
//    transform : translateX(-$mini-width) ;
//  }
//}
//
//@keyframes mini-animate-right {
//  0% {
//    transform : translateX(0);
//  }
//
//  100% {
//    transform : translateX($mini-width) ;
//  }
//}
//
//.mini-animate-left {
//  animation-name: mini-animate-left ;
//  animation-duration: .2s;
//  animation-fill-mode: both;
//}
//
//.mini-animate-right {
//  animation-name: mini-animate-right ;
//  animation-duration: .2s;
//  animation-fill-mode: both;
//}



.ui-mini-list {

  &__delivery-point {
    margin-top : 0.8rem;
    position:relative;

    &--icon {
      margin-right : 0.8rem;
      display:inline-block;
      width : 1.6rem;
      height : 1.6rem;
    }

    &--text {
      position:absolute;
      top: -2px;

    }
  }

  &__price-info {
    margin-top: 0.8rem;

    &--MSRP {
      margin-right: 0.2rem;
      font-size: 1.2rem;
      color: #a0a0a0;
      font-weight: 500;

      &-discount {
        vertical-align: text-top;;
        text-decoration: line-through;
      }
    }

    &--price {
      margin-right: 0.6rem;
    }

    &--discount {
      margin-right: 0.4rem;
    }
  }

  &__item {

    ui-star-rating {
      margin-right : 0.4rem;
    }

    &--name-outer {
      margin-bottom: 0.8rem;

      &-brand {
        margin-bottom: 0.4rem;
      }

      &-name {
        white-space: normal;
        width: 26.4rem;
      }
    }

    &--image-outer {
      margin-bottom: 1.6rem;
      position: relative;
      width: 26.4rem;
      height: 26.4rem;
      onpicks-list-active-button {
        position: absolute;
        right : 0;
        bottom : 0;
      }
      svg {
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;

        path {
          fill: $color-grey;
        }
      }
    }
  }

  &__content {
    position: relative;
    overflow: hidden;
    width: inherit;;
    white-space: nowrap;

    &--outer {
      position: relative;
    }
    ul {

      transition: transform .5s ease 0s;
      li {
        width: 28.8rem;
        vertical-align: top;
        display: inline-block;
        list-style: none;
        & > div {
          width: 26.4rem;
        }

        &:not(:last-child) > div {
          margin-right: 2.4rem;
        }
      }
    }
  }

}
