

<div class="row ui-mini-list u-margin-bottom">

  <h4 #insertTitle class="heading-quaternary"></h4>
  <div class="ui-mini-list__content--outer">
    <onpicks-circle-n-button *ngIf="-imageIndex !== (infoList.length - 4) "[right]="'-2rem'" (click)="nextButton()" ></onpicks-circle-n-button>
    <onpicks-circle-p-button *ngIf="imageIndex !== 0" [left]="'-2rem'" (click)="prevButton()" ></onpicks-circle-p-button>
    <div class="ui-mini-list__content">
      <ul #container>
        <li #itemList *ngFor="let item of infoList; index as i">
          <div class="col-3-of-12 ui-mini-list__item">
            <a href="" routerLink="/shops/p/1">
              <div class="ui-mini-list__item--image-outer">
                <img drCleanLoad src="{{item.imgSrc}}" alt="">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <path d="M16.26,6a2.67,2.67,0,0,1,1.42.42,2.88,2.88,0,0,1,.49.41,3,3,0,0,1,0,4.16l-.91.95L16.21,13l0,.05,0,0,0,0L12,17.39,7.89,13.14l0,0,0,0,0-.05-1-1.08L5.83,11a3,3,0,0,1,0-4.16,2.88,2.88,0,0,1,.49-.41A2.67,2.67,0,0,1,7.74,6a2.62,2.62,0,0,1,1.91.83l.3.31.52.54a2.16,2.16,0,0,0,3.09,0l.49-.5.3-.31A2.62,2.62,0,0,1,16.26,6m0-2a4.65,4.65,0,0,0-3.35,1.44l-.3.31-.49.5a.15.15,0,0,1-.24,0l-.49-.5-.3-.31a4.63,4.63,0,0,0-6.7,0,5,5,0,0,0,0,6.94l.91.94,1,1.09,0,0,5.19,5.37s0,0,0,0a.6.6,0,0,0,.84,0s0,0,0,0l5.19-5.37,0,0,1.05-1.09.91-.94a5,5,0,0,0,0-6.94A4.67,4.67,0,0,0,16.26,4Z"/>
                </svg>
              </div>
            </a>
            <a href="" routerLink="/shops/p/1">
              <div class="ui-mini-list__item--name-outer">
                <p class="ui-mini-list__item--name-outer-brand">{{item.brand}}</p>
                <span class="ui-mini-list__item--name-outer-name">
                {{item.productName}}
              </span>
              </div>
            </a>
            <ui-star-rating [star-point]="item.rating" [size]="10"></ui-star-rating><span class="ui-mini-list__item--reviews-count">{{item.reviewCount}}</span>
            <br>
            <div class="ui-mini-list__bottom">
              <span class="ui-mini-list__bottom--discount">{{item.discountPercent}}%</span>
              <span class="ui-mini-list__bottom--price">${{item.currentPrice}}</span>
              <span class="ui-mini-list__bottom--MSRP">MSRP</span>
              <span class="ui-mini-list__bottom--MSRP-discount">${{item.msrpDiscountPrice}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>




