

<div class="row ui-mini-list u-margin-bottom">

  <h4 #insertTitle class="heading-quaternary"></h4>
  <div class="ui-mini-list__content--outer">
    <onpicks-circle-n-button *ngIf="-imageIndex !== (infoList.length - 4) "[right]="'-2rem'" (click)="nextButton()" ></onpicks-circle-n-button>
    <onpicks-circle-p-button *ngIf="imageIndex !== 0" [left]="'-2rem'" (click)="prevButton()" ></onpicks-circle-p-button>
    <div class="ui-mini-list__content">
      <ul #container>
        <li #itemList *ngFor="let item of infoList; index as i">
          <div class="col-3-of-12 ui-mini-list__item">

              <div class="ui-mini-list__item--image-outer">
                <a href="" routerLink="/shops/p/1">
                <img drCleanLoad src="{{item.imgSrc}}" alt="">
            </a>
                <onpicks-list-active-button></onpicks-list-active-button>
              </div>


            <a href="" routerLink="/shops/p/1">
              <div class="ui-mini-list__item--name-outer">
                <p class="ui-mini-list__item--name-outer-brand">{{item.brand}}</p>
                <span class="ui-mini-list__item--name-outer-name">
                {{item.productName}}
              </span>
              </div>
            </a>
            <ui-star-rating [star-point]="item.rating" [size]="10"></ui-star-rating><span class="ui-mini-list__item--reviews-count">{{item.reviewCount}}</span>
            <br>
            <div class="ui-mini-list__bottom">
              <span class="ui-mini-list__bottom--discount">{{item.discountPercent}}%</span>
              <span class="ui-mini-list__bottom--price">${{item.currentPrice}}</span>
              <span class="ui-mini-list__bottom--MSRP">MSRP</span>
              <span class="ui-mini-list__bottom--MSRP-discount">${{item.msrpDiscountPrice}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>




