
<div class="star-source">
  <svg>
    <linearGradient id="grad" x1="0" x2="100%" y1="0" y2="0">
      <stop offset="50%" stop-color="#292929"/>
      <stop offset="50%" stop-color="#b3b3b3"/>
    </linearGradient>
    <symbol id="star" width="14" height="14" viewBox="0 0 14 14">
      <path d="M10.76,8h0l1.47-1.12L13.69,5.8c.48-.36.39-.66-.2-.66H8.79L8.45,4.06h0L7.89,2.25,7.33.44c-.18-.59-.48-.59-.66,0L5.55,4.06h0L5.21,5.14H.51c-.59,0-.68.3-.2.66L1.77,6.92,3.24,8h0l.87.67-.89,2.88L2.66,13.4c-.19.59.06.78.54.41L7,10.91l2.34,1.78,1.46,1.12c.48.37.73.18.54-.41l-.56-1.81L9.89,8.71Z" transform="translate(0 0)"/>
    </symbol>
  </svg>
</div>


<!--<div class="star-source">-->
  <!--<svg>-->
    <!--<symbol id="star" width="14" height="14" viewBox="0 0 14 14">-->
      <!--<path d="M10.76,8h0l1.47-1.12L13.69,5.8c.48-.36.39-.66-.2-.66H8.79L8.45,4.06h0L7.89,2.25,7.33.44c-.18-.59-.48-.59-.66,0L5.55,4.06h0L5.21,5.14H.51c-.59,0-.68.3-.2.66L1.77,6.92,3.24,8h0l.87.67-.89,2.88L2.66,13.4c-.19.59.06.78.54.41L7,10.91l2.34,1.78,1.46,1.12c.48.37.73.18.54-.41l-.56-1.81L9.89,8.71Z" transform="translate(0 0)" fill="#b3b3b3"/>-->
    <!--</symbol>-->
  <!--</svg>-->

<!--</div>-->


<!--<div class="star-container">-->
  <!--<input type="radio" name="star" id="five">-->
  <!--<label for="five">-->
    <!--<svg class="star">-->
      <!--<use fill="url(#grad)" xlink:href="#star"/>-->
    <!--</svg>-->
  <!--</label>-->
  <!--<input type="radio" name="star" id="four">-->
  <!--<label for="four">-->
    <!--<svg class="star">-->
      <!--<use #test fill="#b3b3b3" xlink:href="#star"/>-->
    <!--</svg>-->
  <!--</label>-->
  <!--<input type="radio" name="star" id="three">-->
  <!--<label for="three">-->
    <!--<svg class="star">-->
      <!--<use fill="#b3b3b3" xlink:href="#star"/>-->
    <!--</svg>-->
  <!--</label>-->
  <!--<input type="radio" name="star" id="two">-->
  <!--<label for="two">-->
    <!--<svg class="star">-->
      <!--<use fill="#b3b3b3" xlink:href="#star" />-->
    <!--</svg>-->
  <!--</label>-->
  <!--<input type="radio" name="star" id="one">-->
  <!--<label for="one">-->
    <!--<svg class="star">-->
      <!--<use fill="#b3b3b3" xlink:href="#star" />-->
    <!--</svg>-->
  <!--</label>-->
<!--</div>-->


<div class="star-container">
  <svg *ngFor="let item of numberArray(5); index as i" class="star">
    <use #shapeStars fill="#b3b3b3" xlink:href="#star"/>
  </svg>
</div>
