label {
  cursor: pointer;
}

svg {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.2rem;
  //& polygon {
  //  fill : grey;
  //}
}

#star{

}

input[name="star"] {
  display: inline-block;
  width: 0;
  opacity: 0;
  margin-left: -0.2rem;
}

/* hide source svg */

.star-source {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* set direction to row-reverse so 5th star is at the end and ~ can be used to fill all sibling stars that precede last starred element*/

.star-container {
  display: inline-block;
}
.star-source {
  display: inline-block;
}
