<div #f class="row wish-list">
  <div class="wish-list__title">다음에 구매하기</div>
  <table class="wish-list__table">
    <tr>
      <td>
        <div class="wish-list__table--image">
          <img src="https://picsum.photos/112/112?image=180" alt="">
        </div>
        <div class="wish-list__table--info">
          <div class="wish-list__table--info-title u-bold">알엑스바</div>
          <div class="wish-list__table--info-name">알엑스바 리얼 푸드 프로틴 에너지바 믹스드 베리 52G / RxBar Real Food Protein Bars Mixed Berry 1.83OZ</div>
          <div class="wish-list__table--info-price u-bold">40,900원</div>
        </div>
      </td>
      <td>
        <div class="wish-list__table--delivery-info">
          <div class="wish-list__table--delivery-info-image">
            <img src="https://s3.amazonaws.com/img.onpicks.com/cart__table--info-N.png" alt="">
          </div>

          <div class="wish-list__table--delivery-info-where"><span class="u-bold">뉴저지</span> 출고</div>
          <div class="wish-list__table--delivery-info-price">무료</div>
          <div class="wish-list__table--delivery-info-description">뉴저지 단독 배송 상품으로 개별 배송료가 발생합니다.</div>
        </div>
      </td>
      <td>
        <button class="btn btn--white btn--small wish-list__table--btn">옵션 선택하기</button>
        <button class="btn btn--white btn--small wish-list__table--btn">삭제하기</button>
      </td>
    </tr>
  </table>
</div>
