<div #outer
     [ngStyle]="
     {
        width : isFixExtend ? '12.8rem' : '4rem',
        borderColor : isFixExtend ? '#e5e5e5' : '#292929'
     }
">


  <span #extendUI
        [ngStyle]="{ display : isFixExtend ? 'table-cell' : ''}"
        class="extendUI">
    <ui-plus-minus-icon
      [opacity]="minusOpacity"
      [color]=" isFixExtend && (amount == 1) ? '#b3b3b3' : '#292929'"
      [size]="'14px'"
      #minusIcon
      [type]="'minus'"></ui-plus-minus-icon>
    <span class="extendUI__number"
    >{{amount}}</span>
  </span>


  <ui-plus-minus-icon
    [opacity]="plusOpactiy"
    [color]="plusColor"
    [size]="plusMinusIconSize"
    #plusIcon
    [ngStyle]="
     {
        left : isFixExtend ? 'auto' : '',
        right : isFixExtend ? '1.9rem' : ''
     }"
    [type]="'plus'" ></ui-plus-minus-icon>

  <span class="touch__amount-up"
        (mousedown)="downOpacity('plus')"
        (mouseup)="upOpacity('plus')"
        (mouseleave)="upOpacity('plus')"
        (click)="extendWidth()"
  ></span>
  <span *ngIf="isExtend" class="touch__amount-down"
        (mousedown)="downOpacity('minus')"
        (mouseup)="upOpacity('minus')"
        (mouseleave)="upOpacity('minus')"
        (click)="amountDown()"
  ></span>
</div>

