.faq {
  margin-top : 3.2rem;

  h3 {
    font-size: 1.8rem;
    line-height : 1.71;
    letter-spacing : 0.03rem;
    margin-bottom: 2.4rem;
  }

  h4 {
    font-weight : 700;
    line-height : 1.71;
    letter-spacing : 0.03rem;
    font-size : 1.4rem;
    margin-bottom : 1.6rem;
  }

  p {
    font-size : 1.4rem;
    letter-spacing : 0.03rem;
    margin-bottom: 2.4rem;
  }

  ul {
    font-size : 1.4rem;
    letter-spacing : 0.03rem;
    margin-bottom: 2.4rem;

    li {
      margin-left : 2.4rem;
    }
  }
}
