<div class="p-item-detail u-margin-bottom">
  <h1
    i18n="@@word__item-detail"
    class="h1-bold">
    상품정보
  </h1>

  <ng-container *ngIf="categoryData[0].code === 2000000">
    <div class="p-item-detail__delivery-banner">
      <img [src]="imageHost + '/intro/product-detail/beauty-delivery.png'" alt="">
    </div>
    <div class="p-item-detail__delivery-banner">
      <img [src]="imageHost + '/intro/product-detail/beauty-process.jpg'" alt="">
    </div>
  </ng-container>
  <ng-container *ngIf="categoryData[0].code !== 2000000">
    <div class="p-item-detail__delivery-banner">
      <img [src]="imageHost + '/intro/product-detail/not-beauty-delivery.png'" alt="">
    </div>
    <div class="p-item-detail__delivery-banner">
      <img [src]="imageHost + '/intro/product-detail/not-beauty-process.jpg'" alt="">
    </div>
  </ng-container>
</div>
