<div class="p-item-detail u-margin-bottom">
  <h1 class="h1-bold">
    상품정보
  </h1>

  <ng-container *ngIf="categoryInfo[0].code === 2000000">
    <div class="p-item-detail__delivery-banner">
      <img src="https://img.onpicks.com/banners/product-detail/beauty-delivery-banner.png" alt="">
    </div>
    <div class="p-item-detail__delivery-banner">
      <img src="https://img.onpicks.com/banners/product-detail/delivery-process.png" alt="">
    </div>
  </ng-container>
  <ng-container *ngIf="categoryInfo[0].code !== 2000000">
    <div class="p-item-detail__delivery-banner">
      <img src="https://img.onpicks.com/banners/product-detail/not-beauty-delivery-banner.png" alt="">
    </div>
    <div class="p-item-detail__delivery-banner">
      <img src="https://img.onpicks.com/banners/product-detail/delivery-process.png" alt="">
    </div>
  </ng-container>

  <!--{{description}}-->
  <!--<img src="http://img.onpicks.com/p-item-detail.jpg" alt="">-->
</div>

<!--IS Description 넣자 -->
