<!--<div class="value-list">-->
  <!--<h1 class="value-list__title h1-bold">식품 인증</h1>-->

  <!--<div class="value-list__content&#45;&#45;outer">-->
    <!--<onpicks-circle-n-button *ngIf="isShowButton && -imageIndex < (valueList.length - 3)" (click)="nextButton()" [right]="'-2rem'"></onpicks-circle-n-button>-->
    <!--<onpicks-circle-p-button *ngIf="isShowButton && imageIndex !== 0" (click)="prevButton()" [left]="'-2rem'"></onpicks-circle-p-button>-->
    <!--<div class="value-list__content">-->
      <!--<ul-->
        <!--#container-->
        <!--class="value-list__ul" >-->
        <!--<li #itemList *ngFor="let item of valueList index as valueIndex" class="value-list__item">-->
          <!--<div  class="value-list__image&#45;&#45;outer">-->
            <!--<img drCleanLoad src="{{item.imgSrc}}" alt="">-->
          <!--</div>-->
          <!--<div class="value-list__item&#45;&#45;title subtitle-2-bold">-->
            <!--{{item.title}}-->
          <!--</div>-->
          <!--<div-->
            <!--(mouseover)=-->
             <!--"currentDescription = item.description;-->
              <!--currentDescriptionTitle = item.title;-->
              <!--currentDescriptionIndex = valueIndex + 1;-->
              <!--isShowDescription = true"-->
           <!--(mouseleave)="isShowDescription = false"-->
           <!--class="value-list__item&#45;&#45;description-icon subtitle-2-bold">!</div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div [ngStyle]="{ left : ((valueList.length - 2) > currentDescriptionIndex) ? (currentDescriptionIndex * 15.5 + (currentDescriptionIndex - 1) * 3.7) + 'rem' : ((currentDescriptionIndex + imageIndex) * (15.5) + (currentDescriptionIndex + imageIndex -1) * 3.7) + 'rem'  , display : isShowDescription ? 'block' : 'none'}"class="value-list__description">-->
      <!--<div class="value-list__description&#45;&#45;title subtitle-2-bold">-->
        <!--{{currentDescriptionTitle}}란? {{currentDescriptionIndex}} {{valueList.length}}-->
      <!--</div>-->
      <!--<div class="value-list__description&#45;&#45;content body-2-regular">-->
        <!--{{currentDescription}}-->
      <!--</div>-->

    <!--</div>-->


  <!--</div>-->
<!--</div>-->


<div class="row-list-scroll popular-brand" *ngIf="valueList.length !== 0">
  <h1
    [ngStyle]="{ padding : type === 'product' ? 0 : '' }"
    class="popular-brand__title h1-bold">성분 인증</h1>
  <div class="popular-brand__content--outer">
    <onpicks-circle-n-button
      *ngIf="isShowButton && imageIndex < (valueList?.length - 6)"
      (click)="nextButton()"
      [right]="'-2rem'">
    </onpicks-circle-n-button>
    <onpicks-circle-p-button
      *ngIf="isShowButton && -imageIndex !== 0"
      (click)="prevButton()"
      [left]="'-2rem'">
    </onpicks-circle-p-button>
    <div class="popular-brand__content">
      <ul
        #container
        class="popular-brand__ul" >
        <ng-container *ngFor="let item of valueList; index as valueIndex">
          <li
            #itemList
            [ngClass]="type === 'product' ? 'col-3-of-12-list-scroll value-list__item' : 'col-2-of-12-list-scroll value-list__item' "
            [ngStyle]="{ marginLeft : type === 'product' ? 0 : '' }"
            *ngIf="isThirdBreakPoint ? true : pressedPrev ? valueIndex < imageIndex + 7 : valueIndex < imageIndex + 6"
            class="col-2-of-12-list-scroll value-list__item">
            <div class="value-list__item--inner">
              <!--(click)="navigate(item?.brand?.slug)"-->
              <div
                (click)="navigate(item.slug)"
                class="value-list__image--outer">
                <img drCleanLoad src="{{item.icon}}" alt="">
              </div>
              <div class="value-list__item--title">
                <div
                  (click)="navigate(item.slug)"
                  class="value-list__item--title--middle subtitle-2-bold">
                  {{item.name}}
                </div>
              </div>

              <div
                (mouseover)=
                  "currentDescription = item.about;
                    currentDescriptionTitle = item.name;
                    currentDescriptionIndex = valueIndex;
                    isShowDescription = true"
                (click)=
                  "currentDescription = item.about;
                    currentDescriptionTitle = item.name;
                    currentDescriptionIndex = valueIndex;
                    isShowDescription = true"
                (mouseleave)="isThirdBreakPoint ? '' : (isShowDescription = false)"
                class="value-list__item--description-icon subtitle-2-bold">!</div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <div
      [ngStyle]="{
        left : ((isThirdBreakPoint ? '10%' : ((currentDescriptionIndex - imageIndex) === 5 ? 4 : (currentDescriptionIndex - imageIndex))) * translateXWidth) + 'px',
        display : isShowDescription ? 'block' : 'none'}"
      class="value-list__description">
      <div class="value-list__description--title subtitle-2-bold">
        {{currentDescriptionTitle}}란?
      </div>
      <div class="value-list__description--content body-2-regular">
        {{currentDescription}}
      </div>
    </div>
  </div>

</div>
