@import "~src/assets/scss/abstracts/variables";


.value-list{
  width : 100%;


  &__description {


    z-index:3;
    position:absolute;
    top: 25%;
    width : 31.91%;
    white-space : pre-line;
    padding : 1.6rem;
    background-color : $color-white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);

    @include respond(tb){
      width :80%;
      left: 10%;
    }

    &--title {
      margin-bottom : 0.8rem;
    }
  }
  &__content {
    white-space: nowrap;
    overflow: hidden;


    &::after {
      position:absolute;
      top:0;
      right:0;
      width: 7.2rem;
      height : 18rem;
      background-image: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
      @include respond(tb) {
        background-image : none;
      }
      content : '';
      display:inline-block;
    }
    transition: -ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s !important;
    @include respond(tb){
      overflow : auto;
      &::-webkit-scrollbar{
        display :none;
      }
    }
    &--outer {
      position:relative;
    }
  }
  &__ul {

    transition: transform .5s ease 0s;

    @include respond(tb){
      transition : none;
    }
  }

  &__title {
    margin-bottom: 2.4rem;
  }

  &__image--outer {
    display:inline-block;
    width: 100%;
    padding-top: 66.666%;
    cursor : pointer;


    //@include respond(fb){
    //  height: auto;
    //}

    img {
      @include imageAspactRatio;

    }
  }

  &__item {
    float : none !important;
    display:inline-block;
    position:relative;
    border-radius:4px;

    margin-right : 0 !important;

    &--inner {
      width : 100%;
      display:inline-block;
      background-color : #fafafa;
      position:relative;
    }

    &--description-icon {
      cursor: pointer;
      text-align: center;

      display: inline-block;
      width : 2.4rem;
      height : 2.4rem;
      top: 1.6rem;
      right: 1.6rem;
      position:absolute;
      border-radius : 50%;
      background-color:$color-white;
    }

    @include respond(tb){
      width : 34.44%;
    }

    img {
      user-select: none;
    }

    &--title {
      cursor: pointer;
      padding : 2.4rem 0;
      width :100%;
      text-align: center;
    }
  }
}

.popular-brand {
  width: 100%;


  &__content {

    white-space: nowrap;
    overflow: hidden;
    @include respond(tb){
      overflow-x : auto;
      &::-webkit-scrollbar{
        display :none;
      }
    }
    &--outer {
      position:relative;
    }
  }

  &__ul {

    transition: transform .5s ease 0s;

    @include respond(tb){
      transition : none;
    }
  }

  &__title {
    margin-bottom : 2.4rem;

    @include respond(tb){
      margin-bottom : 1.6rem;
    }

  }

  &__image--outer {
    display:inline-block;
    width: 100%;
    padding-top: 66.666%;
    margin-bottom : 2.4rem;

    @include respond(tb){
      margin-bottom : 1.6rem;
    }

    @include respond(fb){
      height: 100%;
    }

    img {
      width:100%;
      height:100%;
      border-radius : 50%;
    }
  }

  &__item {
    float : none !important;
    display:inline-block;
    position:relative;
    img {
      user-select: none;
    }
    &--name {
      text-align: center;
      width:9rem;
      margin : 0 auto;
      display:block;
    }
  }
}

