@import "~src/assets/scss/abstracts/variables";


.value-list{
  width : 100%;

  &__content {
    white-space: nowrap;
    overflow: hidden;
    &::after {
      position:absolute;
      top:0;
      right:0;
      width: 7.2rem;
      height : 18rem;
      background-image: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
      @include respond(tb) {
        background-image : none;
      }
      content : '';
      display:inline-block;
    }
    transition: -ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s !important;
    @include respond(tb){
      overflow : auto;
      &::-webkit-scrollbar{
        display :none;
      }
    }
    &--outer {
      position:relative;
    }
  }
  &__ul {

    transition: transform .5s ease 0s;

    @include respond(tb){
      transition : none;
    }
  }

  &__title {
    margin-bottom: 2.4rem;
  }

  &__image--outer {
    display:inline-block;
    width: 100%;
    height : 10.8rem;
    margin-bottom: 1.6rem;

    @include respond(fb){
      height: auto;
    }

    img {
      width:100%;
      height:100%;

    }
  }

  &__item {
    width : 25.928%;
    float : none !important;
    vertical-align: top;
    display:inline-block;
    border-radius:4px;
    background-color : #fafafa;
    height : 18rem;
    margin-right : 2.4rem;

    @include respond(tb){
      width : 34.44%;
    }

    img {
      user-select: none;
    }

    &--title {
      width :100%;
      text-align: center;
    }
  }
}
