<div class="login">

  <div class="login__social">
    <div>
      <button class="login__social--naver login__social--btn btn--hover">
        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"  x="0px" y="0px" viewBox="0 0 24 24" >
          <g>
            <polygon fill="#FFFFFF" points="15.8,1 15.8,12.1 8.2,1 0,1 0,23 8.2,23 8.2,11.9 15.8,23 24,23 24,1 	"/>
          </g>
        </svg>
        <span class="subtitle-2-regular u-color-white">네이버 계정으로 로그인</span>
      </button>
    </div>
    <div>
      <button class="login__social--kakao login__social--btn btn--hover">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" x="0px" y="0px" viewBox="0 0 24 24">
          <path fill="#381E1F" class="st1" d="M12,1C5.4,1,0,5.2,0,10.5c0,3.4,2.3,6.4,5.7,8.1c-0.3,0.9-0.9,3.4-1,3.9c-0.2,0.7,0.2,0.6,0.5,0.5
            c0.2-0.1,3.3-2.2,4.6-3.1c0.7,0.1,1.5,0.2,2.2,0.2c6.6,0,12-4.2,12-9.5S18.6,1,12,1z"/>
        </svg>
        <span style="color:#3c1e1e;" class="subtitle-2-regular">카카오 계정으로 로그인</span>
      </button>
    </div>
    <div>
      <button class="login__social--facebook login__social--btn btn--hover">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <g fill="none" fill-rule="evenodd">
            <rect width="24" height="24" fill="#FFF" rx="4"/>
            <path fill="#385084" d="M16.56 24v-9.423h3.12l.466-3.673H16.56V8.56c0-1.063.29-1.788 1.795-1.788h1.918V3.486c-.332-.045-1.47-.145-2.795-.145-2.766 0-4.659 1.711-4.659 4.854v2.708H9.692v3.673h3.127V24h3.74z"/>
          </g>
        </svg>
        <span class="subtitle-2-regular u-color-white">페이스북 계정으로 로그인</span>
      </button>
    </div>
    <div>
      <button class="login__social--google login__social--btn btn--hover">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
          <defs>
              <path id="a" d="M0 2.549L3.267.012a5.722 5.722 0 0 0 8.734 2.762l3.19 2.57a9.694 9.694 0 0 1-6.523 2.51A9.73 9.73 0 0 1 0 2.55z"/>
              <path id="b" d="M1.103.013L4.368 2.52a5.708 5.708 0 0 0-.358 1.996c0 .687.121 1.346.343 1.956l-3.285 2.48A9.688 9.688 0 0 1 0 4.518C0 2.892.399 1.359 1.103.013z"/>
              <path id="c" d="M3.283 7.734L.018 5.225A9.729 9.729 0 0 1 8.645 0a9.7 9.7 0 0 1 6.896 2.866l-2.825 2.846a5.722 5.722 0 0 0-9.433 2.022z"/>
          </defs>
          <g fill="none" fill-rule="evenodd">
              <path fill="#FFF" d="M0 0h24v24H0z"/>
              <path fill="#4285F4" d="M18.253 18.949l-3.187-2.573a5.736 5.736 0 0 0 2.027-2.653h-5.304v-4.01h9.461a9.77 9.77 0 0 1 .158 3.028 9.707 9.707 0 0 1-3.155 6.208z"/>
              <use fill="#34A853" transform="translate(3.061 13.605)" xlink:href="#a"/>
              <use fill="#FBBC05" transform="translate(2 7.213)" xlink:href="#b"/>
              <use fill="#EA4335" transform="translate(3.085 2)" xlink:href="#c"/>
          </g>
        </svg>
        <span class="subtitle-2-regular">구글 계정으로 로그인</span>
      </button>
    </div>
  </div>

  <div class="login__or-line">
    <span class="login__or-line--active">
      <span class="login__or-line--text">
        또는
      </span>
    </span>
  </div>

  <div class="login__input-box">
    <form>
      <input type="text" #inputEmail placeholder="이메일 주소"/>
      <input type="password" autocomplete #inputPassword (keypress)="login($event)" placeholder="비밀번호"/>
    </form>
  </div>


  <div class="login__miscell">
    <onpicks-check-box [labelName]="'로그인 상태 유지'"></onpicks-check-box>
    <span ><a href="" routerLink="/member/forgot-password" class="u-float-right u-color-green u-regular">비밀번호가 생각나지 않으세요?</a></span>
  </div>
  <button class="btn btn--black login__btn" (click)="loginClick($event)">로그인</button>

  <div class="login__line"></div>

  <div class="login__no-account">
    <span class="login__no-account--text">
      <span class="subtitle-2-regular">Onpicks 계정이 없으세요?</span> <span class=""><a href="" class="subtitle-2-bold u-color-green" routerLink="/member/signup">회원가입 ></a></span>
    </span>
  </div>
</div>

