<div class="login">
  <div class="login__social">
    <div class="login__social--naver login__social--btn">
      <span>네이버 계정으로 로그인</span>
    </div>
    <div class="login__social--kakao login__social--btn">
      <span>카카오 계정으로 로그인</span>
    </div>
    <div class="login__social--facebook login__social--btn">
      <span>페이스북 계정으로 로그인</span>
    </div>
    <div class="login__social--google login__social--btn">
      <span>구글 계정으로 로그인</span>
    </div>
  </div>

  <div class="login__or-line">
    <span class="login__or-line--active">
      <span class="login__or-line--text">
        또는
      </span>
    </span>
  </div>

  <div class="login__input-box">
    <input type="text" placeholder="이메일 주소"/>

    <input type="text" placeholder="비밀번호"/>
  </div>


  <div class="login__miscell">
    <onpicks-check-box [labelName]="'로그인 상태 유지'"></onpicks-check-box>
    <span ><a href="" routerLink="/member/forgot-password" class="u-float-right u-color-green u-regular">비밀번호가 생각나지 않으세요?</a></span>
  </div>
  <button class="btn btn--black login__btn" (click)="login()">로그인</button>

  <div class="login__line"></div>

  <div class="login__no-account">
    <span class="login__no-account--text">
      Onpicks 계정이 없으세요? <span class=""><a href="" class="u-color-green u-bold" routerLink="/member/signup">회원가입 ></a></span>
    </span>
  </div>
</div>

