
<div class="delivery-address">
  <h1 class="h1-bold">배송지</h1>
  <ng-container *ngIf="deliveryList.length != 0">
    <div *ngFor="let list of numbers" class="delivery-address__row">
      <!--TODO : use a method : propotionally increase or decrease size https://stackoverflow.com/questions/8894506/can-i-scale-a-divs-height-proportionally-to-its-width-using-css-->
      <div *ngFor="let item of deliveryList.slice( 3 * (list - 1), 3 * (list))"  [ngClass]="item.isDefault ? 'isActive' : 'isNotActive'" class="col-4-of-12 delivery-address__col">
        <div class="delivery-address__col--padding">
          <div class="delivery-address__col--name subtitle-2-bold">{{item.name}}</div>
          <div class="delivery-address__col--address subtitle-2-regular">{{item.zipCode}}, {{item.address1}}, {{item.address2}}</div>
          <div class="delivery-address__col--phoneNumber subtitle-2-regular">{{item.phoneNumber}}</div>
          <div class="delivery-address__col-bottom">
            <div *ngIf="!item.isDefault" class="delivery-address__col-bottom--isDefault subtitle-2-regular u-color-dark-grey">기본 배송지로 설정</div>
            <div *ngIf="item.isDefault" class="delivery-address__col-bottom--isDefault subtitle-2-regular u-color-green">기본 배송지</div>
            <div class="delivery-address__col-bottom--modify subtitle-2-regular u-color-grey">수정하기</div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <button class="delivery-address__btn btn--small btn--white">+배송지 추가</button>
  </ng-container>
  <ng-container *ngIf="deliveryList.length == 0">
    <div class="delivery-address__insert-box">
      <div class="delivery-address__insert-box--row">
        <div class="subtitle-2-regular">받는분</div>
        <onpicks-input-box [placeholder]="'받는분 성함'" [width]="'40.8rem'"></onpicks-input-box>
      </div>
      <div class="delivery-address__insert-box--row">
        <div class="subtitle-2-regular">받는분 연락처</div>
        <onpicks-input-box [placeholder]="'받는분 연락처'" [width]="'40.8rem'"></onpicks-input-box>
      </div>
      <div class="delivery-address__insert-box--row">
        <div class="subtitle-2-regular">주소</div>
        <onpicks-input-box [marginRight]="'1.6rem'" [placeholder]="'우편번호'" [width]="'27.8rem'"></onpicks-input-box>
        <onpicks-button [type]="'white'" [width]="'11.4rem'">우편번호 찾기</onpicks-button>
      </div>
      <div class="delivery-address__insert-box--row">
        <onpicks-input-box [placeholder]="''" [width]="'40.8rem'"></onpicks-input-box>
      </div>
      <div class="delivery-address__insert-box--row">
        <onpicks-input-box [placeholder]="'상세주소를 입력하세요'" [width]="'40.8rem'"></onpicks-input-box>
      </div>
    </div>
    <onpicks-button [type]="'white'" [width]="'10.1rem'">배송지 저장</onpicks-button>
  </ng-container>
</div>

