<div class="p-thumbnail u-margin-bottom">
  <div class="p-thumbnail__large-outer">
    <ui-simple-carousel
      [imagesLargeList]="imagesLargeList"
      [imagesSmallList]="imagesSmallList"
      [width]="64.8"
      [height]="64.8">
    </ui-simple-carousel>
    <!--<img src="http://img.onpicks.com/p-thumbnail__large.jpg" alt="">-->
    <!--<a href="#">-->
      <!--<svg xmlns="http://www.w3.org/2000/svg" width="15" height="26" viewBox="0 0 15 26">-->
        <!--<path fill="none" fill-rule="evenodd" stroke="#E5E5E5" stroke-width="2" d="M1 25l12-12.098L1 1"/>-->
      <!--</svg>-->
    <!--</a>-->

    <!--<a href="#">-->
      <!--<svg xmlns="http://www.w3.org/2000/svg" width="15" height="26" viewBox="0 0 15 26">-->
        <!--<path fill="none" fill-rule="evenodd" stroke="#E5E5E5" stroke-width="2" d="M1 25l12-12.098L1 1"/>-->
      <!--</svg>-->
    <!--</a>-->

  </div>
</div>




