@import '~src/assets/scss/abstracts/variables';

.p-thumbnail {
  position: relative;
  width: 64.8rem;

  @include respond(desktop) {
    width: 100%;
  }
  &__large {

    &--share {
      display:none;
      position:absolute;
      top : 1.6rem;
      right : 1.6rem;
      z-index:10;
      @include respond(desktop){
        display:inline-block;
      }
    }

    &--outer {


    }
  }
}



