@import '~src/assets/scss/abstracts/variables';
onpicks-help-navigator {
  @include respond(actb){
    display:none;
  }
}

.faq {
  margin-top : 3.2rem;


  &__contents {
    @include respond(actb){
      width : 100%;
    }
  }
  &__title {
    margin-bottom : 2.4rem;
  }

  &__sub-title {
    margin-bottom: 1.6rem;
  }


  p {
    margin-bottom: 2.4rem;
    white-space : pre-line;
  }

  ul {
    margin-bottom: 2.4rem;

    li {
      margin-left : 2.4rem;
    }
  }
}
