<div class="signup">
  <div class="signup__social">
    <div class="signup__social--naver signup__social--btn">
      <span>네이버 계정으로 가입하기</span>
    </div>
    <div class="signup__social--kakao signup__social--btn">
      <span>카카오 계정으로 가입하기</span>
    </div>
    <div class="signup__social--facebook signup__social--btn">
      <span>페이스북 계정으로 가입하기</span>
    </div>
    <div class="signup__social--google signup__social--btn">
      <span>구글 계정으로 가입하기</span>

    </div>
  </div>

  <div class="signup__or-line">
    <span class="signup__or-line--active">
      <span class="signup__or-line--text">
        또는
      </span>
    </span>
  </div>

  <div class="signup__input-box">
    <input type="text" placeholder="이메일을 입력해주세요"/>

    <input type="text" placeholder="이름을 입력해주세요"/>

    <input type="text" placeholder="비밀번호를 입력해주세요"/>
  </div>


  <div class="signup__description">
    가입하기를 클릭하면 본인은 만 14세 이상이며, Onpicks
    <span><a href="" routerLink="/terms" class="u-color-green u-regular">이용약관</a></span>,
    <span><a href="" routerLink="/terms/privacy" class="u-color-green u-regular">개인정보 처리 방침</a></span>을 확인 하였으며, 동의하는 것입니다.
  </div>
  <button class="btn btn--black signup__btn">동의하고 가입하기</button>

  <div class="signup__line"></div>

  <div class="signup__already-account">
    <span class="signup__already-account--text">
      이미 Onpicks 계정이 있나요? <span class="u-color-green u-bold">&nbsp;&nbsp;로그인 ></span>
    </span>
  </div>
</div>

