@import '~src/assets/scss/abstracts/variables';


.banner-carousel {

  top: 0;
  margin-top:0;
  padding-top:0;

  &__item {
    height:inherit;

    &--image-outer {
      height: inherit;
      width:100%;
      overflow:hidden;
      float:left;

      img {
        width:100%;
        height:inherit;
        object-fit : cover;
        object-position: center;
        //background-size: cover;
        //background: url("https://picsum.photos/1920/440?image=96") center;
      }



      svg {
        position:absolute;
        top : 1.6rem;
        right : 1.6rem;

        path {
          fill : $color-grey;
        }
      }
    }
  }

  &__content {
    position:relative;
    width:100%;
    overflow:hidden;
    white-space: nowrap;


    .circle-navigate{

      &__active {
        background-color : white !important;
      }

      position : relative;
      bottom : 50px;

      &__outer {
        @include horizontalCenter;
        display:inline-block;


        span{
          width : 20px;
          height : 20px;
          border-radius : 50%;
          position : relative;
          background-color : grey;
          display : inline-block;

          &:not(:last-child){

            margin-right: 5px;
          }
        }
      }
    }

    &--outer {
      position:relative;
    }
    ul{

      transition: transform .5s ease 0s;
      li {
        width:100%;
        height:inherit;
        vertical-align : top;
        display: inline-block;
        list-style: none;
        & > div {
          width :100%;
        }

        &:not(:last-child) > div {
          margin-right : 2.4rem;
        }
      }
    }
  }
}

