<div class="banner-carousel u-margin-bottom">
  <div class="banner-carousel__content--outer">

    <div class="banner-carousel__content">
      <ul #container>
        <li #itemList *ngFor="let item of imagesLargeList; index as i">
          <div class="banner-carousel__item">
            <div class="banner-carousel__item--image-outer">
              <img drLazyLoad src="{{item}}" alt="">
            </div>
          </div>
        </li>
      </ul>
      <div class="circle-navigate" >
        <div  #circleNavigate class="circle-navigate__outer">
          <span *ngFor="let item of imagesLargeList.slice(0, imagesLargeList.length - 2); index as i" [ngClass]="{ 'circle-navigate__active' : imageIndex === i + 1 }"></span>
        </div>
      </div>
    </div>
    <onpicks-circle-n-button (click)="nextButton()" ></onpicks-circle-n-button>
    <onpicks-circle-p-button (click)="prevButton()" ></onpicks-circle-p-button>
  </div>
</div>



