<div #f class="row wish-list" *ngIf="wishList$ | async as data">
  <div class="wish-list__title h1-bold">다음에 구매하기</div>
  <table class="wish-list__table">
    <tr *ngFor="let item of data">
      <td>
        <div class="wish-list__table--image">
          <img src="{{item.thumbnail}}" alt="">
        </div>
        <div class="wish-list__table--info">
          <div class="wish-list__table--info-title subtitle-3-bold">{{item.brand}}</div>
          <div class="wish-list__table--info-name body-3-regular">{{item.title}}</div>
          <div class="wish-list__table--info-price subtitle-2-bold">{{item.price | onpicksCurrency: 'KRW'}}</div>
        </div>
      </td>
      <td>
        <div class="wish-list__table--delivery-info">
          <div class="wish-list__table--delivery-info-image">
            <img src="http://img.onpicks.com/cart__table--info-N.png" alt="">
          </div>

          <div class="wish-list__table--delivery-info-where">
            <span class="subtitle-2-bold">{{item.location.name}}</span>
            <span class="subtitle-2-regular"> · </span><span class="subtitle-2-bold">무료배송</span></div>
          <div class="wish-list__table--delivery-info-description subtitle-2-regular u-color-dark-grey">{{item.location.name}} 단독 배송 상품 {{item.location.free_shipping_threshold | onpicksCurrency: 'KRW'}} 이상 주문시 무료 배송</div>
        </div>
      </td>
      <td>
        <button class="btn btn--white btn--small wish-list__table--btn">옵션 선택하기</button>
        <button
          (click)="deleteWishList()"
          class="btn btn--white btn--small wish-list__table--btn">삭제하기</button>
      </td>
    </tr>
  </table>
</div>
