<div #f class="row wish-list" [ngStyle]="{ minHeight : contentHeight }" *ngIf="wishList$ | async as data">
  <div i18n="@@wish-list__title" class="wish-list__title h1-bold">다음에 구매하기</div>
  <ng-container *ngIf="data.length === 0">
    <div
      i18n="@@wish-list__description"
      class="u-margin-bottom subtitle-1-regular u-color-dark-grey">
      다음에 구매할 상품이 없습니다. 다음에 구매할 상품을 담아주세요!
    </div>
    <ui-mini-list
      setTitle="'추천상품'"
      i18n-setTitle="@@recommand-products__title"
      [infoList]="weeklyBest$ | async">
    </ui-mini-list>
  </ng-container>

  <table class="wish-list__table">
    <tr *ngFor="let item of data; index as wishListIndex">
      <td>
        <div class="wish-list__table--image">
          <img src="{{ item.thumbnail }}" alt="">
        </div>
        <div class="wish-list__table--info">
          <div class="wish-list__table--info-title subtitle-3-bold">{{ item.brand }}</div>
          <div class="wish-list__table--info-name body-3-regular">{{ item.title }}</div>
          <div class="wish-list__table--info-price subtitle-2-bold">{{ item.price | onpicksCurrency: (currency| async) }}</div>
        </div>
      </td>
      <td>
        <div class="wish-list__table--delivery-info">

          <ng-container [ngSwitch]="locale">
            <ng-container *ngSwitchCase="'ko'">

              <div class="wish-list__table--delivery-info-where subtitle-2-regular">
                <onpicks-flag-icon [_data]="item"></onpicks-flag-icon>
                <span class="u-bold">{{item.location.name}}</span>&nbsp;출고&nbsp;·&nbsp;
              </div>
              <div class="wish-list__table--delivery-info-price subtitle-2-bold"
                   *ngIf="item.individual_shipping">&nbsp;
                무료 배송
              </div>
              <div
                class="wish-list__table--delivery-info-price subtitle-2-regular"
                *ngIf="item.shipping_fee > 0">
                묶음배송 · {{item.shipping_fee | onpicksCurrency:(currency| async)}}
              </div>

              <div
                class="wish-list__table--delivery-info-description subtitle-2-regular u-color-dark-grey">
                {{item.location.name}} 묶음배송 상품 {{item.location.free_shipping_threshold | onpicksCurrency: (currency| async)}} 이상 주문시 무료 배송
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'en'">
              <div
                class="wish-list__table--delivery-info-where--en subtitle-2-regular">
                <onpicks-flag-icon [_data]="item"></onpicks-flag-icon>
                Shipping from&nbsp;<span class="u-bold">{{item.location.name}}</span>
              </div>
              <div
                class="wish-list__table--delivery-info-price subtitle-2-bold"
                *ngIf="item.shipping_fee == 0">
                Free shipping&nbsp;
              </div>
              <ng-container *ngIf="item.shipping_fee > 0">
                <div
                  class="wish-list__table--delivery-info-price subtitle-2-bold">
                  {{item.shipping_fee | onpicksCurrency:item.currencyInfo}} shipping
                </div>
                <div
                  class="wish-list__table--delivery-info-description subtitle-2-regular u-color-dark-grey">
                  Free shipping over {{item.location.free_shipping_threshold | onpicksCurrency: item.currencyInfo}} with {{item.location.name}} items.
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </td>
      <td>
        <button
          i18n="@@word__choose-option"
          *ngIf="item.attributes.length !== 0"
          [routerLink]="'/shops/p/' + item.product"
          class="btn btn--white btn--small wish-list__table--btn">
          옵션 선택하기
        </button>
        <button
          i18n="@@word__add-to-cart"
          (click)="moveWishListToCart(1, item, item.individual_shipping ? 'free' : locationMap[item?.location.code]?.sequence, item.id, wishListIndex)"
          *ngIf="item.attributes.length === 0"
          class="btn btn--white btn--small wish-list__table--btn">
          쇼핑백에 담기
        </button>
        <button
          i18n="@@word__remove"
          (click)="deleteWishList(item.id, wishListIndex)"
          class="btn btn--white btn--small wish-list__table--btn">
          삭제하기
        </button>
      </td>
    </tr>
  </table>
</div>

<!--<div class="cart__wishlist-table&#45;&#45;delivery-info-price subtitle-2-regular"-->
     <!--*ngIf="!item.individual_shipping">묶음배송 · {{item.location.base_shipping_fee | onpicksCurrency:(currency| async)}}</div>-->
<!--<div class="cart__wishlist-table&#45;&#45;delivery-info-description subtitle-2-regular u-color-dark-grey">뉴저지 묶음배송 상품으로 {{item.location.location.free_shipping_threshold | onpicksCurrency: (currency| async)}} 이상 주문시 배송료 무료</div>-->
<!--</div>-->
<!--</td>-->
<!--<td>-->
  <!--<button-->
    <!--*ngIf="item.attributes.length !== 0"-->
    <!--class="btn btn&#45;&#45;white btn&#45;&#45;small cart__wishlist-table&#45;&#45;btn"-->
    <!--[routerLink]="'/shops/p/' + item.product">옵션 선택하기</button>-->
  <!--<button-->
    <!--(click)="moveWishListToCart(1, item.product, item.individual_shipping ? 'free' : locationMap[item?.location.code]?.sequence, item.id, i)"-->
    <!--*ngIf="item.attributes.length === 0"-->
    <!--class="btn btn&#45;&#45;white btn&#45;&#45;small cart__wishlist-table&#45;&#45;btn"-->
  <!--&gt;쇼핑백에 담기</button>-->
